@font-face {
    font-family: 'Gadugi';
    src: url('../fonts/Gadugi.eot?v=4.7.0');
    src: url('../fonts/Gadugi.eot?#iefix&') format('embedded-opentype'), url('../fonts/Gadugi.woff?') format('woff2'), url('../fonts/Gadugi.ttf?') format('truetype'), url('../fonts/Gadugi.svg?v=4.7.0#Gadugi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gadugi-Bold';
    src: url('../fonts/Gadugi-Bold.eot?v=4.7.0');
    src: url('../fonts/Gadugi-Bold.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/Gadugi-Bold.woff?v=4.7.0') format('woff'), url('../fonts/Gadugi-Bold.ttf?v=4.7.0') format('truetype'), url('../fonts/Gadugi-Bold.svg?v=4.7.0#Gadugi-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #3D4146;
}

body {
    overflow-x: hidden;
    background: #ededed;
}

a {
    color: #fff;
}

.red-color {
    color: #FF496F;
}

.red-color:hover {
    color: #FF496F;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

li {}

ul.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

ul.slick-dots li {
    margin: 0 5px;
}

ul.slick-dots li button {
    border: 1px solid #fff;
    background: none;
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

ul.slick-dots li.slick-active button {
    background: #fff;
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 15px;
}

h1 {
    font-size: 50px;
    line-height: 76px;
}

h2 {
    font-size: 40px;
    line-height: 60px;
}

h3 {
    font-size: 25px;
    line-height: 38px;
}

h6 {}

p {}

.container {
    position: relative;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 575px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 767px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 992px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.view-detail {
    border-radius: 5px;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 10px 10px;
    transition: 0.5s;
    font-size: 14px;
}

.view-detail:hover {}

.view-detail.gradient {
    background: #FC6D5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FC6D5E, #FF496F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FC6D5E, #FF496F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.view-detail.wt-btn {
    color: #fff;
    border-color: #fff;
}

.view-detail.wt-btn:hover {
    background-color: #fff;
    color: #000;
}

.view-detail.blue-btn {
    color: #82A3BC;
    border-color: #82A3BC;
}

.view-detail.blue-btn:hover {
    background-color: #82A3BC;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.text-red {
    color: #FF496F;
}

.read-more {
    background: #232B33;
    border-radius: 5px;
    padding: 14px 33px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    margin-top: 20px;
    color: #fff;
}

.read-more:hover {}


/*
start css
===========================================
*/

.custom-header-wrapper {
    background: #FC6D5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF496F, #FC6D5E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF496F, #FC6D5E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top-header {
    background: rgba(0, 0, 0, 0.06);
}

.top-header ul {
    align-items: center;
    justify-content: flex-end;
}

.top-header ul li {}

.top-header ul li>a {
    color: #fff;
    padding: 10px 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.17);
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
}

.top-header ul li.active a {
    background: rgba(0, 0, 0, 0.13);
}

.top-header ul li.menu-list .dropdown-menu {
    padding: 10px;
    min-width: 230px;
    position: relative;
}

.top-header ul li.menu-list .dropdown-menu:before {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    border-style: solid;
    border-color: #fff;
    border-width: 2px 2px 0 0;
    top: -5px;
    right: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
}

.top-header ul li.menu-list .dropdown-menu a {
    color: #666;
    border-bottom: 1px solid #C1C1C1;
    padding: 12px 10px;
}

.top-header ul li.menu-list .dropdown-menu a img {
    margin-right: 5px;
}

.top-header ul li.menu-list .dropdown-menu a:last-child {
    border-bottom: none;
}

.top-header ul li.menu-list .dropdown-menu a:hover,
.top-header ul li.menu-list .dropdown-menu a:active,
.top-header ul li.menu-list .dropdown-menu a:focus {
    background: none;
}

.bottom-header {
    padding: 10px 0;
}

.custom-logo {}

.custom-logo a {
    font-size: 39px;
    font-weight: 600;
    line-height: 59px;
}
.custom-logo .brand-logo img {
    width: 150px;
}

.custom-search {
    border-radius: 50px;
    background: #fff;
}

.custom-search .form-control {
    border-radius: 0;
    height: 40px;
    padding: 0 20px;
    background: none;
    border: none;
}

.custom-search .input-group-append {
    background: #FF496F;
    border: none;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 100%;
    position: relative;
    top: 5px;
    right: 8px;
}

.custom-search .input-group-append button {
    background: none;
    border: none;
    color: #fff;
    padding: 0 8px;
}

.bottom-header .wishlist-wrapper {
    position: static;
}

.custom-wishlist {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.custom-wishlist .menu-dropdown {
    border: 1px solid #fff;
    border-radius: 5px;
    position: static;
}

.custom-wishlist .menu-dropdown>a {
    color: #fff;
    font-weight: 700;
}

.custom-wishlist .dropdown:hover>.dropdown-menu {
    display: block;
}

.custom-wishlist .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.custom-wishlist .menu-dropdown>a:after {
    display: none;
}

.custom-wishlist .menu-dropdown>a i {
    margin-left: 6px;
}

.custom-wishlist .menu-dropdown .dropdown-menu {
    width: 100%;
    transform: translate3d(0px, 18px, 0px) !important;
    bottom: auto !important;
    padding: 0;
    top: 43px;
}

.custom-wishlist .menu-dropdown .dropdown-menu:before {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    border-style: solid;
    border-color: #fff;
    border-width: 2px 2px 0 0;
    top: -5px;
    right: 150px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
}

.custom-wishlist .wishlist-icon {
    font-size: 34px;
    margin-left: 20px;
}

.custom-wishlist .cart-icon {
    font-size: 34px;
    margin-left: 20px;
    position: relative;
}

.custom-wishlist .cart-icon span {
    font-size: 10px;
    background: #D64460;
    position: absolute;
    top: 10px;
    padding: 1px 8px;
    text-align: center;
    border-radius: 4px;
    right: -10px;
}

.megamenu-list a {
    color: #3D4146;
}

.megamenu-list .megamenu-tab {
    background: #f5f5f5;
}

.megamenu-list .megamenu-tab a {
    border-radius: 0;
    padding: 25px;
}

.megamenu-list .megamenu-tab a.active {
    color: #232B33;
    font-weight: 600;
    border-left: 2px solid #FF496F;
    background: #fff;
}

.megamenu-list .tab-content {
    padding: 30px;
}

.submenu-link {}

.submenu-link h4 {
    position: relative;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 15px;
}

.submenu-link h4:before {
    content: '';
    width: 100px;
    height: 1px;
    background: #FC6D5E;
    position: absolute;
    bottom: -1px;
}

.submenu-link ul {
    flex-direction: column;
}

.submenu-link ul li {}

.submenu-link ul li a {
    font-size: 16px;
    line-height: 32px;
}

.submenu-link ul li a:hover,
.submenu-link ul li a:active,
.submenu-link ul li a.active {
    color: #FC6D5E;
}


/*
start Header css
===========================================
*/


/*Mobile Menu  css
===========================================
*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    margin-left: 50px;
    color: #818181;
}

.mobile-left-menu {}

.mobile-left-menu ul {
    flex-direction: column;
}

.mobile-left-menu ul li {}

.mobile-left-menu ul li>a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/*start Banner css
===========================================
*/

.banner {
    position: relative;
}

.banner:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    background: #000;
    opacity: .8;
    height: 100%;
}

.banner .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-caption h1 {
    color: #fff;
    font-weight: 600;
}

.banner-caption p {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.banner-caption h1 span {}

.heading-box {
    padding: 0 0 0 10px;
}

.heading-box h3 {
    color: #232B33;
}

.heading-box h3 a {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

.heading-box h3 a:hover {
    color: #f53f65;
}

.book-slider {
    margin-top: 14px;
    margin-bottom: 20px;
}

.popular-books-wrapper {
    padding: 57px 0 87px;
}

.product-card {
    border: none;
    margin: 10px;
    background: none;
}

.product-card .card {
    border: none;
    margin: 4px 10px;
}

.product-card .card-header,
.product-card .card-body,
.product-card .card-footer {
    border: none;
    background: none;
    padding: 0;
}

.product-card .card-body {
    padding: 15px 0;
}

.product-card .card-body h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #3D4146;
}

.product-card .card-body span {
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    color: #232B33;
}

.product-card .card-footer a {
    display: block;
}

.popular-books-wrapper .book-slider button {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    font-size: 0;
    right: 5px;
    padding: 0;
    top: -50px;
    border: 1px solid #E2E2E2;
    background: transparent;
    border-radius: 100%;
}

.popular-books-wrapper .book-slider button:focus {
    outline: none;
}

.popular-books-wrapper .book-slider .slick-prev {
    right: 55px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.popular-books-wrapper .book-slider button:after {
    content: '';
    height: 8px;
    width: 8px;
    position: absolute;
    border-style: solid;
    border-color: #f53f65;
    border-width: 2px 2px 0 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 2px;
    margin: auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.latest-update-wrapper {
    background: #FC6D5E;
    background: -webkit-linear-gradient(to right, #FF496F, #FC6D5E);
    background: linear-gradient(to right, #FF496F, #FC6D5E);
    padding: 50px 0 80px;
}

.update-heading {}

.update-heading h2 {
    color: #fff;
    position: relative;
    font-weight: 600;
}

.update-heading h2:before {
    content: '';
    width: 100px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 90px;
    margin: auto;
}

.latest-update-slider {}

.latest-update-slider .latest-content {
    color: #fff;
}

.book-pages-wrapper.line-spacing-small h6 {
    line-height: 17px;
}

.book-pages-wrapper.line-spacing-small .index-title,
.book-pages-wrapper.line-spacing-small .index-value,
.book-pages-wrapper.line-spacing-small h5,
.book-pages-wrapper.line-spacing-small p {
    /* font-size: 14px; */
    line-height: 20px;
}


/* medium */

.book-pages-wrapper.line-spacing-medium h6 {
    line-height: 19.2px;
}

.book-pages-wrapper.line-spacing-medium .index-title,
.book-pages-wrapper.line-spacing-medium .index-value,
.book-pages-wrapper.line-spacing-medium h5,
.book-pages-wrapper.line-spacing-medium p {
    line-height: 24px;
}


/* Large */

.book-pages-wrapper.line-spacing-large h6 {
    line-height: 22px;
}

.book-pages-wrapper.line-spacing-large .index-title,
.book-pages-wrapper.line-spacing-large .index-value,
.book-pages-wrapper.line-spacing-large h5,
.book-pages-wrapper.line-spacing-large p {
    line-height: 28px;
}


/* default font family */

.book-pages-wrapper.font-default {
    font-family: 'Poppins', sans-serif;
}


/* Oawald font family */

.book-pages-wrapper.font-oswald {
    font-family: 'Oswald', sans-serif;
}


/* Roboto font family */

.book-pages-wrapper.font-roboto {
    font-family: 'Roboto', sans-serif;
}


/* Lato font family */

.book-pages-wrapper.font-lato {
    font-family: 'Lato', sans-serif;
}

.latest-update-slider .latest-content h6 {
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.latest-update-slider .latest-content h5 {
    line-height: 30px;
    margin-bottom: 35px;
}

.latest-update-slider .latest-content p {
    line-height: 30px;
}

.latest-update-slider .latest-content a {}

.latest-update-wrapper .latest-update-slider button {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    font-size: 0;
    right: 5px;
    padding: 0;
    bottom: 50px;
    border: 1px solid #E2E2E2;
    background: #fff;
    border-radius: 100%;
}

.latest-update-wrapper .latest-update-slider button:focus {
    outline: none;
}

.latest-update-wrapper .latest-update-slider .slick-prev {
    right: 55px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.latest-update-wrapper .latest-update-slider button:after {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    border-style: solid;
    border-color: #FC6D5E;
    border-width: 1px 1px 0 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 2px;
    margin: auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contact-info-wrapper {
    background: #1a1f24;
    padding: 40px 0;
}

.contact-info-wrapper ul {
    justify-content: center;
}

.contact-info-wrapper ul li {
    position: relative;
    margin: 0 70px;
}

.contact-info-wrapper ul li:before {
    content: '';
    width: 1px;
    height: 30px;
    background: rgba(255, 255, 255, 0.18);
    position: absolute;
    right: -30%;
    top: 5px;
}

.contact-info-wrapper ul li:last-child:before {
    display: none;
}

.contact-info-wrapper ul li a {
    font-size: 25px;
    line-height: 38px;
}

.contact-info-wrapper ul li a i {
    color: #FE516B;
    margin-right: 15px;
}


/*book listing css start */

.book-filter-container {
    padding: 57px 0 30px;
}

.filter-area {
    background: #f5f5f5;
}

.filter-area span.input-group-text {
    cursor: pointer;
}

.filter-area .input-group-text {
    padding: 10px 30px;
    background: #FF496F;
    border: none;
    border-radius: 0;
    color: #fff;
}

.filter-area .filter-list {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #C1C1C1;
}

.filter-list .author-filter {
    background: #f5f5f5;
}

.filter-list .other-filter {
    padding: 30px;
}

.filter-list .other-filter h5 {
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    position: relative;
    padding-bottom: 10px;
}

.filter-list .other-filter h5:before {
    content: '';
    width: 100px;
    height: 1px;
    background: #FC6D5E;
    position: absolute;
    bottom: -1px;
}

.filter-list .other-filter ul {
    flex-direction: column;
    margin: 0 0 15px;
}

.filter-list .other-filter ul li {}

.pagination-wrapper {}

.pagination-wrapper ul {}

.pagination-wrapper ul li {
    position: relative
}

.page-link:hover {
    background: none;
    color: #2B2D2F;
}

.pagination-wrapper ul li.disabled a {
    color: #232B33;
}

.pagination-wrapper ul li a {
    color: #2B2D2F;
    border: none;
    font-weight: 600;
}

.pagination-wrapper ul li.active a.page-link {
    background: #FF496F;
    border: none;
    border-radius: 10px;
}

.book-listing-area {
    border: none;
}

.book-listing-area .card-header,
.book-listing-area .card-body,
.book-listing-area .card-footer {
    border: none;
    background: none;
    padding: 0;
}

.book-listing-area a {
    color: #3D4146;
}

.book-listing-area .card-body {
    padding: 15px 0 25px;
}

.book-listing-area .card-body h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.book-listing-area p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    color: #C1C1C1;
}

.book-listing-area p:last-child {
    margin-bottom: 0;
}

.book-listing-area p strong {
    font-size: 16px;
    line-height: 25px;
    color: #3D4146;
}


/*book detail css start */

.book-detail-container {
    padding: 57px 0 0px;
}

.book-view-detail {}

.book-view-detail h3 {
    position: relative;
    font-size: 30px;
    line-height: 46px;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
}

.book-view-detail h3:before {
    content: '';
    width: 100px;
    height: 1px;
    background: #FC6D5E;
    position: absolute;
    bottom: -1px;
}

.book-view-share {}

.book-view-share ul {
    justify-content: space-between;
    align-items: center;
}

.book-view-share ul li {
    position: relative;
    color: #C1C1C1;
}

.book-view-share ul li:before {
    content: '';
    width: 1px;
    height: 20px;
    background: #C1C1C1;
    position: absolute;
    right: -130%;
}

.book-view-share ul li:last-child:before {
    display: none;
}

.book-view-share ul li p {
    margin-bottom: 0;
}

.book-view-share ul li a {
    color: #3D4146;
    border: 1px solid #C1C1C1;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
}

.book-view-share ul li a i {
    color: #FF496F;
    margin-right: 3px;
}

.book-view-share ul li strong {
    color: #3D4146;
}

.book-view-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-view-price strong {
    font-size: 30px;
    line-height: 46px;
    font-weight: 600;
    color: #FF496F;
}

.review-box {
    display: flex;
}

.review-box a {
    color: #FF496F;
    margin-left: 10px;
    font-weight: 600;
}

.review-box .review-start i {
    color: #F1CD1A;
}

.review-modal {}

.review-modal .review-area {}

.review-modal .review-area h5 {
    color: #232B33;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

.review-modal .review-area .review-start {
    color: #F1CD1A;
    font-size: 30px;
}

.review-modal .review-area .review-start i {}

.review-modal .review-area p {
    color: #3D4146;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

.book-view-date {
    border-top: 1px solid #EBEBEB;
}

.book-view-date ul {
    justify-content: space-between;
}

.book-view-date ul li {}

.book-view-date ul li p {
    font-size: 16px;
    color: #C1C1C1;
    line-height: 25px;
    margin-bottom: 2px;
}

.book-view-date ul li strong {
    color: #3D4146;
    font-size: 18px;
    line-height: 27px;
}

.library-btn a {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
}

.desc-tab-wrapeer {
    padding: 50px 0;
}

.desc-tab-wrapeer ul {}

.desc-tab-wrapeer ul.nav-tabs li.nav-item {
    margin: 0 30px 0 0;
}

.desc-tab-wrapeer ul li a.nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #232B33;
    border: none;
    position: relative
}

.desc-tab-wrapeer ul li a.nav-link.active {
    color: #FF496F;
    border: none;
}

.desc-tab-wrapeer ul.nav-tabs li.nav-item a.active:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #FC6D5E;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.desc-tab-wrapeer .tab-content {
    padding: 20px 0;
}

.desc-review {
    border-bottom: 1px solid #EBEBEB;
    padding-top: 15px;
}

.desc-review p {
    margin-top: 15px;
}

.related-book-wrapper {
    background: #F8F8F8;
    padding: 50px 0;
}

.related-book-heading {
    text-align: center;
}

.related-book-heading h3 {
    position: relative;
    font-size: 30px;
    line-height: 46px;
    font-weight: 600;
    padding-bottom: 50px;
}

.related-book-heading h3:before {
    content: '';
    width: 100px;
    height: 2px;
    background: #FC6D5E;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}


/* contact css start */

.contact-banner {
    position: relative;
}

.contact-banner img {
    width: 100%;
}

.contact-banner .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}


/*.contact-banner:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    background: #000;
    opacity: .8;
    height: 100%;
}*/

.contact-banner-caption {
    background: rgba(255, 73, 111, 0.82);
    padding: 30px 40px;
    border-radius: 5px;
}

.contact-banner-caption h3 {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
}

.contact-banner-caption h5 {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

.contact-banner-caption p {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.head-office-wrapper {
    background: #f8f8f8;
    padding: 50px 0;
}

.address-detail {
    padding: 45px 80px;
    background: #fff;
    height: 100%;
}

.address-detail ul {
    flex-direction: column;
}

.address-detail ul li {
    margin-bottom: 60px;
}

.address-detail ul li:last-child {
    margin-bottom: 0;
}

.address-detail ul li h5 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2B2D2F;
}

.address-detail ul li p {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    color: #232B33;
}

.address-detail ul li a {
    color: #232B33;
}

.contact-form-wrapper {
    padding: 50px 0 80px;
}

.contact-form-detail {}

.contact-form-detail .form-group {
    margin-bottom: 25px;
}

.contact-form-detail label {
    font-family: 'Gadugi';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 38px;
}

.contact-form-detail .form-control {
    border: none;
    background: #F4F5F7;
}

.contact-form-detail textarea.form-control {
    height: 100px;
}

.contact-form-detail .form-group button {
    width: 200px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

.book-control-wrapper {
    background: #3D4146;
    padding: 10px 0;
}

.library-btn-box {
    text-align: right;
}

.library-btn-box a {}

.library-btn-box a.notebook {
    background: #2B2D2F;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 21px;
    margin-left: 10px;
}

.library-btn-box a i {}

.book-control-box {}

.book-control-box .search-page {}

.book-control-box .search-page .dropdown-menu {
    left: auto !important;
    right: 0;
    padding: 10px;
    min-width: 300px;
}

.book-control-box a {
    color: #fff;
    font-size: 20px;
}

.book-control-box a:hover {
    color: #fff;
}

.book-control-list {}

.book-control-list ul {
    align-items: center;
}

.book-control-list ul li {
    margin: 0 10px;
    position: relative;
}

.book-control-list ul li:first-child:before {
    display: none;
}

.book-control-list ul li:before {
    content: '';
    width: 1px;
    height: 20px;
    background: #C1C1C1;
    position: absolute;
    top: 5px;
    right: -12px;
}

.book-control-list ul li:last-child:before {
    display: none;
}

.book-control-list ul li a {
    font-size: 20px;
    padding: 0 10px;
}

.book-control-list ul li a.library-btn {
    font-size: 14px;
    line-height: 21px;
}

.book-pages-wrapper {
    background: #EDEDED;
    padding: 25px 0;
}

.view-book-slider {
    background: #fff;
    padding: 30px;
}

.view-book-slider.bg-black {
    background: #d6d3d3;
    color: #000;
}

.view-book-slider.bg-white {
    background: #fff;
    color: #000;
}

.view-book-slider.bg-sepia {
    background: #f7e4d2;
    color: #000;
}

.view-book-slider button.slide-arrow {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    font-size: 0;
    right: -70px;
    padding: 0;
    top: 50%;
    border: 1px solid #E2E2E2;
    background: #fff;
    border-radius: 100%;
}

.view-book-slider button.prev-arrow {
    left: -70px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.index-row {
    display: table;
}

.index-title,
.index-dots,
.index-value {
    display: table-cell;
}

.index-title,
.index-value {
    white-space: nowrap;
}

.index-table {
    margin: 10px;
}

.index-dots {
    border-bottom: 1px dashed gray;
    width: 100%;
}

.about-content-wrapper {
    padding: 50px 0;
}

.customer-feedback-wrapper {
    background: #F8F8F8;
    padding: 125px 0;
}

.feedback-content {
    background: #fff;
    border: 1px solid #C1C1C1;
    margin: 10px;
    padding: 40px;
    text-align: center;
}

.feedback-content p {
    margin-bottom: 30px;
}

.feedback-content .customer-name {
    align-items: center;
    justify-content: center;
}

.feedback-content .customer-name img {
    margin-right: 10px;
}

button.slide-arrow {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    font-size: 0;
    right: 5px;
    padding: 0;
    top: -50px;
    border: 1px solid #E2E2E2;
    background: #fff;
    border-radius: 100%;
}

button.slide-arrow:focus {
    outline: none;
}

button.prev-arrow {
    right: 55px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

button.slide-arrow:after {
    content: '';
    height: 8px;
    width: 8px;
    position: absolute;
    border-style: solid;
    border-color: #f53f65;
    border-width: 2px 2px 0 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 2px;
    margin: auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.progress-bar-wrapper {
    background: #3D4146;
    padding: 15px 0;
    border-bottom: 1px solid #a4a7a9;
}

.progress-indigit {
    text-align: center;
    color: #fff;
}

.progress-indigit p {
    margin: 0;
}

.progress-indigit strong {}


/* cart css start */

.custom-cart-wrapper {
    background: #FAFAFA;
    padding: 50px 0;
}

.cart-heading {}

.cart-heading h3 {
    position: relative;
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
    color: #232B33;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 20px;
}

.cart-heading h3:before {
    content: '';
    width: 100px;
    height: 1px;
    background: #FC6D5E;
    position: absolute;
    bottom: -1px;
}

.cart-list {
    border-bottom: 1px solid #EBEBEB;
    margin: 0 0 20px;
    padding: 0 0 20px;
}

.cart-list:last-child {
    border-bottom: none;
}

.cart-list img {}

.cart-list .cart-detail {
    padding: 15px;
}

.cart-list .cart-detail h5 {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
}

.cart-list .cart-detail p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

.cart-list .cart-detail .price {
    color: #FF496F;
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
}

.qtySelector {
    margin: 10px auto 0;
    display: flex;
}

.qtySelector .fa {
    padding: 10px 5px;
    width: 35px;
    height: 100%;
    cursor: pointer;
    color: #C1C1C1;
    border-radius: 50%;
    border: 1px solid #C1C1C1;
}

.qtySelector .fa.clicked {
    font-size: 12px;
    padding: 12px 5px;
}

.qtySelector .fa-minus {
    border-right: 1px solid #ddd;
}

.qtySelector .fa-plus {
    border-left: 1px solid #ddd;
}

.qtySelector .qtyValue {
    border: 1px solid #C1C1C1;
    padding: 5px;
    width: 55px;
    height: 100%;
    text-align: center;
    margin: 0 10px;
}

.price-table {}

.price-table table tr th,
.price-table table tr td {
    border: none;
}

.price-table table tr th span,
.price-table table tr td span {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
}

.price-table table tr th span.total-price {}

.place-order {
    background: transparent linear-gradient(90deg, #FC6D5E 0%, var(--unnamed-color-ff496f) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #FC6D5E 0%, #FF496F 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    border: none;
    color: #fff;
    padding: 10px 0;
}

.cart-user-detail {}

.cart-user-detail .card {
    border: none;
    border-radius: 0;
    border-bottom: 10px solid #FAFAFA;
}

.cart-user-detail .card .card-header {
    border-bottom: none;
}

.cart-user-detail h5 {
    background: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    padding: 10px 15px;
    color: #3D4146;
    cursor: pointer;
}

.cart-user-detail h5[aria-expanded="true"] {
    background: #FF496F;
    color: #fff;
}

.cart-user-detail h5[aria-expanded="true"] span {
    color: #FF496F;
    background: #fff;
}

.cart-user-detail h5 span {
    background: #C1C1C1;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
}

.cart-user-detail .card-body {}

.cart-user-detail .card-body a {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}

.cart-user-detail .card-body .proceed {
    background: #FAFAFA;
    padding: 10px;
}

.footer-wrapper {
    background: #232b33;
}

.top-footer {
    padding: 40px 0 100px;
}

.footer-box {}

.footer-box h5 {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    border-bottom: 1px solid #707070;
    color: #fff;
    padding-bottom: 20px;
}

.footer-box h5:before {
    content: '';
    width: 100px;
    height: 1px;
    background: #FC6D5E;
    position: absolute;
    bottom: -1px;
}

.footer-links {}

.footer-links ul {
    flex-direction: column;
}

.footer-links ul li {}

.footer-links ul li a {
    font-size: 15px;
    line-height: 40px;
}

.social-links {}

.social-links ul {}

.social-links ul li {
    margin: 0 10px;
}

.social-links ul li a {
    font-size: 23px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
}

.social-links ul li a.facebook {
    background: #0e8cf1;
}

.social-links ul li a.twitter {
    background: #50abf1;
}

.social-links ul li a.instagram {
    background: #f40032;
}

.bottom-footer {
    border-top: 1px solid rgba(112, 112, 112, 0.3);
    padding: 20px 0;
}

.bottom-footer p {
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
}

.form-style-box {}

.form-style-box h3 {
    font-size: 30px;
    line-height: 46px;
    font-weight: 500;
    color: #232B33;
}

.form-style-box .form-group {
    border: 1px solid #F2F2F2;
    padding: 20px;
}

.form-style-box .form-group .form-control {
    border-radius: 0;
    border: none;
    padding: 0;
}

.forgot-password {}

.forgot-password a {
    color: #FF496F;
}

.signup-form{}



.signup-modal h4 {
    font-size: 24px;
    line-height: 36px;
    color: #232B33;
}

.signup-modal .left-img img{
	height: 100%;	
}

.login-btn-box .btn-login {
    background: transparent linear-gradient(90deg, #FC6D5E 0%, var(--unnamed-color-ff496f) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #FC6D5E 0%, #FF496F 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #fff;
}

.sideline {
    background: #fff;
    position: relative;
    padding: 10px 0;
}

.sideline:before {
    content: '';
    height: 1px;
    width: 35%;
    background: #F2F2F2;
    position: absolute;
    left: 0;
    top: 50%;
}

.sideline:after {
    content: '';
    height: 1px;
    width: 35%;
    background: #F2F2F2;
    position: absolute;
    right: 0;
    top: 50%;
}

.social-login {
    padding-top: 30px;
}

.social-login ul {
    align-items: center;
    justify-content: center;
}

.social-login ul li {
    margin: 0 20px;
}

.social-login ul li a {}

.sign-up-box {}

.sign-up-box a {
    color: #FF496F;
}

.was-validated .form-control:valid,
.form-control.is-valid {
    background-position: center right calc(1.275em + 0.1875rem);
}


/*
Footer css End Here 
===============================
*/


/* Latet News css start
================================
*/

.latest-news-wrapper {
    padding: 50px 0;
}

.latest-news-wrapper {
    padding: 50px 0;
}

.latest-news-heading {
    text-align: center;
}

.latest-news-heading h3 {
    position: relative;
    font-size: 30px;
    line-height: 46px;
    font-weight: 600;
    padding-bottom: 50px;
}

.latest-news-heading h3:before {
    content: '';
    width: 100px;
    height: 2px;
    background: #FC6D5E;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}


/*--Start slider css----*/

.latest-news-slider {
    background-color: #3D4146;
    padding: 45px;
}

.slider-img {}

#latest-news-slider-wrapper {
    position: relative;
}

.latest-news-slider .slick-slide img {
    display: block;
    width: 100%;
}

#latest-news-slider-wrapper .prev-arrow {
    position: absolute;
    left: -20px;
    top: 50%;
}

#latest-news-slider-wrapper .next-arrow {
    position: absolute;
    right: -20px;
    top: 50%;
}

.latest-news-slider-content {
    margin-right: 40px;
}

.latest-news-slider-content h6 {
    font-size: 16px;
    color: #FF496F;
    line-height: 25px;
    letter-spacing: -0.05px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 30px;
}

.latest-news-slider-content h5 {
    font-size: 25px;
    color: #fff;
    line-height: 38px;
    letter-spacing: -0.01px;
    text-align: left;
    font-weight: 600;
}

.latest-news-slider-content p {
    font-size: 16px;
    color: #fff;
    line-height: 33px;
    letter-spacing: -0.08px;
    text-align: left;
}

.latest-news-slider-content h6 i {
    padding-right: 17px;
}


/*--End slider css----*/

.latet-news-list .mb-4,
.my-4 {
    margin-bottom: 0rem !important;
}

.latet-news-list .mt-4,
.my-4 {
    margin-top: 0rem !important;
}

.latest-news-wrapper {}

.latest-news-card {
    padding-bottom: 20px;
}

.news-list-box .news-list-detail {
    padding-top: 35px;
}

.news-list-box .news-list-detail h6 {
    font-size: 14px;
    color: #FF496F;
    padding-bottom: 17px;
    line-height: 21px;
    letter-spacing: -0.04px;
    text-align: left;
    margin: 0;
}

.news-list-box .news-list-detail h6 i {
    padding-right: 12px;
}

.news-list-box .news-list-detail h5 {
    font-size: 18px;
    padding-bottom: 15px;
    line-height: 27px;
    letter-spacing: 0px;
    margin: 0;
    text-align: left;
}

.news-list-box .news-list-detail p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.08px;
    text-align: left;
}

.latet-news-list {
    padding-bottom: 93px;
}


/* Latet News css End
================================
*/


/* News Details css Start
================================
*/

.news-detail-wrapper {
    padding: 55px 0;
}

.single-news-detail {}

.single-news-detail h3 {
    color: #232B33;
    font-size: 30px;
    line-height: 46px;
    font-weight: 600;
}

.single-news-date {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.single-news-date span.date {
    color: #FF496F;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    border-right: 1px solid #c1c1c1;
    margin-right: 30px;
    padding-right: 40px;
}

.single-news-date ul {}

.single-news-date ul li {
    margin: 0 10px;
}

.single-news-date ul li a {
    color: #C1C1C1;
    font-size: 25px;
}

.news-detail-content {}

.news-detail-content-list {
    margin: 30px 0 0 0;
}

.news-detail-content-list h3 {
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 20px;
}

.news-detail-content-list h4 {
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 20px;
}

.news-detail-content-list h6 {
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.news-detail-content-list p {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 30px;
}

.news-detail-content-list img.news-list-image {
    margin: 20px 0;
}

.share-post-area {}

.share-post-area ul {
    align-items: center;
    justify-content: center;
    position: relative;
}

.share-post-area ul:before {
    content: '';
    height: 2px;
    width: 38%;
    background: #C1C1C1;
    position: absolute;
    left: 0;
}

.share-post-area ul:after {
    content: '';
    height: 2px;
    width: 38%;
    background: #C1C1C1;
    position: absolute;
    right: 0;
}

.share-post-area ul li {
    color: #C1C1C1;
    margin: 0 10px;
}

.share-post-area ul li a {
    color: #C1C1C1;
    font-size: 20px;
}

.post-btn-area {
    margin: 25px 0 0 0;
}

.post-btn-area .post-btn {}

.post-btn-area .post-btn a {
    font-size: 25px;
    line-height: 38px;
    color: #232B33;
    font-weight: 600;
}

.post-btn-area .post-btn p {
    font-size: 16px;
    line-height: 28px;
}

.news-sidebar {
    margin: 38px 0 0 0;
}

.news-sidebar h4 {
    color: #232B33;
    font-size: 25px;
    line-height: 38px;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 20px;
    position: relative;
    font-weight: 600;
}

.news-sidebar h4:before {
    content: '';
    width: 100px;
    height: 1px;
    background: #FC6D5E;
    position: absolute;
    bottom: -1px;
}

.news-sidebar ul {
    flex-direction: column;
}

.news-sidebar ul li {
    border-bottom: 1px solid #C1C1C1;
    margin: 10px 0 10px;
    padding: 0 0 10px;
}

.news-sidebar ul li a {
    color: #FF496F;
    font-weight: 600;
}


/*=============*/

.news-details-heading h3 {}

.news-details-heading h6 {
    text-align: left;
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.05px;
    color: #FF496F;
    padding-right: 42.5px;
    padding-bottom: 39px;
}

.news-details-heading h6 i {
    padding-right: 17px;
}

.news-details-social-links li a {
    color: #C1C1C1;
    padding: 0 0 0 14px;
    font-size: 16px;
}

.news-details-social-links li i {
    font-size: 25px;
}

.fa-face {
    padding-left: 42.5px;
    border-left: 1px solid #c1c1c1;
}

.dymmy-text {
    width: 100%;
}

.dymmy-text-contenta {
    width: 100%;
}

.dymmy-text-contenta {
    width: 100%;
}

.dymmy-text-contenta h3 {
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.12px;
    color: #232B33;
    line-height: 46px;
    opacity: 1;
    padding: 45px 0 20px 0;
    margin: 0;
    border-bottom: 1px solid #C1C1C1;
}

.dymmy-text-contenta p {
    text-align: left;
    padding-top: 20px;
    font-size: 18px;
    line-height: 35px;
    font-family: Poppins;
    color: #3D4146;
    opacity: 1;
    letter-spacing: 0px;
}

.new-details-p2 {
    text-align: left;
    font-size: 16px;
    line-height: 35px;
    font-family: Poppins;
    color: #3D4146;
    opacity: 1;
    padding-bottom: 34px;
    padding-top: 23px;
}

.new-details-dymmy-text-contenta-img {}

.dymmy-text-contentb h3 {
    text-align: left;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.1px;
    color: #232B33;
    opacity: 1;
    padding: 52px 0 15px 0;
    margin: 0;
    border-bottom: 1px solid #C1C1C1;
}

.dymmy-text-share p {
    margin-top: -7px;
}

.dymmy-text-contentb p {
    text-align: left;
    font-size: 16px;
    padding-top: 20px;
    line-height: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    color: #3D4146;
    opacity: 1;
}

.dymmy-text-contentc h5 {
    text-align: left;
    font-size: 18px;
    font-family: Poppins;
    letter-spacing: 0px;
    line-height: 27px;
    color: #232B33;
    opacity: 1;
    padding: 30px 0 15px 0;
    margin: 0;
    border-bottom: 1px solid #C1C1C1;
}

.dymmy-text-contentc p {
    text-align: left;
    font-size: 16px;
    line-height: 2.1;
    padding-top: 20px;
    line-height: 35px;
    font-family: Poppins;
    letter-spacing: 0px;
    color: #3D4146;
    opacity: 1;
}

.border-bottom {
    padding: 45px 0 0px 0;
    border-bottom: 3px solid #dee2e6 !important;
}

.news-details-social-links-contentd {
    z-index: 1;
}

.dymmy-text-contentd {
    position: relative;
}

.dymmy-text-share {
    margin: -13px 0 0 0;
    justify-content: center;
    position: absolute;
    left: 281px;
}

.dymmy-text-share p {
    background-color: white;
    padding-left: 15px;
    color: #C1C1C1;
    font-size: 18px;
    line-height: 2.1;
}

.news-details-social-links-contentd {
    background-color: white;
    padding-right: 15px;
    color: #C1C1C1;
    font-size: 18px;
    margin-top: -2px;
}

.news-details-social-links-contentd li a {
    color: #C1C1C1;
    padding: 0 0 0 15px;
    font-size: 20px;
}

.dymmy-text-contente {
    padding-bottom: 53px;
    padding-top: 25px;
}

.previous-post {
    text-align: left;
    font-size: 25px;
    font-family: Poppins;
    line-height: 38px;
    letter-spacing: -0.1px;
    color: #232B33;
    opacity: 1;
}

.next-post {
    text-align: right;
    font-size: 25px;
    font-family: Poppins;
    line-height: 38px;
    letter-spacing: -0.1px;
    color: #232B33;
    margin: 0;
    opacity: 1;
}

.previous-post p {
    text-align: left;
    font-size: 16px;
    padding-right: 40px;
    font-family: Poppins;
    letter-spacing: 0px;
    line-height: 28px;
    color: #232B33;
    opacity: 1;
}

.next-post p {
    text-align: right;
    font-size: 16px;
    padding-left: 90px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #232B33;
    opacity: 1;
}

.categories {
    padding: 45px 0 35px 0;
    text-align: left;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: -0.1px;
    color: #232B33;
    opacity: 1;
}

.categories h3 {
    font-weight: 600;
}

.categories .progress {
    display: -ms-flexbox;
    display: flex;
    height: 0.2rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.categories .progress .progress-bar {
    background-color: #FF496F;
}

.categories-list {
    display: block;
}

.categories-list li {
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 2px solid #C1C1C1;
}

.categories-list li a {
    color: #FF496F;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    padding-top: 36px;
    font-weight: 600;
}

.categories-list li:last-child {
    border: none;
}

b,
strong {
    font-weight: 600;
}

.latest-post h3 {
    text-align: left;
    font-family: Poppins;
    letter-spacing: -0.1px;
    font-size: 25px;
    line-height: 38px;
    color: #232B33;
    opacity: 1;
}

.latest-post .progress {
    display: -ms-flexbox;
    display: flex;
    height: 0.2rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.latest-post .progress .progress-bar {
    background-color: #FF496F;
}

.latest-post-content {
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C1C1C1;
}

.latest-post-content-last {
    border: none;
}

.latest-post-img {
    height: 92px;
    width: 220px;
}

.latest-post-header {
    padding: 0 0px 0px 20px;
}

.latest-post-header h3 {
    text-align: left;
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 27px;
    color: #3D4146;
    font-weight: 600;
}

.latest-post-content .latest-post-header p {
    text-align: left;
    font-family: Poppins;
    letter-spacing: -0.08px;
    color: #C1C1C1;
    opacity: 1;
    font-size: 16px;
    line-height: 33px;
}

.related-updates-wrapper {
    padding: 50px 0;
}

.related-updatesnews-wrapper {
    padding: 50px 0;
}

.related-updates-heading {
    text-align: center;
}

.related-updates-heading h3 {
    position: relative;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: -0.12px;
    font-weight: 600;
    padding-bottom: 50px;
}

.related-updates-heading h3:before {
    content: '';
    width: 100px;
    height: 2px;
    background: #FC6D5E;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.related-updates {
    background-color: #F8F8F8;
}

.related-updates-heading {
    text-align: center;
    background-color: #F8F8F8;
}

.related-updates-card {
    padding-bottom: 80px;
}

.related-updates-card .card-group {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.related-updates-card .card-group .card {
    position: relative;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    padding: 0px 20px 0px 20px;
}

.related-updates-card .card-group .card:first-child {
    padding: 0px 20px 0px 0px;
}

.related-updates-card .card-group .card:last-child {
    padding: 0px 0px 0px 20px;
}

.related-updates-card .card-group .card .card-body {
    padding: 43.25px 0 0 0px;
}

.related-updates-card .card-group .card .card-body h6 {
    font-size: 14px;
    color: #FF496F;
    padding-bottom: 16.75px;
    opacity: 1;
    line-height: 21px;
    letter-spacing: -0.04px;
    text-align: left;
    font-family: Poppins;
}

.related-updates-card .card-group .card .card-body h6 i {
    padding-right: 12px;
}

.related-updates-card .card-group .card .card-body h5 {
    font-size: 18px;
    opacity: 1;
    padding-bottom: 14.64px;
    letter-spacing: 0px;
    text-align: left;
    line-height: 27px;
    font-family: Poppins;
}

.related-updates-card .card-group .card .card-body p {
    font-size: 16px;
    opacity: 1;
    letter-spacing: -0.08px;
    line-height: 25px;
    text-align: left;
    font-family: Poppins;
}

.quotes-pic {
    width: 57px;
    height: 46px;
    margin: -15px 0 0 0;
}

blockquote {
    margin: 0 0 1rem;
    padding: 0 0 0 25px;
    line-height: 2.1;
    font-weight: 600;
}

.quotes {
    padding: 38px 35px 37px;
    background-color: rgba(193, 193, 193, 0.15);
}


/* News Details css End
================================
*/


/*-- start css model bool listing 3--*/

.view-book-modal .modal-body {
    padding: 50px 0;
}

.sample-book {}

.sample-book h5 {
    position: relative;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.sample-book h5:before,
.sample-book h5:after {
    content: '';
    height: 2px;
    width: 70%;
    background: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.sample-book h5:before {
    top: -10px;
}

.sample-book h5:after {
    bottom: -10px;
}

.sample-book img {
    margin: 30px 0;
}

.sample-book p {
    font-size: 16px;
    line-height: 25px;
}

.b-right {
    border-right: 1px solid #C1C1C1;
    padding-right: 44px;
}

.b-both-side {
    border-right: 1px solid #C1C1C1;
    border-left: 1px solid #C1C1C1;
    padding-right: 43px;
    padding-left: 43px;
}

.b-left {
    border-left: 1px solid #C1C1C1;
    padding-left: 43px;
}


/* 13-7-21 */

.notebook-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 350px;
    height: calc(100% - 238px);
    z-index: 9;
    overflow: hidden;
    box-shadow: -2px 1px 14px rgb(0 0 0 / 7%);
    transform: translateX(350px);
    transition: all 0.5s ease-in-out
}

.notebook-sidebar:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 15px;
    width: 100%;
    background: #fff;
}

.notebook-sidebar.active {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.filter-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter-section a.filter {
    font-weight: 600;
    display: inline-block;
    margin-right: 50px;
}

.filter-section a {
    color: #000;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #232B33;
    padding: 0;
}

.filter-section .dropdown-menu {
    padding: 0;
    border-radius: 1px;
}

.filter-section .dropdown-item {
    padding: 0.2rem 0.8rem;
    border-bottom: 1px solid #f2f2f2;
}

.filter-section .dropdown-item.active,
.filter-section .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fe516b;
}

.filter-section .dropdown-item:hover,
.filter-section .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #fe516b;
    outline: none;
}

.filter-section .dropdown-item:last-child {
    border: none;
}

.sidebar-head {
    padding: 20px;
    border-bottom: 10px solid #EDEDED;
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.bookmarks-sec {
    padding: 20px;
    position: relative;
    border-bottom: 10px solid #ededed;
}

.bookmarks-sec.active .note i {
    color: #ffcc5a;
}

.bookmarks-sec.active:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 100%;
    background: #ffcc5a;
    width: 7px;
}

.bookmarks-sec .note i {
    color: #ff4b6e;
}

.b-top {
    justify-content: space-between;
    align-items: center;
}

.b-bottom {
    padding-left: 20px;
    margin-top: 10px;
}

.b-bottom p {
    color: #3D4146;
    font-size: 14px;
}

.note {
    color: #9A9898;
    font-size: 13px;
}

.note span {
    display: inline-block;
    margin-left: 5px;
}

.b-bottom input {
    height: 35px;
    font-size: 14px;
    background: #F3F3F3;
    border: none;
    margin-top: 18px;
    border-radius: 2px;
}

.b-bottom input:active,
.b-bottom input:focus,
.b-bottom input:hover,
.b-bottom input:visited {
    box-shadow: 0px 1px 4px #ffcc5a;
    background: #ffff;
}

.sidebar-body {
    overflow: auto;
    height: 460px;
    padding-bottom: 32px;
}

.sidebar-body::-webkit-scrollbar {
    width: 5px;
}

.sidebar-body::-webkit-scrollbar-track {
    background: #ccc;
}

.sidebar-body::-webkit-scrollbar-thumb {
    background: #fe516b;
    border-radius: 50px;
}

.note-edit-otions {
    cursor: pointer;
    position: relative;
}

.note-edit-otions .nav-item.dropdown {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    right: -4px;
}

.note-edit-otions .nav-item.dropdown .dropdown-menu.show {
    min-width: 100px;
    right: 0;
    left: auto;
    transform: none;
    bottom: auto;
    top: 21px;
    border-radius: 2px;
    padding: 0;
}

.note-edit-otions .nav-item.dropdown .nav-link {
    display: block;
    height: 18px;
    font-size: 0;
}

.note-edit-otions .nav-item.dropdown .dropdown-menu.show>a {
    padding: 4px 10px;
    border-bottom: 1px solid #ededed;
    font-size: 12px;
}

.note-edit-otions .nav-item.dropdown .dropdown-menu.show>a:last-child {
    border: 0;
}

.note-edit-otions .nav-item.dropdown .dropdown-menu.show>a i {
    margin-right: 6px;
}

.note-edit-otions .nav-item.dropdown .dropdown-item.active,
.note-edit-otions .nav-item.dropdown .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fe516b;
}

.note-edit-otions .nav-item.dropdown .dropdown-item:hover,
.note-edit-otions .nav-item.dropdown .dropdown-item:focus {
    color: #fff;
    background-color: #fe516b;
    outline: none;
}


/* styling Panel */

.body-wrapper {
    position: relative;
	overflow-x: hidden;
}

.notebook-styling {
    position: absolute;
    left: 44%;
    transform: translateX(-50%);
    background: #f3f3f3;
    top: 3px;
    max-width: 500px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    padding: 20px 10px;
    display: none;
}

.notebook-styling ul.flex li {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
}

.notebook-styling ul.flex li .sf-left {
    width: 150px;
    display: inline-block;
}

.notebook-styling ul.flex li .sf-right {
    width: calc(100% - 160px);
    align-items: center;
    justify-content: space-between;
}

.notebook-styling ul.flex li .sf-right>* {
    cursor: pointer;
}

.notebook-styling ul.flex li .sf-right input:not(input[type='radio']),
.notebook-styling ul.flex li .sf-right select {
    width: 88%;
}

.notebook-styling ul.flex li .sf-right select {
    border-radius: 2px;
    height: 30px;
    font-size: 14px;
    padding: 3px 10px;
}

.notebook-styling ul.flex li .sf-right input[type='radio']:not(:first-child) {
    margin-left: 20px;
}

.notebook-styling ul.flex li .sf-right input:active,
.notebook-styling ul.flex li .sf-right input:hover,
.notebook-styling ul.flex li .sf-right input:focus,
.notebook-styling ul.flex li .sf-right input:visited,
.notebook-styling ul.flex li .sf-right select:active,
.notebook-styling ul.flex li .sf-right select:hover,
.notebook-styling ul.flex li .sf-right select:focus,
.notebook-styling ul.flex li .sf-right select:visited {
    box-shadow: unset;
    outline: none;
}

.notebook-styling ul.flex li .sf-right span.radio-txt {
    margin-left: 9px;
}

.notebook-styling ul.flex li .sf-right input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: transparent;
    border: 0;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.notebook-styling ul.flex li .sf-right input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 20px;
    border: 0;
    background: #007ad9;
    cursor: pointer;
    margin-top: -8px;
}

.notebook-styling ul.flex li .sf-right input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #d3d3d3;
    border-radius: 1.3px;
    border: 1px solid #ccc;
}

.notebook-styling ul.flex li .sf-right.color-mode {
    justify-content: space-between;
}

.notebook-styling ul.flex li .sf-right.color-mode .btn {
    padding: 6px 20px;
    line-height: 16px;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: 1px solid #000;
    border-radius: 0px;
}

.notebook-styling ul.flex li .sf-right.color-mode .btn:active,
.notebook-styling ul.flex li .sf-right.color-mode .btn:focus,
.notebook-styling ul.flex li .sf-right.color-mode .btn:visited {
    box-shadow: unset;
    outline: none;
}

.notebook-styling ul.flex li .sf-right.color-mode .btn-black {
    background: #000;
    color: #fff;
}

.notebook-styling ul.flex li .sf-right.color-mode .btn-sepia {
    background: #f7e4d2;
}

.notebook-styling ul.flex li .sf-right.color-mode .btn:hover {
    background: #fe516b;
    border-color: #fe516b;
    color: #fff;
}

.btn-sepia {
    background: #d2c4b5;
    color: #000;
}

#search_book {
    margin-right: 11px;
    padding: 10px 20px;
}
#search_book:focus {
    box-shadow: none;
    border: 0;
}
.custom-search #suggesstion-box {
    position: absolute;
    bottom: -3px;
    left: 8px;
    z-index: 9;
    width: 100%;
}
.custom-search #suggesstion-box #book-list {
    width: 100%;
    background: #fcfcfc;
    flex-direction: column;
    max-width: 90%;
}
#book-list li a {
    color: #000;
}
.custom-search .input-group-append button:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
/* 13-7-21 */


/*-- end css book view 1--*/


/*-- start css model view book 1--*/