@media (min-width:1600px) {
	.bottom-header{
		padding: 18px 0;
	}
	/*.custom-search{
	}
	.custom-search .form-control{
		height: 64px;
	}
	.custom-search .input-group-append{
		width: 40px;
		height: 40px;
		top: 12px;
		right: 12px;
	}
	.custom-search .input-group-append button{
		padding: 0 13px;
	}*/
	.contact-form-detail .form-control{
		height: 70px;
	}
	.contact-form-detail textarea.form-control{
		height: 200px;
	}
	.login-modal .modal-dialog{
		max-width: 900px;
	}
}


@media (min-width:1440px) {
    .container {
        max-width: 1280px;
    }
}


@media (max-width:1200px) {
	.banner-caption h1 {
		font-size: 35px;
		line-height: 45px;
	}
	.banner-caption p {
		font-size: 16px;
		line-height: 24px;
	}
	.book-view-share ul li:before {
		right: -80%;
	}
	.contact-banner-caption h3 {
		font-size: 35px;
		line-height: 45px;
	}
	.news-list-box .news-list-detail h5 {
		font-size: 16px;
	}
	.latest-news-slider-content {
		margin-right: 0;
	}
	.book-control-list ul li {
		margin: 0 5px;
	}
	.b-right {
		padding-right: 15px;
	}
	.b-both-side {
		padding-right: 15px;
		padding-left: 15px;
	}
	.book-control-list ul li a {
		padding: 0 5px;
	}
	.b-left {
		padding-left: 15px;
	}
	.book-control-list ul li:before {
		display: none;
	}
 }

@media (max-width:1200px) and (min-width:992px) {
	.book-listing-area .card-body h5 {
		font-size: 16px;
		line-height: 25px;
	}
	.book-listing-area p {
		line-height: 21px;
		margin-bottom: 2px;
	}
	.address-detail ul li p {
		font-size: 18px;
		line-height: 26px;
	}
}

@media (max-width:992px) {
	.middle-header {
		border-bottom: 1px solid rgba(255,255,255,0.17);
		padding: 10px 0;
	}	
	.menu-toggle-box .menu-toggle {
    	font-size: 25px;
		color: #fff;
	}
	.wishlist-mobile a{
		font-size: 25px;
		position: relative;
		margin: 0 5px;
	}
	.wishlist-mobile .cart-icon span{
		font-size: 10px;
		background: #D64460;
		position: absolute;
		top: 0;
		padding: 1px 8px;
		text-align: center;
		border-radius: 4px;
		right: -15px;
	}
	.bottom-header {
		padding: 15px 0;
	}
	.submenu-link h4 {
    	font-size: 14px;
	}
	.submenu-link ul li a {
		font-size: 14px;
		line-height: 36px;
	}
	.banner img {
		height: 400px;
		object-fit: cover;
	}
	.popular-books-wrapper {
		padding: 50px 0;
	}
	.book-filter-container {
		padding: 50px 0;
	}
	.book-detail-container {
		padding: 50px 0;
	}
	.book-view-detail h3 {
		font-size: 23px;
		line-height: 36px;
	}
	.book-view-share {
		padding: 15px 0 !important;
	}
	.book-view-price {
		padding: 15px 0 !important;
	}
	.book-view-date {
		padding: 15px 0 !important;
	}
	.library-btn {
		padding: 15px 0 0 !important;
	}
	.contact-info-wrapper ul {
		justify-content: space-evenly;
	}
	.contact-info-wrapper ul li {
		margin: 0 0px;
	}
	.contact-info-wrapper ul li:before {
		display: none;
	}
	.custom-wishlist .menu-dropdown .dropdown-menu:before {
    	right: 50px;
	}
	.address-detail {
		padding: 40px;
	}
	br {
		display: none;
	}
	.about-content-image img{
		width: 100%;
	}
	.view-book-slider button.slide-arrow {
		height: 30px;
		width: 30px;
		right: -50px;
	}
	.view-book-slider button.prev-arrow {
		left: -50px;
	}
	.latest-news-slider-content {
		padding: 20px 0;
	}
	.view-book-modal .modal-body {
		padding: 30px 30px;
	}
	.other-filter-area {
		flex-direction: column;
		height: 300px;
    	overflow: auto;
	}
	.filter-list .other-filter {
		padding: 15px;
	}
}

@media (max-width:767px) {
    .custom-wishlist {
		justify-content: flex-end;
	}
	.banner-caption h1 {
		font-size: 30px;
		line-height: 40px;
	}
	.latest-update-slider {
		text-align: center;
	}
	.latest-update-wrapper .latest-update-slider button {
    	position: relative;
		bottom: -10px;
	}
	.latest-update-wrapper .latest-update-slider .slick-prev {
		right: 15px;
	}
	.latest-update-slider .latest-content {
		margin: 30px 0 10px;
		text-align: center;
	}
	.contact-info-wrapper {
		padding: 30px 0;
	}
	.contact-info-wrapper ul li a {
		font-size: 16px;
		line-height: 28px;
	}
	.contact-info-wrapper ul {
		flex-direction: column;
	}
	.contact-info-wrapper ul li {
		margin: 0 0 20px;
	}
	.contact-info-wrapper ul li:last-child {
		margin: 0;
	}
	.top-footer {
		padding: 40px 0 40px;
	}
	.footer-box {
		margin: 0 0 40px;
	}
	.social-links ul li a {
		font-size: 20px;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
	.book-view img {
		width: 100%;
	}
	.book-control-box {
		justify-content: center;
	}
	.contact-form-detail .form-group {
		margin-bottom: 15px;
	}
	.contact-banner img {
		height: 300px;
		object-fit: cover;
	}
	.customer-feedback-wrapper {
		padding: 50px 0;
	}
	.latest-news-slider {
		padding: 35px 20px;
	}
	.book-control-list ul {
		align-items: center;
		justify-content: space-between;
	}
	.library-btn-box {
		text-align: left;
		margin: 10px 0;
	}
	
	.signup-modal .modal-content {
		height: 500px;
		overflow: auto;
	}
	
}



@media (max-width:574px) {
	.banner-caption h1 {
		font-size: 25px;
		line-height: 35px;
	}
	.banner img {
		height: 300px;
	}
	.slick-slide img {
		display: block;
		width: 100%;
	}
	.popular-books-wrapper .card-body h5 {
		font-weight: 500;
	}
	.popular-books-wrapper .card-body span {
		font-size: 20px;
		line-height: 30px;
	}
	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 18px;}
	.book-listing-area .card-body h5 {
		font-size: 16px;
		line-height: 24px;
	}
	.book-listing-area p {
		line-height: 21px;
		margin-bottom: 2px;
	}
	.book-view-share ul li:before {
		right: -50%;
	}
	.book-view-price strong {
		font-size: 24px;
		line-height: 30px;
	}
	.book-view-date ul li p {
		font-size: 14px;
		line-height: 22px;
	}
	.book-view-date ul li strong {
		font-size: 16px;
		line-height: 24px;
	}
	.address-detail ul li {
		margin-bottom: 30px;
	}
	.feedback-content .customer-name img {
		width: auto;
	}
	.latest-news-slider-content h5 {
		font-size: 22px;
	}
}

@media (max-width:420px) {
	.custom-logo a {
		font-size: 30px;
		line-height: 40px;
	}
	.wishlist-mobile a {
		font-size: 18px;
		margin: 0 2px;
	}
	.banner-caption h1 {
		font-size: 18px;
		line-height: 25px;
	}
	.banner-caption p {
		font-size: 14px;
		line-height: 20px;
	}
	.megamenu-list .megamenu-tab a {
		padding: 20px 16px;
	}
	.filter-area {
		background: #f5f5f5;
		flex-direction: column;
	}
	.book-view-share ul {
		align-items: flex-start;
		flex-direction: column;
	}
	.book-view-share ul li {
		margin: 8px 0;
	}
	.book-view-share ul li:before {
		display: none;
	}
	.book-view-date ul {
		flex-direction: column;
	}
	.review-box {
		flex-direction: column;
	}
	.review-box a {
		margin-left: 0;
	}
	.book-view-detail h3 {
		font-size: 18px;
		line-height: 26px;
	}
	.custom-wishlist .menu-dropdown > a i {
		margin-left: 2px;
	}
	.address-detail ul li p {
		font-size: 18px;
		line-height: 26px;
	}
	.contact-banner-caption {
		padding: 20px;
	}
	.contact-banner-caption h3 {
		font-size: 23px;
    	line-height: 30px;
	}
	.feedback-content {
		padding: 20px 20px;
	}
	.book-control-list ul li a {
		padding: 0px;
	}
	.book-control-list ul li {
		margin: 0 2px;
	}
}