{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}Agnitio{% endblock title %}</title>
	<link rel="icon" type="image/svg" href="{% static 'img/favicon.svg' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- themefy CSS -->
    <link rel="stylesheet" href="{% static 'vendors/themefy_icon/themify-icons.css' %}" />
    <!-- select2 CSS -->
    <link rel="stylesheet" href="{% static 'vendors/niceselect/css/nice-select.css' %}" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'vendors/owl_carousel/css/owl.carousel.css' %}" />
    <!-- gijgo css -->
    <link rel="stylesheet" href="{% static 'vendors/gijgo/gijgo.min.css' %}" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{% static 'vendors/font_awesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/tagsinput/tagsinput.css' %}" />
    <!-- date picker -->
    <link rel="stylesheet" href="{% static 'vendors/datepicker/date-picker.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/vectormap-home/vectormap-2.0.2.css' %}" />
    <!-- scrollabe  -->
    <link rel="stylesheet" href="{% static 'vendors/scroll/scrollable.css' %}" />
    <!-- datatable CSS -->
    <link rel="stylesheet" href="{% static 'vendors/datatable/css/jquery.dataTables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/datatable/css/responsive.dataTables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/datatable/css/buttons.dataTables.min.css' %}" />
    <!-- text editor css -->
    <link rel="stylesheet" href="{% static 'vendors/text_editor/summernote-bs4.css' %}" />
    <!-- morris css -->
    <link rel="stylesheet" href="{% static 'vendors/morris/morris.css' %}">
    <!-- metarial icon css -->
    <link rel="stylesheet" href="{% static 'vendors/material_icon/material-icons.css' %}" />
    <!-- menu css  -->
    <link rel="stylesheet" href="{% static 'css/metisMenu.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'css/colors/default.css' %}" id="colorSkinCSS">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-dark.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
        .error{
            color: red;
        }
        {% block style %}
        {% endblock style %}
    </style>
</head>

<body class="crm_body_bg">
    <!-- main content part here -->
    <!-- sidebar  -->
    {% include 'main/sidebar.html' %}
    <!--/ sidebar  -->
    <section class="main_content dashboard_part large_header_bg">
        <!-- menu  -->
        <div class="container-fluid no-gutters">
            <div class="row">
                <div class="col-lg-12 p-0 ">
                    <div class="header_iner d-flex justify-content-between align-items-center">
                        <div class="sidebar_icon d-lg-none">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="line_icon open_miniSide d-none d-lg-block">
                            <img src="{% static 'img/line_img.png' %}" alt="">
                        </div>
                        <div class="serach_field-area d-flex align-items-center">
                            <div class="search_inner">
                                <form action="#">
                                    <div class="search_field">
                                        <input type="text" placeholder="Search">
                                    </div>
                                    <button type="submit"> <img src="{% static 'img/icon/icon_search.svg' %}" alt=""> </button>
                                </form>
                            </div>
                        </div>
                        <div class="header_right d-flex justify-content-between align-items-center">
                            <div class="header_notification_warp d-flex align-items-center">
                                <li>
                                    <a class="bell_notification_clicker" href="#"> <img src="{% static 'img/icon/bell.svg' %}" alt="">
                                        <span>5</span>
                                    </a>
                                    <!-- Menu_NOtification_Wrap  -->
                                    <div class="Menu_NOtification_Wrap">
                                        <div class="notification_Header">
                                            <h4>Notifications</h4>
                                        </div>
                                        <div class="Notification_body">
                                            <!-- single_notify  -->
                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="{% static 'img/staf/2.png' %}" alt=""></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#">
                                                        <h5>Cool Marketing </h5>
                                                    </a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                            <!-- single_notify  -->
                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="{% static 'img/staf/4.png' %}" alt=""></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#">
                                                        <h5>Awesome packages</h5>
                                                    </a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                            <!-- single_notify  -->
                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="{% static 'img/staf/3.png' %}" alt=""></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#">
                                                        <h5>what a packages</h5>
                                                    </a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                            <!-- single_notify  -->
                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="{% static 'img/staf/2.png' %}" alt=""></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#">
                                                        <h5>Cool Marketing </h5>
                                                    </a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                            <!-- single_notify  -->
                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="{% static 'img/staf/4.png' %}" alt=""></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#">
                                                        <h5>Awesome packages</h5>
                                                    </a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                            <!-- single_notify  -->
                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="{% static 'img/staf/3.png' %}" alt=""></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#">
                                                        <h5>what a packages</h5>
                                                    </a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nofity_footer">
                                            <div class="submit_button text-center pt_20">
                                                <a href="#" class="btn_1">See More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Menu_NOtification_Wrap  -->
                                </li>
                                <!-- <li>
                                    <a class="CHATBOX_open" href="#"> <img src="{% static 'img/icon/msg.svg' %}" alt=""> <span>2</span> </a>
                                </li> -->
                            </div>
                            <div class="profile_info">
                                <img src="{% static 'img/client_img.png' %}" alt="#">
                                <h5>{{ request.user.first_name}} {{request.user.last_name}}</h5>
                                <div class="profile_info_iner">
                                    <!-- <div class="profile_author_name">
                                        <p>Neurologist </p>
                                        <h5>Dr. Robar Smith</h5>
                                    </div> -->
                                    <div class="profile_info_details">
                                        <a href="{% url 'users:profile' %}">My Profile </a>
                                        <a href="#">Settings</a>
                                        <a href="{% url 'logout' %}">Log Out </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ menu  -->
        {% block content %}
        {% endblock content %}
    </section>
    <!-- main content part end -->
    <!-- Theme Toggle Button -->
    <div class="nav-item theme_toggle">
        <button class="btn">
        <img src="{% static 'img/theme-dark.png' %}" alt="" id="dark-mode">
        <img src="{% static 'img/theme-light.png' %}" alt="" id="light-mode">
      </button>
    </div>
    <div id="back-top" style="display: none;">
        <a title="Go to Top" href="#">
            <i class="ti-angle-up"></i>
        </a>
    </div>
    <!-- footer  -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- bootstarp js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- sidebar menu  -->
    <script src="{% static 'js/metisMenu.js' %}"></script>
    <!-- waypoints js -->
    <script src="{% static 'vendors/count_up/jquery.waypoints.min.js' %}"></script>
    <!-- waypoints js -->
    <script src="{% static 'vendors/chartlist/Chart.min.js' %}"></script>
    <!-- counterup js -->
    <script src="{% static 'vendors/count_up/jquery.counterup.min.js' %}"></script>
    <!-- nice select -->
    <script src="{% static 'vendors/niceselect/js/jquery.nice-select.min.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'vendors/owl_carousel/js/owl.carousel.min.js' %}"></script>
    <!-- responsive table -->
    <script src="{% static 'vendors/datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatable/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatable/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatable/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatable/js/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/datatable/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/datatable/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'vendors/datatable/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatable/js/buttons.print.min.js' %}"></script>
    <!-- datepicker  -->
    <script src="{% static 'vendors/datepicker/datepicker.js' %}"></script>
    <script src="{% static 'vendors/datepicker/datepicker.en.js' %}"></script>
    <script src="{% static 'vendors/datepicker/datepicker.custom.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'vendors/chartjs/roundedBar.min.js' %}"></script>
    <!-- progressbar js -->
    <script src="{% static 'vendors/progressbar/jquery.barfiller.js' %}"></script>
    <!-- tag input -->
    <script src="{% static 'vendors/tagsinput/tagsinput.js' %}"></script>
    <!-- text editor js -->
    <script src="{% static 'vendors/text_editor/summernote-bs4.js' %}"></script>
    <script src="{% static 'vendors/am_chart/amcharts.js' %}"></script>
    <!-- scrollabe  -->
    <script src="{% static 'vendors/scroll/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'vendors/scroll/scrollable-custom.js' %}"></script>
    <!-- vector map  -->
    <script src="{% static 'vendors/vectormap-home/vectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'vendors/vectormap-home/vectormap-world-mill-en.js' %}"></script>
    <!-- apex chrat  -->
    <script src="{% static 'vendors/apex_chart/apex-chart2.js' %}"></script>
    <script src="{% static 'vendors/apex_chart/apex_dashboard.js' %}"></script>
    <!-- <script src="{% static 'vendors/echart/echarts.min.js' %}"></script> -->
    <script src="{% static 'vendors/chart_am/core.js' %}"></script>
    <script src="{% static 'vendors/chart_am/charts.js' %}"></script>
    <script src="{% static 'vendors/chart_am/animated.js' %}"></script>
    <script src="{% static 'vendors/chart_am/kelly.js' %}"></script>
    <script src="{% static 'vendors/chart_am/chart-custom.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/dashboard_init.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- Charts Js -->
    <script src="{% static 'vendors/chartjs/chartjs_init.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'vendors/chartlist/Chart.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script>
$(document).ready(function(){
  $("#search_table").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
 {% block footer %} {% endblock footer %}
</body>

</html>