{% load static %}
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <!-- <a class="large_logo" href="index-2.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <a class="small_logo" href="index-2.html"><img src="{% static 'img/mini_logo.png' %}" alt=""></a> -->
        <a class="large_logo" href="{% url 'superadmin' %}"> <img src="{% static 'img/logo/logo.png' %}" alt=""> </a>
        <a class="small_logo" href="{% url 'superadmin' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>

        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
<!--            <li class="">-->
<!--                <a class="" href="{% url 'superadmin' %}" aria-expanded="false">-->
<!--                    <div class="nav_icon_small">-->
<!--                        <img src="{% static 'img/menu-icon/dashboard.svg' %}" alt="">-->
<!--                    </div>-->
<!--                    <div class="nav_title">-->
<!--                        <span>Dashboard</span>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="">-->
<!--                <a class="" href="{% url 'teacher:access' %}" aria-expanded="false">-->
<!--                    <div class="nav_icon_small">-->
<!--                        <i class="fa fa-universal-access"></i>-->
<!--                    </div>-->
<!--                    <div class="nav_title">-->
<!--                        <span>Book Access Management</span>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="">-->
<!--                <a class="" href="{% url 'teacher:timing' %}" aria-expanded="false">-->
<!--                    <div class="nav_icon_small">-->
<!--                        <i class="fa fa-clock"></i>-->
<!--                    </div>-->
<!--                    <div class="nav_title">-->
<!--                        <span>Book Timing Management</span>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </li>-->


        <li class="">
            <a class="" href="{% url 'superadmin' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/dashboard.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Dashboard</span>
                </div>
            </a>
        </li>
        <li class="">
            <a class="" href="{% url 'ebook:book_manager' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/11.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Book Manager</span>
                </div>
            </a>
        </li>
        <li class="">
            <a class="" href="{% url 'ebook:get_catalogue_manager' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/8.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Catalogue Manager</span>
                </div>
            </a>
        </li>
        <li class="">
            <a class="" href="{% url 'users:user_list' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/5.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>User Manager</span>
                </div>
            </a>
        </li>
        <li class="">
            <a class="" href="{% url 'report:report_list' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/13.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Report Management</span>
                </div>
            </a>
        </li>

         <li class="">
            <a class="" href="{% url 'cat:category_list' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/8.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Category Management</span>
                </div>
            </a>
        </li>

        <li class="">
            <a class="" href="{% url 'banner:banner_list' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/2.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Banner Management</span>
                </div>
            </a>
        </li>

        <li class="">
            <a class="" href="{% url 'contacts:contact_list' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/2.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Contact Manager</span>
                </div>
            </a>
        </li>
        <li class="">
            <a class="" href="{% url 'book_assign:book_assign_list' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/2.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Book Assignment</span>
                </div>
            </a>
        </li>
        <li class="">
            <a class="" href="{% url 'payment:payment_setting' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/dashboard.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Payment Setting</span>
                </div>
            </a>
        </li>
        <li class="">
            <a class="" href="{% url 'users:profile' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/4.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Admin Profile</span>
                </div>
            </a>
        </li>
        <li class="">
            <a class="" href="{% url 'users:change_password' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/4.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Change Your Password</span>
                </div>
            </a>
        </li>
         <li class="">
            <a class="" href="{% url 'logout' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'img/menu-icon/dashboard.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Log Out</span>
                </div>
            </a>
        </li>
    </ul>
</nav>