{% extends 'main/frontend_base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}
	<section class="body-wrapper">
		<div class="book-detail-container">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 mb-4 mb-md-0">
						<div class="book-view">
							<img src="{% if book.cover_file %}
									{{ book.cover_file }}
									{% else %}
									/media/noimg.jpg {% endif %}" alt="book" class="img-fluid" style="height: 200px; width: 200px;">
						</div>
					</div>
					<div class="col-lg-8 col-md-7">
						<div class="book-view-detail">
							<h3>{{ book.title }}</h3>
							<div class="book-view-share py-4">
								<ul>
									<li>
										<p>Category: <strong>{{book.category.name}}</strong></p>
									</li>
									<li>
										<p>Subject: <strong>{{book.subject|default:'None'}}</strong></p>
									</li>
									<li>
										<strong class="text-danger">${{book.price_by_currency}}</strong>
									</li>
								</ul>
							</div>
<!--							<div class="book-view-price py-4">-->
<!--								<div class="review-box">-->
<!--									<div class="review-start">-->
<!--										<i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--										<i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--										<i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--										<i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--										<i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--									</div>-->
<!--									<a href="#">Write a Reviews</a>-->
<!--								</div>-->
<!--							</div>-->
							<div class="book-view-date py-4">
								<ul>
									<li>
										<p>Publication Date :</p>
										<strong>{{book.publication_date }}</strong>
									</li>
									<li>
										<p>ISBN Number :</p>
										<strong>{{book.asin}}</strong>
									</li>
									<li>
										<p>Language :</p>
										<strong>{{book.language}}</strong>
									</li>
								</ul>
							</div>

							<div class="modal fade" id="pdfopen">
							    <div class="modal-dialog modal-xl">
							        <div class="modal-content" style="width:83%">
							            <div class="modal-header">
							                <h4 class="modal-title text_orange">Book Name : {{ book.title }}</h4>
							                <button type="button" class="close" data-dismiss="modal">&times;</button>
							            </div>
							            <div class="modal-body">
							                <iframe class="pdf_documents" src="https://research.google.com/pubs/archive/44678.pdf" width = "900" height="600">

							                </iframe>
							            </div>
							        </div>
							    </div>
							</div>

							<div class="library-btn form-froup py-4">
								<a class="view-detail gradient" href="http://agnitio.optimaldevelopments.com/?id={{book.id}}">Start Reading</a>
<!--								<a class="red-color" href="">Preview Book</a>-->
							</div>
						</div>
					</div>
				</div>
				<div class="desc-tab-wrapeer">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item" role="presentation">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
					  </li>

					</ul>
					<div class="tab-content" id="myTabContent">
					  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						  <p>{{book.meta_data}}</p>
					  </div>

					</div>
				</div>
			</div>
		</div>

		<div class="contact-info-wrapper">
			<div class="container">
				<ul>
					<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send us an email</a></li>
					<li><a href="tel:1800 000 000"><i class="fa fa-phone" aria-hidden="true"></i> 1800 000 000</a></li>
				</ul>
			</div>
		</div>
	</section>

{% endblock %}
