{% extends 'main/base.html' %}
{% load static %}
{% block title %}Book Access{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Book Assign Manageement</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Book Assign</li>
                        </ol>
                    </div>
<!--                    <div class="page_title_right">-->
<!--                        <div class="page_date_button d-flex align-items-center">-->
<!--                            <img src="{% static 'img/icon/calender_icon.svg' %}" alt=""> August 1, 2020 - August 31, 2020-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
<!--                            <div class="main-title">-->
<!--                                <h3 class="m-0">Basic Form</h3>-->
<!--                            </div>-->
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                                {% endfor %}
                             {% endif %}
                        </div>
                    </div>
                    <div class="white_card_body">
                        <form action="" method="post" id="book_assignment">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="start_date">Start Date<span class="text-danger">*</span></label>
                                        <input type="date" name="start_date" id="start_date" required class="form-control datetime">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="end_date">End Date <span class="text-danger">*</span></label>
                                        <input type="date" name="end_date" id="end_date" required class="form-control datetime2">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="book_select">Book Select</label>
                                        <input type="hidden" id="selected_books" value='{{data.book.all|join:"|"}}'>
                                        {{payment_form.book}}
<!--                                        <select name="book_select[]" required id="book_select" class="form-control select2 book_select" multiple>-->
<!--                                            {% for book in book_list %}-->
<!--                                                <option value="{{book.id}}">{{book.title}}</option>-->
<!--                                            {% endfor %}-->
<!--                                        </select>-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="role_select">Teacher Select</label>
                                        <input type="hidden" id="selected_teacher" value='{{data.user.all|join:"|"}}'>
                                        {{payment_form.user}}
<!--                                        <select name="role_select[]" id="role_select" required class="form-control select2 user_select" multiple>-->
<!--                                            <option value="">&#45;&#45;&#45;&#45; Select Teacher &#45;&#45;&#45;&#45;</option>-->
<!--                                            {% for i in teacher_list %}-->
<!--                                                <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>-->
<!--                                            {% endfor %}-->
<!--                                        </select>-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-success mt-4">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}

<script>
var srat_date = "{{data.start_date|date:"Y-m-d H:i"}}";
var end_date = "{{data.end_date|date:"Y-m-d H:i"}}";
    $(document).ready(function() {

    var selectd_book = $("#selected_books").val();
    var selected_teacher = $("#selected_teacher").val();
    if(selectd_book)
    {
    var select_book_in_array = selectd_book.split("|");
       $("#id_book option").each(function()
        {
          if(select_book_in_array.lastIndexOf($(this).text()) != -1)
          {
                $(this).prop('selected', true);
          }
          if($(this).val()=="")
          {
          $(this).prop('selected', false);
          }
        });
    }

    if(selected_teacher)
    {
    var selected_teacher_in_array = selected_teacher.split("|");
       $("#id_user option").each(function()
        {
          if(selected_teacher_in_array.lastIndexOf($(this).text()) != -1)
          {
                $(this).prop('selected', true);
          }
          if($(this).val()=="")
          {
          $(this).prop('selected', false);
          }
        });
    }

        $('#id_book').select2({
    placeholder: "Please select book"
});
        $('#id_user').select2(
        {
    placeholder: "Please select teacher"
});
        $('.datetime').flatpickr({
            "enableTime": true,
            dateFormat: "Y-m-d H:i",
            defaultDate: [srat_date],
<!--            minDate: "today",-->
<!--            maxDate: new Date().fp_incr(14) // 14 days from now-->
        });


        $('.datetime2').flatpickr({
            "enableTime": true,
            dateFormat: "Y-m-d H:i",
            defaultDate: [end_date],
<!--            minDate: "today",-->
<!--            maxDate: new Date().fp_incr(14) // 14 days from now-->
        });
      });

jQuery.validator.addMethod("dateAfter",
function(value, element, params) {

    if (!/Invalid|NaN/.test(new Date(value))) {
        return new Date(value) > new Date($(params).val());
    }

    return isNaN(value) && isNaN($(params).val())
        || (Number(value) > Number($(params).val()));
},'Must be greater than start date.');

$('#book_assignment').validate({
    rules: {
        start_date: {
            required: true,
        },
        end_date: {
            required: true,
            dateAfter: "#start_date",
        },
        role_select: {
            required: true,
        }
    },
    messages: {
    },
    errorPlacement: function(error, element){
        error.insertAfter(element.parent());
    },
    submitHandler: function() {
        return true
    }
})
</script>
{% endblock %}