{% extends 'main/base.html' %}
{% load static %}
{% block title %}Report Management{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Book Assignment</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Book Assignment</li>
                             <li class="breadcrumb-item active">Book Assignment Listing</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                                {% endfor %}
                             {% endif %}
                            <div class="white_box_tittle list_header">
                                <div class="col-xl-4">
                                    <h4>Book Assignment List </h4>
                                </div>
                                <div class="box_right d-flex lms_block col-xl-6">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ml-10">
                                        <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
                                    </div>
                                    <div class="add_button ml-10">
                                        <a href="{% url 'book_assign:book_assign' %}" class="btn_1">Book Assign</a>
                                    </div>
                                </div>
<!--                                <div class="1col-xl-2">-->
<!--                                    <a href="{% url 'users:signup' %}" class="btn btn-primary float-right">Create User</a>-->
<!--                                </div>-->
                            </div>

                            <div class="QA_table mb_30">
                                <!-- table-responsive -->
                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">S.no</th>
                                            <th scope="col">Teacher Name</th>
                                            <th scope="col">Book Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Payment Method</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for report in book_assign_list %}
                                          <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <th scope="row">{{report.user.all|join:" | "}}</th>
                                            <th scope="row">{{report.book.all|join:" | "}}</th>
                                            <th scope="row">{{report.user.email}}</th>
                                            <th scope="row">{{report.start_date|date:"d,M Y h:i a"}}</th>
                                            <th scope="row">{{report.end_date|date:"d,M Y h:i a"}}</th>
                                            <th scope="row">{{report.payment_method}}</th>
                                            <th scope="row">
                                                <div class="action_btns d-flex">
                                                        <a href="{% url 'book_assign:book_assign_edit' report.id  %}" class="action_btn mr_10"><i class="far fa-edit"></i></a>
                                                        <a href="{% url 'book_assign:book_assign_delete' report.id  %}" class="action_btn" onclick="return confirm('Are you sure you want to delete this item?');">
                                                              <i class="fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                            </th>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}