{% extends 'main/base.html' %}
{% load static %}
{% block title %}Add Category{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Category Management</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item">Category Management</li>
                             <li class="breadcrumb-item">New Category</li>
                        </ol>
                    </div>
<!--                    <div class="page_title_right">-->
<!--                        <div class="page_date_button d-flex align-items-center">-->
<!--                            <img src="{% static 'img/icon/calender_icon.svg' %}" alt=""> August 1, 2020 - August 31, 2020-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
               <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
<!--                            <div class="main-title">-->
<!--                                <h3 class="m-0">Basic Form</h3>-->
<!--                            </div>-->

                        </div>
                    </div>
                    <div class="white_card_body">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show">
                                <strong>Success!</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                            {% endfor %}
                         {% endif %}
                        <form action="{% url 'cat:add_category' %}" method="post">
                             {% csrf_token %}


                            <div class="form-group">
                                    <label for="cat">Category Name</label>
                                    <select name="parent_category_id" id="parent_category_id" class="form-control">
                                        <option value="">---- Select Category ----</option>
                                        {% for category in category_list %}
                                            <option value="{{category.id}}" {% if category.id == obj.parent_category.id %} selected{% endif %}>{{category.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            <div class="form-group">
                                    <label for="name">Category Name <span class="text-danger">*</span></label>
                                    <input type="hidden" name="cat_id" value="{{ obj.id }}">
                                    <input type="text" name="name" id="name" value="{{ obj.name }}" class="form-control" required>
                                </div>

                            <div class="form-group">
                                <label for="">Show on Front List
                                <input type="checkbox" name="show_on_ui" class="form-control1" {% if obj.id %}{%if obj.show_on_ui%}checked=""{%endif%}{%else%}checked=""{%endif%}></label>
                            </div>

                            <input type="submit" class="btn btn-primary" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}