{% extends 'main/base.html' %}
{% load static %}
{% block title %}Change Your Password{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <div class="row">
            <div class="col-md-6">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible fade show">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}

                        <div class="form-group">
                            <label for="exampleInputPassword1">Old Password</label>
                            <input type="password" name="q_Old_Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>


                        <div class="form-group">
                            <label for="NewPassword">New Password</label>
                            <input type="password" name="q_new_Password" class="form-control" id="NewPassword" placeholder="Password">
                        </div>


                        <div class="form-group">
                            <label for="ConfirmNewPassword">Confirm New Password</label>
                            <input type="password" name="q_confirm_new_Password" class="form-control" id="ConfirmNewPassword" placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}