{% extends "base.html" %}
{% block title %}Create Users{% endblock %}

{% block style %}
h2{

}
{% endblock %}

{% block body %}
<h2>Create Users</h2>
  <form method="post" action="{% url 'users:users_create' %}" enctype="multipart/form-data">
    {% csrf_token %}
      <input type="file" name="file" accept=".csv">
      <input type="submit" class="btn btn-success">
  </form>
{% endblock %}

{% block script %}

{% endblock %}
