{% extends 'main/base.html' %}
{% load static %}
{% block title %}User Manager{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">User Manager</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">User Management</li>
                            <li class="breadcrumb-item active">User Listing</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                                {% endfor %}
                             {% endif %}
                            <div class="white_box_tittle list_header">
                                <div class="col-xl-6">
                                    <h4>User List </h4>
                                </div>
                                <div class="box_right d-flex lms_block col-xl-4">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ml-10">
                                        <a href="#"  class="btn_1">search</a>
                                    </div>

                                </div>
                                <div class="1col-xl-2">
                                   <a href="{% url 'users:signup' %}" class="btn_1">Add New User</a>
                                </div>

                            </div>

                            <div class="QA_table mb_30">
                                <!-- table-responsive -->
                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">S.no</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">User Role</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in user_list %}
                                          <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <th scope="row">{{user.first_name}}</th>
                                            <th scope="row">{{user.last_name}}</th>
                                            <th scope="row">{{user.email}}</th>
                                            <th scope="row">{{user.get_user_type_display}}</th>
                                            <th scope="row"><a href="#" class="status_btn">Active</a></th>
                                              <th>
                                                  <div class="action_btns d-flex">
                                                    <a href="{% url 'users:edit_user' pk=user.id %}" class="action_btn mr_10"><i class="far fa-edit"></i></a>
                                                    <a href="{% url 'users:delete_user' pk=user.id %}" class="action_btn"
                                                            onclick="return confirm('Are you sure you want to delete this item?');">
                                                          <i class="fas fa-trash"></i>
                                                    </a>
                                                  </div>
                                              </th>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}