{% extends 'main/base.html' %}
{% load static %}
{% block title %}Book Access{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Book Access Manageement</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Book Access</li>
                        </ol>
                    </div>
<!--                    <div class="page_title_right">-->
<!--                        <div class="page_date_button d-flex align-items-center">-->
<!--                            <img src="{% static 'img/icon/calender_icon.svg' %}" alt=""> August 1, 2020 - August 31, 2020-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
<!--                            <div class="main-title">-->
<!--                                <h3 class="m-0">Basic Form</h3>-->
<!--                            </div>-->
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                                {% endfor %}
                             {% endif %}
                        </div>
                    </div>
                    <div class="white_card_body">
                        <form action="">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="book_select">Book Select</label>
                                        <select name="book_select" id="book_select" class="form-control">
                                            {% for book in book_list %}
                                                <option value="{{book.id}}">{{book.title}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="role_select">Role Select</label>
                                        <select name="role_select" id="role_select" class="form-control">
                                            <option value="1">Student</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-success mt-4">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}