{% extends 'main/base.html' %}
{% load static %}
{% block title %}Payment Setting{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Payment Setting</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Payment Setting</li>
                        </ol>
                    </div>
<!--                    <div class="page_title_right">-->
<!--                        <div class="page_date_button d-flex align-items-center">-->
<!--                            <img src="{% static 'img/icon/calender_icon.svg' %}" alt=""> August 1, 2020 - August 31, 2020-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
<!--                            <div class="main-title">-->
<!--                                <h3 class="m-0">Basic Form</h3>-->
<!--                            </div>-->
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                                {% endfor %}
                             {% endif %}
                        </div>
                    </div>
                    <div class="white_card_body">
                        <form id="product_form" action="{% url 'payment:payment_setting' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for=""></label>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="payment_setting_type" id="gridRadios1" value="0" checked="">
                                    <label class="form-check-label" for="gridRadios1">
                               Sandbox
                                </label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="payment_setting_type" id="gridRadios2" value="1">
                                    <label class="form-check-label" for="gridRadios2">
                               Production
                                </label>
                                </div>
                            </div>


                            <div class="mb-3">
                              <label class="form-label">Api key <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" name="api_key" required="required"/>
                            </div>

                            <div class="mb-3">
                              <label class="form-label">Secret key <span class="text-danger">*</span></label>
                              <input type="text" class="form-control" name="secret_key" required="required"/>
                            </div>
                            <input type="submit" name="p_submit" class="btn btn-primary">
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}