{% load static %}
<!-- allauth -->
{% load account %}
{% load socialaccount %}
<!-- allauth -->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/svg" href="{% static 'images/favicon.svg' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/bootstrap.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/font-awesome.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/slick.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/front_style.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/responsive.css' %}">
    <style>
    #book-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
	#book-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
	#book-list li:hover{background:#ece3d2;cursor: pointer;}
	#search_book{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
        {% block style %}
        {% endblock %}
    body {
  background: #ececec;
}
.body-wrapper {
        background-color: #ffffff!important;
    }
.lds-dual-ring.hidden {
display: none;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.body-wrapper .book-detail-container{
	    background-color: #ffffff;
}

.body-wrapper .related-book-wrapper{
	background-color: #ffffff;
}
.book-detail-container .col-lg-4>.book-view>img{
	width: auto !important;
    height: auto !important;
    object-fit: scale-down;
    max-width: 100%;
}
.book-view-detail .library-btn.form-froup.py-4 a.view-detail.gradient:nth-child(3){
	background: #ffffff;
    color: #FC6D5E;
}
.book-view-share ul li strong, .book-view-date ul li strong{
	    font-weight: normal;
}
.book-view-date ul li strong {
    font-size: 16px;
    }
.book-view-date ul li p{
	font-size: 15px;
}
.book-view-detail .library-btn.form-froup.py-4 a.view-detail.gradient{
	font-weight: normal;
	font-size: 15px;
}
.desc-tab-wrapeer ul li a.nav-link {
    font-weight: 600;
    font-size: 16px;
    }
#search_book {
    padding: 10px;
    border: #a8d4b1 1px solid;
    border-radius: 4px;
    border: none;
}

.slick-slide img {
    display: block;
    height: 200px !important;
    width: 100% !important;
    object-fit: scale-down;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 99999 !important;
    opacity: 1;
    transition: all 0.5s;
}

<!--.col-lg-12 {-->
<!--min-height : 400px !important-->
<!--}-->

.product-card {
	height: 500px !important;
}

.body-wrapper {
        background-color: #ffffff!important;
    }
.slick-slide img {
    display: block;
    height: 200px !important;
    width: 100% !important;
    object-fit: scale-down;
   }


	.product-card .card-body span{
		position: absolute;
		bottom: 56px;
	}
	.book-view-detail h3{
    border-bottom: 2px solid #EBEBED;
}
.book-view-detail h3:before{
    height: 2px;
    bottom: -2px;
}
.book-view-share ul li:nth-child(1){
    width:35%;
}
.book-view-share ul li:nth-child(2){
    width:40%;
    text-align:center;
}
.book-view-share ul li:nth-child(3){
    width:25%;
    text-align: right;
}
.book-view-share ul li:before{
    right: 0;
}
.book-view-share ul{
    align-items: baseline;
}
.pdf_documents + .contact-info-wrapper {
    margin-top: 16px;
}

.related-book-wrapper .heading-box h3 {
    color: #232B33;
    border-bottom: 2px solid #EBEBED;
    padding-bottom: 29.5px;
    margin-bottom: 45.5px;
    text-align: left;
    font: normal normal 600 30px/46px Poppins;
    letter-spacing: -0.12px;
    color: #232B33;
}
    </style>
</head>

<body>
<div id="loader" class="lds-dual-ring hidden overlay"></div>
	<div id="mySidenav" class="sidenav">
	  <span class="closebtn" onclick="closeNav()"><i class="fa fa-close"></i></span>
	  <div class="mobile-left-menu">
		  <ul>
			  <li><a href="{% url 'frontend:about' %}">About</a></li>
			  <li><a href="{% url 'frontend:contact_us' %}">Contact</a></li>
              {% if request.user.id %}
			  <li><a href="{% url 'frontend:library' %}">My library</a></li>
              {% else %}
			  <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#student_login">Sign in</a></li>
              {% endif %}
		  </ul>
	  </div>
	</div>
	<header class="custom-header-wrapper">
		<div class="top-header d-none d-lg-block">
			<div class="container">
				<ul>
					<li><a href="{% url 'frontend:about' %}">About Us</a></li>
					<li><a href="{% url 'frontend:contact_us' %}">Contact Us</a></li>
                    {% if request.user.id %}
                    <li class="dropdown menu-list">
						<a href="#" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{% url 'frontend:library' %}">My library</a>
<!--							<a class="dropdown-item" href="#">My profile</a>-->
							<a class="dropdown-item" onclick="logout()" href="{% url 'frontend:logout' %}">Logout</a>
						</div>
					</li>
                    {% else %}
					<li class="dropdown menu-list">
						<a href="#" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign in</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
<!--							<a class="dropdown-item" href="#" data-toggle="modal"-->
<!--						   	data-target="#teacher_login">-->
<!--								<img src="{% static 'images/reading.svg' %}" alt="Banners" class="img-fluid"> Login as Teacher-->
<!--							</a>-->
							<a class="dropdown-item" href="#" data-toggle="modal"
						   	data-target="#student_login">
								<img src="{% static 'images/presentation.svg' %}" alt="Banners" class="img-fluid"> Login
							</a>
						</div>
					</li>
                    {% endif %}
				</ul>
			</div>
		</div>
		<div class="middle-header d-block d-lg-none">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-2">
						<div class="menu-toggle-box">
							<span class="menu-toggle" onclick="openNav()"><i class="fa fa-bars"></i></span>
						</div>
					</div>
					<div class="col-5 offset-1">
						<div class="custom-logo text-center">
							<a class="brand-logo" href="{% url 'frontend:home' %}">
								<img src="{% static 'images/logo.svg' %}" alt="Banners" class="img-fluid">
							</a>
						</div>
					</div>

					<div class="col-3 offset-1">
						<div class="wishlist-mobile text-right">
							<a class="heart-icon" href="#"><i class="fa fa-heart-o"></i></a>
							<a class="cart-icon" href="{% url 'frontend:cart' %}">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="cartItem">0</span>
								<input type="hidden" class="cartItemId">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-3 col-xl-3 d-none d-lg-block">
						<div class="custom-logo">
							<a class="brand-logo" href="{% url 'frontend:home' %}">
								<img src="{% static 'images/logo.svg' %}" alt="Banners" class="img-fluid">
							</a>
						</div>
					</div>
					<div class="col-lg-5 col-xl-5 col-6">
						<div class="custom-search input-group frmSearch">
						  <input type="text" class="form-control" placeholder="Search Books" id="search_book" data-url="{% url 'frontend:search_book' %}"
								 aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div id="suggesstion-box">
							  <ul id="book-list"></ul>
						    </div>
						  <div class="input-group-append">
							<button class="" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
						  </div>

						</div>
					</div>
					<div class="col-lg-4 col-xl-4 col-6 wishlist-wrapper">
						<div class="custom-wishlist">
							<span class="menu-dropdown dropdown show">
							  <a class="btn megamenu-toggle" href="#" role="button">
								Browse All <i class="fa fa-angle-down" aria-hidden="true"></i>
							  </a>
							  <div class="dropdown-menu dropdown-menu-right megamenu-list">
								<div class="row no-gutters">
									<div class="col-md-3 megamenu-tab">
										<div class="nav flex-row flex-md-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
											{% for j in parent_category %}
												<a class="nav-link {% if forloop.counter == 1 %}active{%endif%}" id="v-pills-{{forloop.counter}}-tab" data-toggle="pill" href="#v-pills-{{forloop.counter}}" role="tab" aria-controls="v-pills-{{forloop.counter}}" aria-selected="true">{{j.name}}</a>
											{% endfor %}
											<!-- <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Schools</a>
										  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Higher Education</a> -->
										</div>
									  </div>
									  <div class="col-md-9">
										<div class="tab-content" id="v-pills-tabContent">
										{% for j in parent_category %}
										  <div class="tab-pane fade show {% if forloop.counter == 1 %}active{%endif%}" id="v-pills-{{forloop.counter}}" role="tabpanel" aria-labelledby="v-pills-{{forloop.counter}}-tab">

											  <div class="row">
												{% for child in j.child %}
													<div class="col-md-4">
														<div class="submenu-link">
															<h4>{{child.name}}</h4>
														</div>
														<div class="row">
															<div class="col-md-12">
																<div class="submenu-link">
																	<ul>
																		{% for child1 in child.child %}
																			<li><a href="{% url 'frontend:book_listing' %}?id={{child1.id}}">{{ child1.name }}</a></li>
																		{% endfor %}
																	</ul>
																</div>
															</div>

														</div>
													</div>
												{% endfor %}
											  </div>
										  </div>
										{% endfor %}
										</div>
									  </div>
							  	</div>
							  </div>
							</span>
							{% if request.user.is_authenticated %}
							<a class="wishlist-icon d-none d-lg-block" href="{% url 'frontend:wishlist' %}">
								<i class="fa fa-heart-o cart-icon" aria-hidden="true"><span class="p-1">{{wishlist}}</span></i>
							</a>
							{% endif %}
							<form action="{% url 'frontend:cart' %}" method="get" class="cart-icon" id="added_cart">
								<img src="{% static 'images/cart.svg' %}" alt="cart" style="cursor: pointer;" class="img-fluid cart_icon"> <span class="cartItem" style="color: #fff;">0</span>
								<input type="hidden" class="user_logged_in_id" value="{{request.user.id}}">
								<input type="hidden" class="cartItemId" name="book_id">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- Modal -->
	<div class="login-modal modal fade" id="student_login" tabindex="-1" role="dialog" aria-labelledby="student_loginTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
		  <div class="row no-gutters">
			<div class="col-md-6 d-none d-md-block">
			<img src="{% static 'images/login-image.png' %}" alt="login" class="img-fluid">
			</div>
			<div class="col-md-6 bg-white">
				<div class="modal-header border-0 pb-0">
					<h4 class="mb-2">Login as a Student/Teacher</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			  	</div>
				<div class="form-style-box p-3">
					<form id="signinForm" novalidate>
						{% csrf_token %}
						<div id="login-error" class="text-danger"></div>
					  <div class="form-group mb-0">
						<label>Email Address<span class="text-danger">*</span></label>
						 <input type="hidden" name="user_type" value="1">
						<input type="email" placeholder="Enter Email" required name="email" autocomplete="false" class="form-control" id="email" aria-describedby="emailHelp">
						  <span class="text-danger" style="display: none">This field is required.</span>
					  </div>
					  <div class="form-group pb-3">
					  	<label>Password<span class="text-danger">*</span></label>
						<input type="password" name="password" required placeholder="********" autocomplete="false" class="form-control" id="password">
						  <span class="text-danger" style="display: none">This field is required.</span>
					  </div>
						<div class="forgot-password text-right">
							<a href="{% url 'frontend:forget_password' %}">Forget Password?</a>
						</div>
					   <div class="login-btn-box py-2">
					  	<button type="submit" class="btn btn-login w-100 font-weight-bold">Submit</button>
					   </div>
					</form>
				  <div class="sideline text-center">OR</div>
				  <div class="social-login">
					  <!-- allauth -->
				  	<ul>
						<li>
							<a href="{% provider_login_url 'facebook' method='oauth2' %}"><img src="{% static 'images/facebook.png' %}" alt="fb" class="img-fluid"></a>
						</li>
						<!-- <li>
							<a href="#"><img src="{% static 'images/twitter.png' %}" alt="tw" class="img-fluid"></a>
						</li> -->
						<li>
							<a href="{% provider_login_url 'google' %}"><img src="{% static 'images/google.png' %}" alt="google" class="img-fluid"></a>
						</li>
				  	</ul>
					  <!-- allauth -->
				  </div>
				  <div class="sign-up-box pt-4 text-center">
				  Don't have an account? <a href="#" data-toggle="modal" data-target="#signUp" data-dismiss="modal">Sign Up</a>
				  </div>
				</div>

			</div>
			</div>
		</div>
	  </div>
	</div>

	<div class="signup-modal modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="student_loginTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
		  <div class="row no-gutters">
			<div class="col-lg-5 d-none d-lg-block left-img">
			<img src="{% static 'images/login-image.png' %}" alt="login" class="img-fluid">
			</div>
			<div class="col-lg-7 bg-white">
				<div class="modal-header border-0 pb-0">
					<h4 class="mb-2">Signup <span></span></h4>
					<div class="text-danger" id="signup-error"></div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			  	</div>
				<div class="signup-form px-3">
					<form id="signupForm" novalidate>
					   	<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="form-group mb-2">
									<label>First Name<span class="text-danger">*</span></label>
									<input type="text" name="first_name" class="form-control alphaonly" required="" placeholder="Enter first name" maxlength="30" id="id_first_name">
							  	</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group mb-2">
									<label>Last Name<span class="text-danger">*</span></label>
                        			    <input type="text" name="last_name" class="form-control alphaonly" required="" placeholder="Enter last name" maxlength="30" id="id_last_name">
							  	</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-2">
									<label>Email<span class="text-danger">*</span></label>
						  				<input type="email" name="email" class="form-control" placeholder="Enter Email" maxlength="254" autofocus="" required="" id="id_email">
							  	</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-2">
									<label>Password<span class="text-danger">*</span></label>
						  				<input type="password" name="password1" class="form-control" placeholder="********" required="" id="id_password1">
							  	</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group mb-2">
									<label>User Type<span class="text-danger">*</span></label>
									<select name="role" class="form-control" required id="id_role">
										<option value="">Select User Type</option>
									  <option value="1">Student</option>
									  <option value="2">Teacher</option>
									  <!--<option value="3">Principal</option>
									  <option value="4">Admin</option>
									  -->
									</select>
							  	</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group mb-2">
									<label>Sex<span class="text-danger">*</span></label>
									<select name="sex" class="form-control" id="id_sex" required>
										<option value="">Select Sex</option>
										<option value="1">Male</option>
									  <option value="2">Female</option>
									  <option value="3">Other</option>
									</select>
							  	</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group mb-2">
									<label>Age<span class="text-danger">*</span></label>
							  			<input type="text" name="age"   required="" class="form-control set_number_only age_data" placeholder="Enter Age" id="id_age">
							  	</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group mb-2">
									<label>Mobile<span class="text-danger">*</span></label>
						    			<input type="text" name="mobile" class="form-control set_number_only" required="" placeholder="Enter Mobile" maxlength="150" id="id_mobile">
							  	</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-2">
									<label>Address<span class="text-danger">*</span></label>
						    			<input type="text" name="address" class="form-control" required="" placeholder="Enter Address" maxlength="255" id="id_address">
							  	</div>
							</div>
						</div>
					   <div class="login-btn-box py-2">
					  	<button type="submit" class="btn btn-login w-100 font-weight-bold">Submit</button>
					   </div>
					</form>
				</div>

			</div>
			</div>
		</div>
	  </div>
	</div>
	<!-- Signup Modal -->
	<div class="login-modal modal fade" id="teacher_login" tabindex="-1" role="dialog" aria-labelledby="teacher_loginTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
		  <div class="row no-gutters">
			<div class="col-md-6 d-none d-md-block">
			<img src="{% static 'images/login-image.png' %}" alt="login" class="img-fluid">
			</div>
			<div class="col-md-6 bg-white">
				<div class="modal-header border-0 pb-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			  	</div>
				<div class="form-style-box p-3">
					<h3 class="mb-4">Login as a teacher</h3>
					<form method="post" novalidate action="{% url 'frontend:login' %}">
						{% csrf_token %}
					  <div class="form-group mb-0">
						<label>Email Address</label>
						  <input type="hidden" name="user_type" value="2">
						<input type="email" placeholder="Enter Email" required name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					  </div>
					  <div class="form-group pb-3">
					  	<label>Password</label>
						<input type="password" name="password" required placeholder="********" class="form-control" id="exampleInputPassword1">
					  </div>
						<div class="forgot-password text-right">
							<a href="#">Forget Password?</a>
						</div>
					   <div class="login-btn-box py-2">
					  	<button type="submit" class="btn btn-login w-100 font-weight-bold">Submit</button>
					   </div>
					</form>
				  <div class="sideline text-center">OR</div>
				  <div class="social-login">
				  	<ul>
						<li>
							<a href="#"><img src="{% static 'images/facebook.png' %}" alt="fb" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/twitter.png' %}" alt="tw" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/google.png' %}" alt="google" class="img-fluid"></a>
						</li>
				  	</ul>
				  </div>
				  <div class="sign-up-box pt-4 text-center">
				  Don't have an account? <a href="#">Sign Up</a>
				  </div>
				</div>

			</div>
			</div>
		</div>
	  </div>
	</div>
    {% block content %}
    {% endblock %}
<div class="contact-info-wrapper">
	<div class="container">
		<ul>
			<li><a href="mailto:scs@sultanchandebooks.com?Subject=Want to Know" target="_top"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send us an email</a></li>
			<li><a href="tel:01143546000"><i class="fa fa-phone" aria-hidden="true"></i> 011-43546000</a></li>
		</ul>
	</div>
</div>

<footer class="footer-wrapper">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-box footer-links">
							<h5>Useful Links</h5>
							<ul>
								<li><a href="{% url 'frontend:about' %}">About Us</a></li>
								<!--<li><a href="{% url 'frontend:news_listing' %}">News</a></li>-->
								<li><a href="{% url 'frontend:contact_us' %}">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 offset-md-2">
						<div class="footer-box footer-links">
							<h5>Help & Support</h5>
							<ul>

								<li><a href="{% url 'frontend:terms-condition' %}">Terms and Conditions</a></li>
								<li><a href="{% url 'frontend:news_listing' %}">Frequently Asked Questions</a></li>
								<li><a href="{% url 'frontend:return-policy' %}">Return Policy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 offset-md-1">
						<div class="footer-box social-links">
							<h5>Social</h5>
							<ul>
								<li><a class="facebook" target="_blank" href="https://www.facebook.com/SultanChand.SCS"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twitter" target="_blank" href="https://twitter.com/SultanChand_SCS"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a class="instagram" target="_blank" href="https://instagram.com/sultanchandsons?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a class="youtube" target="_blank" href="https://www.youtube.com/c/SultanChandSonsPvtLtd"><i class="fa fa-youtube fa-2x aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="container">
				<p class="text-center">© 2021 SCS Learning. All rights reserved.</p>
			</div>
		</div>
	</footer>
   <!-- End Footer -->
	<script src="{% static 'js/proper.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/front_end_custom.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
<script>




$('#filter').on('change', function(){
    $(this).parent().submit();
});

$(document).ready(function() {
  $(".set_number_only").inputFilter(function(value) {
    return /^\d*$/.test(value);    // Allow digits only, using a RegExp
  });


  $('.alphaonly').bind('keyup blur',function(){
    var node = $(this);
    node.val(node.val().replace(/[^a-zA-Z]/g,'') ); }
);

});


(function($) {
  $.fn.inputFilter = function(inputFilter) {
    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
      if (inputFilter(this.value)) {
        this.oldValue = this.value;
        this.oldSelectionStart = this.selectionStart;
        this.oldSelectionEnd = this.selectionEnd;
      } else if (this.hasOwnProperty("oldValue")) {
        this.value = this.oldValue;
        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
      } else {
        this.value = "";
      }
    });
  };
}(jQuery));

$(document).ready(function(){

$(".age_data" ).keyup(function() {
 if($(this).val()>100)
 {
 $(this).val('100');
 }
});

});

</script>
    {% block script %}

    {% endblock  %}
</body>
</html>