{% extends 'main/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Contact</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Contact Listing</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                                {% endfor %}
                             {% endif %}
                            <div class="white_box_tittle list_header">
                                <div class="col-xl-6">
                                    <h4>Contacts List </h4>
                                </div>
                                <div class="box_right d-flex lms_block col-xl-4">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ml-10">
                                        <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
                                    </div>
                                </div>
<!--                                <div class="1col-xl-2">-->
<!--                                    <a href="{% url 'users:signup' %}" class="btn btn-primary float-right">Create User</a>-->
<!--                                </div>-->
                            </div>

                            <div class="QA_table mb_30">
                                <!-- table-responsive -->
                                <table class="table lms_table_active ">
                                    <thead>
                                        <tr>
                                            <th scope="col">S.no</th>
                                            <th scope="col">Full Name</th>
                                            <th scope="col">Contact Number</th>
                                            <th scope="col">Email Address</th>
                                            <th scope="col">Enquiry Type</th>
                                            <th scope="col">Company Name</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">View Message</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for con in contact_list %}
                                          <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <th scope="row">{{con.get_full_name|default_if_none:'-'}}</th>
                                            <th scope="row">{{con.mobile|default_if_none:'-'}}</th>
                                            <th scope="row">{{con.email|default_if_none:'-'}}</th>
                                            <th scope="row">{{con.get_enquiry_type_display|default_if_none:'-'}}</th>
                                            <th scope="row">{{con.company_name|default_if_none:'-'}}</th>
                                            <th scope="row">{{con.created_at|default_if_none:'-'}}</th>
                                            <th scope="row">
                                                <span style="display: none;">{{con.message|default_if_none:'-'}}</span>
                                                <i class="fa fa-eye view_msg" id="view_msg" data-msg="{{con.message|default_if_none:'-'}}"></i></th>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Message</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>


{% endblock %}
 {% block footer %}
<script>
    $('.view_msg').click(function() {
        var msg = $(this).data('msg');
        $('.modal-body').text(msg);
       $('#myModal').modal('show');
    });
</script>
{% endblock footer %}
