<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock%}</title>

    <style>
       {% block style %}
       {% endblock %}
    </style>
</head>
<body>
{% block body %}

{% endblock %}


{% block script %}
{% endblock %}
</body>
</html>