{% extends 'main/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">
    <!-- page title  -->
    <div class="row">
        <div class="col-12">
            <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                <div class="page_title_left d-flex align-items-center">
                    <h3 class="f_s_25 f_w_700 dark_text mr_30">Dashboard</h3>
                    <ol class="breadcrumb page_bradcam mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                        <li class="breadcrumb-item active">Analytic</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <div class="row ">

       
    </div>
</div>
</div>

{% endblock content %}