{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="csrf-token" content="lVbCfqxAwD3YVqtRhqMEKpApGogTj4ebn28uR8Na">
  <title>Login</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
</head>
<body class="grey lighten-3">
<!--Main layout-->
    <div class="container-fluid mt-5">
      <div class="col-md-12 col-lg-6 col-xl-4 mx-auto mb-4">
        <section class="form-gradient">
            <div class="card z-depth-5" style="margin-top: 150px;">
                <!--Header-->
                <div class="header pt-3 danger-color">

                    <div class="row d-flex justify-content-center">
                        <h3 class="white-text mb-3 pt-3 font-weight-bold"><i class="far fa-user"></i>&nbsp;SCS Admin Login</h3>
                    </div>
                </div>
                <!--Header-->
                <div class="card-body mx-4 mt-4">
                    <!--Body-->
                     <!--Grid row-->
                        {% for msg in messages %}
                        <p style="color:red">Warning : {{msg}}</p>
                        {% endfor %}
                    <form method="POST" action="{% url 'login:admin_login' %}" class="form-signin">
                         {% csrf_token %}
                         <div class="md-form">
                             <!--<label for="Form-email3">Email Id</label>-->
                            <input id="email" type="email" class="form-control" placeholder="Email Please" title="Enter your email Please"  name="email" value="" autocomplete="off" required autofocus>

                        </div>
                        <div class="md-form">
                           <!-- <label for="Form-pass3">Password</label>-->
                            <input id="password" type="password" class="form-control" name="password" autocomplete="off" placeholder="Password Please" title="Enter your password Please"  required>

                        </div>
                        <br>

                        <div class="row d-flex mb-4">
                            <!--Grid column-->
                            <div class="text-center mb-3 col-md-12">
                                <button type="submit" class="btn btn-danger btn-block z-depth-1 waves-effect waves-light">LOGIN</button>
                            </div>
                            <!--Grid column-->
                        </div>
                    </form>
                </div>
            </div>
        </section>

      </div>
    </div>
  <!--Main layout-->
  <!-- JQuery -->
  <script type="text/javascript" src="http://ovecrm.developersoptimal.com/assets/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="http://ovecrm.developersoptimal.com/assets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="http://ovecrm.developersoptimal.com/assets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="http://ovecrm.developersoptimal.com/assets/js/nmdb.min.js"></script>
  <!-- DataTables JS -->

<script type="text/javascript">
  // Animations initialization
    new WOW().init();
  $(document).ready(function () {

});
</script>
</body>
<!--
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpbh'},{'server':'sg3plvcpnl357299'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>-->