{% extends 'main/frontend_base.html' %}
{% block title %} About Scs Learning {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

	<section class="contact-banner">
		<img src="{% static 'images/about-banner.png' %}" alt="Banners" class="img-fluid">
		<div class="container">
            <div class="contact-banner-caption">
				<h5>About Us</h5>
                <h3>Welcome to <br/> SCS Learning</h3>
                <p>An initiative by Sultan Chand & Sons (P) Ltd, India’s Leading Educational Publishers </p>
            </div>
        </div>
    </section>
	<section class="body-wrapper">
		<div class="about-content-wrapper">
			<div class="container">
				<div class="related-book-heading">
					<h3>Who we are ?</h3>
				</div>
				<div class="row">
					<div class="col-lg-6 order-lg-1 order-2">
						<div class="about-content">
							<p>Sultan Chand & Sons (P) Ltd is a name to be reckoned with in the world of educational publishing. The House draws its rich lineage from a publishing house established in 1950 and today caters to students from Pre-Primary to College level, with nearly 500 titles under its belt, and counting.</p>
							
							<p>Product quality, design, and of course content, are the hallmarks of the House of Sultan Chand & Sons (P) Ltd. Known for competently written, elegantly produced and reasonably priced books, we revel in the fact that our books are prescribed in reputed schools affiliated to CBSE, ICSE, other prestigious Boards and colleges across the length and breadth of the country. No wonder we are the market leaders in Accountancy and English Grammar books. Credit for this numero uno position goes to our consistent efforts in revising and updating our books in keeping up with the times. Besides, some of our books have made a mark in the neighbouring countries as well.</p>
							
							<p>Our authors are distinguished academicians, professors and educationists with vast experience and expertise. With decades of teaching experience behind them and upholding the tradition of the House of Sultan Chand & Sons (P) Ltd, they give their best to the students. We are proud to be associated with them.</p>
							
							<p>Our resolve to contribute to the national goal of ‘Education For All’ keeps us focussed. To further this goal, we are in regular touch with the teachers, which not only keeps us abreast of the needs of the students and teachers but also helps us to update our books as per their changing requirements. Our authors are just a click away from them. When we look back at whatever little contribution we have made on this front, we are filled with a sense of satisfaction.</p>
							
							<p>The well-equipped office of the House of Sultan Chand & Sons (P) Ltd is located at Darya Ganj, New Delhi, also known as the Oxford Street of India. The company has an expansive marketing network with resident representatives spread across the country and beyond to ensure prompt client satisfaction.</p>
						</div>
					</div>
					<div class="col-lg-6 order-lg-2 order-1 mb-4 mb-lg-0">
						<div class="about-content-image">
							<img src="{% static 'images/login-image.png' %}" alt="Banners" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="customer-feedback-wrapper">
			<div class="container">
				<div class="related-book-heading">
					<h3>We Care About Our Customers</h3>
				</div>
				<div class="customer-feedback-list">
					<div class="feedback-slider">
						<div class="feedback-item">
							<div class="feedback-content" style="min-height:400px;">
								<p>I am Keerthana from SDNB Vaishnav College, the books were very useful for me during my 11th & 12th grade. It clearly contains all the concepts in a very understandable manner. I am referring your other books for my college exams too. Thank you so much.</p>
								<div class="customer-name d-flex">
									<img src="{% static 'images/Ellipse.png' %}" alt="ellipse" class="img-fluid">
									<span>Keerthana Balaji</span>
								</div>
							</div>
						</div>
						<div class="feedback-item">
							<div class="feedback-content" style="min-height:400px;">
								<p>I am B.Com student. I have been using the book in UG courses it was excellent. What I found interesting in the books is the explanation is elaborately and in simple language. Thank u so much team</p>
								<div class="customer-name d-flex">
									<img src="{% static 'images/Ellipse.png' %}" alt="ellipse" class="img-fluid">
									<span>Malini Mohan</span>
								</div>
							</div>
						</div>
						<div class="feedback-item">
							<div class="feedback-content" style="min-height:400px;">
								<p>The Books were very useful for me during my 11th and 12th classes. Concepts and topics covered were very easy to understand. Thank you so much for this.</p>
								<div class="customer-name d-flex">
									<img src="{% static 'images/Ellipse.png' %}" alt="ellipse" class="img-fluid">
									<span>Soundarya Suresh</span>
								</div>
							</div>
						</div>
						<div class="feedback-item">
							<div class="feedback-content" style="min-height:400px;">
								<p>Hi Sultan Chand & Sons, I wrote this recommendation of your work that COMMERCE Community ever forget YOU. Thanks</p>
								<div class="customer-name d-flex">
									<img src="{% static 'images/Ellipse.png' %}" alt="ellipse" class="img-fluid">
									<span>Narayanan V:</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--
		<div class="latest-update-wrapper">
			<div class="container">
				<div class="update-heading text-center mb-5">
					<h2>Latest Update</h2>
				</div>
				<div class="latest-update-slider">
					<div class="latest-update-item">
						<div class="row">
							<div class="col-lg-6 col-md-5">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-lg-6 col-md-7">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="latest-update-item">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-md-6">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="latest-update-item">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-md-6">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->

	</section>

	<!-- Modal -->
	<div class="login-modal modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
		  <div class="row no-gutters">
			<div class="col-md-6 d-none d-md-block">
			<img src="{% static 'images/login-image.png' %}" alt="login" class="img-fluid">
			</div>
			<div class="col-md-6 bg-white">
				<div class="modal-header border-0 pb-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			  	</div>
				<div class="form-style-box p-3">
					<h3 class="mb-4">Login as a student</h3>
					<form>
					  <div class="form-group mb-0"> 
						<label>Email Address</label>
						<input type="email" placeholder="Enter Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">   
					  </div>
					  <div class="form-group pb-3"> 
					  	<label>Password</label>
						<input type="password" placeholder="********" class="form-control" id="exampleInputPassword1">
					  </div>
						<div class="forgot-password text-right">
							<a href="#">Forget Password?</a>
						</div>
					   <div class="login-btn-box py-2">
					  	<button type="submit" class="btn btn-login w-100 font-weight-bold">Submit</button>
					   </div>
					</form>
				  <div class="sideline text-center">OR</div>
				  <div class="social-login">
				  	<ul>
						<li>
							<a href="#"><img src="{% static 'images/facebook.png' %}" alt="fb" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/twitter.png' %}" alt="tw" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/google.png' %}" alt="google" class="img-fluid"></a>
						</li>
				  	</ul>
				  </div>
				  <div class="sign-up-box pt-4 text-center">
				  Don't have an account? <a href="#">Sign Up</a>
				  </div>
				</div>

			</div>
			</div>
		</div>
	  </div>
	</div>
    
 {% endblock %}
