{% load static %}
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=euc-jp">
      <meta name="viewport" content="width=device-width">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="x-apple-disable-message-reformatting">
      <title>SCS Learnig | New Registration</title>
      <style>html,body{background-color:#fff!important;margin:0 auto !important;padding:0 !important;height:100% !important;width:100% !important;color:#888!important}.email-container{max-width:600px!important;margin:0 auto!important}*{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}div[style*="margin: 16px 0"]{margin:0 !important}table,td{mso-table-lspace:0pt !important;mso-table-rspace:0pt !important}table{width:100%;border-spacing:0 !important;border-collapse:collapse !important;table-layout:fixed !important;margin:0 auto !important}img{-ms-interpolation-mode:bicubic}a{text-decoration:none!important}*[x-apple-data-detectors], .unstyle-auto-detected-links *,.aBn{border-bottom:0 !important;cursor:default !important;color:inherit !important;text-decoration:none !important;font-size:inherit !important;font-weight:inherit !important;line-height:inherit !important}@media only screen and (min-device-width: 320px) and (max-device-width: 374px){u ~ div .email-container{min-width:320px !important}}@media only screen and (min-device-width: 375px) and (max-device-width: 413px){u ~ div .email-container{min-width:375px !important}}@media only screen and (min-device-width: 414px){u ~ div .email-container{min-width:414px !important}}</style>
   </head>
   <body>
      <div class="email-container">
         <table style="border-bottom: 2px solid #c52241; background-color:red;">
            <tr>
               <td>
                  <h2 style="color:#ffffff; padding-top: 62px; margin-bottom: 0px;">Activate Account</h2>
               </td>
               <td> <img src="{{domain}}static/images/Ellipse.png" style="width: 60%; float: right;"></td>
            </tr>
         </table>
         <table style="color: #000;font-size: 20px;">
            <tr>
               <td style="padding: 10px 0px;">Dear {{user.first_name}},</td>
            </tr>
            <tr>
               <td style="padding: 10px 0px;">Please click on the link to confirm your registration.</td>
            </tr>
            <tr>
               <td style="padding: 10px 0px;">To activate your account, click the button below.</td>
            </tr>
            <tr>
               <td style="padding: 10px 0px;text-align:center;"> <button style="padding: 10px 45px;background-color: #c52241;border-radius: 10px;border: none;font-size:20px;color: #fff;"> <a href="{{ domain }}activate/{{ uid }}/{{ token }}" style="color: #fff; text-decoration: none;">Activate</a></button></td>
            </tr>
         </table>
         <table style="border-top: 1px solid #000; color: #000; font-size: 20px;">
            <tr>
               <td>
                  <h4>MANAGE Your New Account</h4>
               </td>
            </tr>
            <tr>
               <td style="font-weight: bold; padding-top: 30px;">Thank you for Joining!</td>
            </tr>
            <tr>
               <td style="font-weight: bold;padding-bottom: 30px;">The SCSLearning Team
            </tr>
         </table>
         <table style="background-color: #f2f2f2; font-size: 20px;">
            <tr>
               <td style="padding: 35px 30px; text-align: center;">4859, 24, Ansari Rd, Daryaganj, New Delhi, Delhi 110002</td>
            </tr>
         </table>
      </div>
   </body>
</html>