{% extends 'main/frontend_base.html' %}
{% block title %} Book Detail {% endblock %}
{% load static %}
{% block style %}
.modal.modal-fullscreen .modal-dialog {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none;
}

.modal.modal-fullscreen .modal-content {
  height: auto;
  height: 100vh;
  border-radius: 0;
  border: none;
}

.modal.modal-fullscreen .modal-body {
  overflow-y: auto;
}
.book-view-share ul li strong, .book-view-date ul li strong {
    font-weight: bold !important;
}
{% endblock %}
{% block content %}
	<section class="body-wrapper">
		<div class="book-detail-container">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 mb-4 mb-md-0">
						<div class="book-view">
							<img src="{% if book.cover_file %}
									{{ book.cover_file }}
									{% else %}
									/media/noimg.jpg {% endif %}" alt="book" class="img-fluid" style="height: 200px; width: 200px;">
						</div>
					</div>
					<div class="col-lg-8 col-md-7">
						<div class="book-view-detail">
							<h3>{{ book.title }}</h3>
							<div class="book-view-share py-4">
								<ul>
									<li>
										<p>Board: <strong>{% for i in board %} {{i.name}}{% if not forloop.last %}, {% endif %}{% empty%} Not Available {% endfor %}</strong></p>
									</li>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<li>

										<p>Subject:
												<strong>{% for i in subject %} {{i.name}}{% if not forloop.last %}, {% endif %}{% empty%} Not Available {% endfor %}</strong>
										</p>

									</li>

									{% if request.user.is_authenticated %}
										
										{% if book.id not in wishlist_obj %}
										<li>
											<a href="javascript:void()" book-id="{{book.id}}" class="wishlist"><i class="fa fa-share-alt" aria-hidden="true"></i>Add into Wishlist</a>
										</li>
										{% else %}
									    <!--<a  href="{% url 'frontend:wishlist' %}" class="goto_wish_list" aria-disabled="true"><i class="fa fa-share-alt" aria-hidden="true"></i>Goto Wishlist</a> -->
										{% endif %}
										

									{% endif %}




								</ul>
							</div>
							<div class="book-view-price py-4">
								<strong>{% if local_tz == 'Asia/Calcutta' %}&#8377; {{ book.price_in_inr}} {% else %}$ {{ book.price_by_currency}}{% endif %}</strong>
								<div class="review-box">



									<div class="review-start">

									{% for i in book.no_of_reviews_default  %}
										{% if i < book.no_of_reviews|length  %}
											<i class='fa fa-star' aria-hidden='true'></i>
										{% else %}
										    <i class='fa fa-star-o' aria-hidden='true'></i>
										{% endif %}
									{% endfor %}

									<a href="#">Book Reviews({{book.no_of_reviews_for_front}}/5) </a>
									</div>

								</div>
							</div>
							<div class="book-view-date py-4">
								<ul>
									<li>
										<p>Publication Date :</p>
										{% if book.publication_date != "" %}
										<strong>{{ book.publication_date }}</strong>
										{% else  %}
										<strong>N.A</strong>
										{% endif %}
									</li>
									<li>
										<p>ISBN Number :</p>
										{% if  book.asin != "None"   %}
												<strong>{{ book.asin }}</strong>
											{% endif %}
										{% if  book.asin == "None"  %}
												<strong>Not Available</strong>
										{% endif %}
									</li>
									<li>
										<p>Language :</p>
										{% if book.language != "" %}
										<strong>{% if book.language == "en" %} English {% else %} Not Available {% endif %}</strong>
										{% else  %}
										<strong>Not Available</strong>
										{% endif %}
									</li>
								</ul>
							</div>

							<div class="modal fade modal-fullscreen" id="pdfopen">
							    <div class="modal-dialog" id="modal-dialog">
							        <div class="modal-content" id="modal-content">
							            <div class="modal-header">
							                <h4 class="modal-title text_orange">Book Name : {{ book.title }}</h4>
							                <a href="javascript:void(0)" class="btn btn-default float-right" id="small_modal"><i class="fa fa-expand" aria-hidden="true"></i></a>
							                <button type="button" class="close" data-dismiss="modal">&times;</button>
							            </div>
							            <div class="modal-body">
											{% if not book.epub_file|slice:"-4:" == '.pdf' %}:
							                	<iframe class="pdf_documents" src="https://scslearning.io/media/react-epub-viewer/index.html?id={{book.id}}&type=0" width = "100%" height="750px"></iframe>
											{% else %}
							                	<iframe class="pdf_documents" src="{{book.epub_file}}" width = "100%" height="750px"></iframe>
											{% endif %}
							            </div>
							        </div>
							    </div>
							</div>

							<div class="library-btn form-froup py-4">
								<a class="view-detail gradient" href="{% url 'frontend:purchased_epub_reader' book.id %}" target="_blank">Start Reading</a>
							</div>
						</div>
					</div>
				</div>
				<div class="desc-tab-wrapeer">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item" role="presentation">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
					  </li>
					  <li class="nav-item" role="presentation">
						<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Review</a>
					  </li>
					</ul>
					<div class="tab-content" id="myTabContent">
					  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>{{book.description|default_if_none:''}}</p>
					  </div>
					  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						  <div class="desc-review">
							  {% if book.no_of_reviews %}
							 	 <div class="review-box">

									 	<div class="review-start mr-2">

											<span> By
												{% if book.review_user != "" %}
													{{ book.review_user }}
												{% endif %}&nbsp;
												{% if book.review_user is null %}
													Anonymous
												{% endif %}
											</span>
											   {% for i in book.no_of_reviews_default  %}
													{% if i < book.no_of_reviews|length  %}
														<i class='fa fa-star' aria-hidden='true'></i>
													{% else %}
														<i class='fa fa-star-o' aria-hidden='true'></i>
													{% endif %}
												{% endfor %}

										</div>
										{% if book.review_date %}
										 <span> {{ book.review_date  }}  </span>
									    {% endif %}

								</div>
							  {% endif %}
							  {% if book.review_description %}
							  <p>{{ book.review_description }}</p>
							  {% else %}
							  <p>Not yet Available</p>
							  {% endif %}
						  </div>

					  </div>
					</div>
				</div>
			</div>
		</div>


	</section>

{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
	$('#small_modal').click(function(){
		if($('#pdfopen').hasClass('modal-fullscreen')){
			$('#pdfopen').removeClass('modal-fullscreen');
			$('#modal-dialog').addClass('modal-xl');
		} else {
			$('#pdfopen').addClass('modal-fullscreen');
			$('#modal-dialog').removeClass('modal-xl');
		}
	});
});
</script>
{% endblock  %}