{% extends 'main/frontend_base.html' %}
{% block title %} Book Listing {% endblock %}
{% load static %}
{% load custom_tags %}
{% block style %}
{% endblock %}
{% block content %}

	<section class="body-wrapper">
		<div class="book-filter-container">
			<div class="container">
				<div class="book-filter-box">
					<h4 class="pb-3">{{cat}}</h4>
					
					<div class="filter-area input-group justify-content-between">
					  <div class="input-group-prepend">
						<span class="input-group-text"><i class="fa fa-filter mr-2" aria-hidden="true"></i> Filters</span>
					  </div>
						<div class="input-group-append">
							<div class="form-inline px-3 py-2">
								<label class="mr-2">Sort by :</label>
								<form action="{% url 'frontend:book_listing' %}" method="get">
									{% if id %}
									<input type="hidden" name="id" value="{{id}}">
									{% endif %}
									<select class="form-control" id="filter" name="f">
										{% for key, val in FILTER_VAL %}
									  		<option value="{{key}}" {% if f == key %} selected {% endif %}>{{val}}</option>
										{% endfor %}
									</select>
								</form>
						  	</div>
					  	</div>
					</div>
				</div>
<!--				<nav class="pagination-wrapper my-4 d-flex justify-content-end">-->
<!--				  <ul class="pagination">-->
<!--					<li class="page-item disabled">-->
<!--					  <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left mr-2" aria-hidden="true"></i> Previous</a>-->
<!--					</li>-->
<!--					<li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--					<li class="page-item active" aria-current="page">-->
<!--					  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
<!--					</li>-->
<!--					<li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--					<li class="page-item next">-->
<!--					  <a class="page-link" href="#"> Next <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>-->
<!--					</li>-->
<!--				  </ul>-->
<!--				</nav>-->
				<div class="row mt-4">

					{% for lib in listing|filter_by_timezone:local_tz %}
					<div class="col-lg-2dot4 col-md-3 col-sm-4 col-6 mb-3">
						<div class="card product-card m-0">
							<div class="card-header">
								<a href="{% url 'frontend:book_detail' pk=lib.id %}">
									<img src="{% if lib.cover_file %}
									{{ lib.cover_file }}
									{% else %}
									/media/noimg.jpg {% endif %}" alt="book" class="img-fluid" style="height: 200px; width: 200px;">
								</a>
							</div>
							<div class="card-body">
								<h5>{{ lib.title }}</h5>
								<span>{% if local_tz == 'Asia/Calcutta' %}INR {{ lib.price_in_inr}} {% else %}$ {{ lib.price_by_currency}}{% endif %}</span>
							</div>
							<div class="card-footer">
								<a class="view-detail gradient" href="{% url 'frontend:book_detail' pk=lib.id %}">View Details</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
<!--				<nav class="pagination-wrapper my-4 d-flex justify-content-end pt-3">-->
<!--				  <ul class="pagination">-->
<!--					<li class="page-item disabled">-->
<!--					  <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left mr-2" aria-hidden="true"></i> Previous</a>-->
<!--					</li>-->
<!--					<li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--					<li class="page-item active" aria-current="page">-->
<!--					  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
<!--					</li>-->
<!--					<li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--					<li class="page-item next">-->
<!--					  <a class="page-link" href="#"> Next <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>-->
<!--					</li>-->
<!--				  </ul>-->
<!--				</nav>-->
			</div>
		</div>
	</section>

{% endblock %}
