{% extends 'main/frontend_base.html' %}
{% block title %} MyCart {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

    <section class="body-wrapper">
        <div class="custom-cart-wrapper">
            <div class="container">
                <div class="row">
                    {% if cart_items %}
                        <div class="col-lg-8">{% else %}
                            <div class="col-lg-12">
                            {% endif %}
                        <div class="card border-0 p-4">
                            <div class="cart-heading">
                                <h3>My Cart <span>({{cart_items|length }})</span></h3>
                            </div>
                            {% for cart in cart_items %}
                                <div class="cart-list d-flex">
                                    <a href="{% url 'frontend:book_detail' pk=cart.book.id %}">
                                    <img src="{% if cart.book.cover_file %}
                                    {{ cart.book.cover_file.url }}
                                    {% else %}
                                    /media/noimg.jpg {% endif %}" alt="book" class="img-fluid" style="height: 200px; width: 200px;">
                                    </a>
                                        <div class="cart-detail">
                                        <h5>{{cart.book.title}}</h5>
                                        <p>{{cart.book.meta_data}}</p>
                                        <input type="hidden"  class="tax" value="{{cart.book.tax}}">
                                        <input type="hidden"  class="book_price" value="{% if local_tz == 'Asia/Calcutta' %}{{ cart.book.price_in_inr}} {% else %}{{ cart.book.price_by_currency}}{% endif %}">
                                        <span class="price">{% if local_tz == 'Asia/Calcutta' %}&#8377; {{ cart.book.price_in_inr}} {% else %}$ {{ cart.book.price_by_currency}}{% endif %}</span>
                                        <div class="qtySelector text-center">
<!--                                          <i class="fa fa-minus decreaseQty"></i>-->
                                          <input type="hidden" class="qtyValue" value="1" id="qtyVal" readonly/>
                                          <input type="hidden" class="cart_book_id" value="{{ cart.book.id }}" id="cart_book_id"/>
<!--                                          <i class="fa fa-plus increaseQty" id="increaseQty"></i>-->
                                            <a href="javascript:void(0)" class="pl-4 remove_cart" data-id="{{cart.id}}"><i class="ml-4 fa fa-trash-o text-danger"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                You have not added anything in your Cart. Please start adding some books into Cart by clicking below button
                                <div class="library-btn form-froup py-4">
                                <a class="view-detail gradient" href="/">Start Searching for Books to add</a>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if cart_items %}
                    <div class="col-lg-4">
                        <div class="card border-0 p-4">
                            <div class="cart-heading">
                                <h3>Price Details</h3>
                            </div>
                            <div class="price-table table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Subtotal</th>
                                        <td align="right" id="Subtotal"></td>
                                    </tr>
                                    <tr>
                                        <th>Tax</th>
                                        <td align="right" id="shipping_price"></td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <span class="total">GRAND TOTAL</span>
                                        </th>
                                        <td align="right">
                                            <span class="total-price"></span>
                                            <input type="hidden" id="total_price">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <input type="hidden" value="{{local_tz}}" id="local_tz">
                        <div class="card border-0 p-4 mt-3">
                            <a href="javascript:void(0)" class="place-order text-center" {% if cart_items|length != 0 %} onclick="place_order()" {% endif %}>Place Order</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>

<script>
    function place_order() {
        var book_price_list = []
        var tax_list = []
        var qtyValue_list = []
        var cart_book_list = []
        var book_price = $('.book_price');
        var tax = $('.tax');
        var qtyValue = $('.qtyValue');
        var cart_book_id = $('.cart_book_id');
        for(var i = 0; i < qtyValue.length; i++){
            book_price_list.push($(book_price[i]).val())
            tax_list.push($(tax[i]).val())
            qtyValue_list.push($(qtyValue[i]).val())
            cart_book_list.push($(cart_book_id[i]).val())
        }
        console.log(tax_list, 'tax_list')
        var data = {book_price_list, tax_list, qtyValue_list, cart_book_list}
        const csrftoken = getCookie('csrftoken');
        $.ajax({
            url: '/order/',
            method: 'POST',
            data: data,
            headers: {'X-CSRFToken': csrftoken},
             beforeSend: function() {
                $('#loader').removeClass('hidden')
            },
            success: function(res){
            console.log(res);
                if (res.status && res.payment_type == 'paid') {
                    window.location.href = '/order_place/?order_id='+res.order_id;
                }
                else if (res.status && res.payment_type == 'free') {
                    window.location.href = '/successpayment/?order_id='+res.order_id;
                }
                 else {
                    $('#signup-error').text(res.msg)
                }
            },
            complete: function(){
                $('#loader').addClass('hidden')
            },
            error: function(res) {
                console.log(res);
            }
        })
    }




    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}