{% extends 'main/frontend_base.html' %}
{% block title %} Contact Us {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

	<section class="contact-banner">
		<img src="{% static 'images/contact-banner.png' %}" alt="Banners" class="img-fluid">
		<div class="container">
            <div class="contact-banner-caption">
				<!--<h5>Contact Us</h5>-->
                <h3>Get in Touch <br/> with us</h3>
                <p>4859/24, Darya Ganj, New Delhi – 110002, India</p>
            </div>
        </div>
    </section>
	<section class="body-wrapper">
		<div class="head-office-wrapper">
			<div class="container">
				<div class="related-book-heading">
					<h3>Head Office</h3>
				</div>
				<div class="row no-gutters">
					<div class="col-md-6">
						<div class="map-area">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d448205.1168769887!2d77.243252!3d28.641674!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaae7e588e71295e9!2sSultan%20Chand%20%26%20Sons%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1633461737343!5m2!1sen!2sin" width="100%" height="460" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>
					<div class="col-md-6">
						<div class="address-detail">
							<ul>
								<li>
									<h5>Address</h5>
									<p>4859, 24, Ansari Rd, Daryaganj, New Delhi, Delhi 110002</p>
								</li>
								<li>
									<h5>Phone</h5>
									<a href="tel:+911143546000">+91 11 43546000</a>
								</li>
								<li>
									<h5>Address</h5>
									<a href="mailto:scs@sultanchandebooks.com">scs@sultanchandebooks.com</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-form-wrapper">
			<div class="container">
				<div class="related-book-heading">
					<h3>Get in touch</h3>
				</div>
				{% if messages %}
					{% for message in messages %}
					<div class="alert {{ message.tags }} alert-dismissible fade show">
						{{ message }}
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					{% endfor %}
				{% endif %}
				<div class="contact-form-detail">
					<form id="needValidation" novalidate method="post" action="{% url 'frontend:contact_us' %}">
						<div class="row">
							<div class="col-md-5 m-auto">
								<div class="form-group">
									{% csrf_token %}
									<label for="name">First Name</label>
									<input type="text"  class="form-control" id="name" name="first_name" value="{% if data.first_name %} {{ data.first_name }} {% endif %}" required>
								</div>
							</div>
							<div class="col-md-5 m-auto">
								<div class="form-group">
									<label for="Lname">Last Name</label>
									<input type="text" class="form-control" id="Lname" required name="last_name" value="{% if data.last_name %} {{ data.last_name }} {% endif %}">
								</div>
							</div>
							<div class="col-md-5 m-auto">
								<div class="form-group">
									<label for="number">Contact Number</label>
									<input type="number" class="form-control" id="number" name="mobile" required value="{% if data.mobile %} {{ data.mobile|phone2numeric }} {% endif %}">
									<div class="invalid-feedback">
									  Please provide a valid Number.
									</div>
								</div>
							</div>
							<div class="col-md-5 m-auto">
								<div class="form-group">
									<label>Enquiry Type</label>
									<select class="form-control" name="enquiry_type" required>
										<option value="">select</option>
										<option value="1" {% if data.enquiry_type == '1' %} selected {% endif %}>Interview</option>
										<option value="2" {% if data.enquiry_type == '2' %} selected {% endif %}>Sales</option>
									</select>
									<div class="invalid-feedback">
									  Please select any option.
									</div>
								</div>
							</div>
							<div class="col-md-5 m-auto">
								<div class="form-group">
									<label for="email">Email Address</label>
									<input type="email" class="form-control" name="email" id="email" required value="{% if data.email %} {{ data.email }} {% endif %}">
									<div class="invalid-feedback">
									  Please provide a valid Email.
									</div>
								</div>
							</div>
							<div class="col-md-5 m-auto">
								<div class="form-group">
									<label for="Cname">Company Name (OPTIONAL)</label>
									<input type="text" class="form-control" id="Cname" name="company_name" value="{% if data.company_name %} {{ data.company_name }} {% endif %}">
									<div class="invalid-feedback">
									  Please provide a valid Company Name.
									</div>
								</div>
							</div>
							<div class="col-md-11 m-auto">
								<div class="form-group">
									<label for="message">Your Message</label>
									<textarea class="form-control" id="message" name="message" rows="5" placeholder="Message">{% if data.message %} {{ data.message }} {% endif %}</textarea>
									<div class="invalid-feedback">
									  Please fill text area.
									</div>
								</div>
							</div>
							<div class="col-md-11 m-auto">
								<div class="form-group">
									<button type="submit" class="view-detail gradient border-0">Get in touch</button>
								</div>
							
							</div>
						</div>
					</form>
				</div>


			</div>
		</div>

	</section>
	
	

	<!-- Modal -->
	<div class="login-modal modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
		  <div class="row no-gutters">
			<div class="col-md-6 d-none d-md-block">
			<img src="{% static 'images/login-image.png' %}" alt="login" class="img-fluid">
			</div>
			<div class="col-md-6 bg-white">
				<div class="modal-header border-0 pb-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			  	</div>
				<div class="form-style-box p-3">
					<h3 class="mb-4">Login as a student</h3>
					<form>
					  <div class="form-group mb-0"> 
						<label>Email Address</label>
						<input type="email" placeholder="Enter Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">   
					  </div>
					  <div class="form-group pb-3"> 
					  	<label>Password</label>
						<input type="password" placeholder="********" class="form-control" id="exampleInputPassword1">
					  </div>
						<div class="forgot-password text-right">
							<a href="#">Forget Password?</a>
						</div>
					   <div class="login-btn-box py-2">
					  	<button type="submit" class="btn btn-login w-100 font-weight-bold">Submit</button>
					   </div>
					</form>
				  <div class="sideline text-center">OR</div>
				  <div class="social-login">
				  	<ul>
						<li>
							<a href="#"><img src="{% static 'images/facebook.png' %}" alt="fb" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/twitter.png' %}" alt="tw" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/google.png' %}" alt="google" class="img-fluid"></a>
						</li>
				  	</ul>
				  </div>
				  <div class="sign-up-box pt-4 text-center">
				  Don't have an account? <a href="#">Sign Up</a>
				  </div>
				</div>

			</div>
			</div>
		</div>
	  </div>
	</div>
{% endblock %}
