{% extends 'main/frontend_base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

<div class="contact-form-wrapper">
    <div class="container">
        <div class="related-book-heading">
            <h3>Email confirmation</h3>
        </div>
        <div class="contact-form-detail">
                
                <div class="row">
                    <div class="col-md-5 m-auto about-content">
                       <p>Account Activation link sent to your email address. Please confirm your email address to complete the registration.</p>
                    </div>
                </div>
        </div>


    </div>
</div>
 {% endblock %}