{% extends 'main/frontend_base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

{% if not book.epub_file|slice:"-4:" == '.pdf' %}
	<iframe class="pdf_documents" src="https://scslearning.io/media/react-epub-viewer/index.html?id={{book.id}}&type=0" width = "100%" height="850"></iframe>
{% else %}
	<iframe class="pdf_documents" src="{{book.epub_file}}" width = "100%" height="850"></iframe>
{% endif %}
{% endblock %}