{% extends 'main/frontend_base.html' %}
{% block title %} Forget Password {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

<div class="contact-form-wrapper">
    <div class="container">
        <div class="related-book-heading">
            <h3>Forget Password</h3>
        </div>
        <div class="contact-form-detail">
            <form id="needValidation" novalidate method="post" action="{% url 'frontend:forget_password' %}">
                <div class="row">
                    <div class="col-md-5 m-auto">
                {% if messages %}
                    {% for message in messages %}
                   <div class="alert {{ message.tags }} alert-dismissible fade show">
                         {{ message }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    {% endfor %}
                {% endif %}
                </div>
                </div>
                <div class="row">
                    {% csrf_token %}
                    

                    <div class="col-md-5 m-auto">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                            <div class="invalid-feedback">
                              Please provide a valid Email.
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-5 m-auto">
                        <div class="form-group">
                            <button type="submit" class="view-detail gradient border-0">Reset Password</button>
                        </div>
                    
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>
 {% endblock %}