{% extends 'main/frontend_base.html' %}
{% block title %} SCS Learning Read Books Online {% endblock %}
{% load static %}
{% load custom_tags %}
{% block style %}
{% endblock %}
{% block content %}

	<section class="banner">
		<img src="{% static 'images/banner-1.png' %}" alt="Banners" class="img-fluid">
		<div class="container">
            <div class="banner-caption">
                <h1>Empowering you to succeed,</h1>
                <h1><span class="text-red">academically</span> & <span class="text-red">professionally</span></h1>
                <p>Quick skills learning through audio learning, eBooks and online courses</p>
            </div>
        </div>
    </section>
	<section class="body-wrapper">
		<div class="popular-books-wrapper">
			<div class="container">
                {% if book_list %}
				<div class="custom-book-detail pb-4">
					<div class="heading-box">
						<h3>Most Popular<!--<a class="text-red" href="book-listing.html">(view all)</a>--></h3>
					</div>
					<div class="book-slider">
						{% for lib in book_list|filter_by_timezone:local_tz %}
						<div class="book-item">
							<div class="card product-card">
								<div class="card-header">
									<a href="{% url 'frontend:book_detail' pk=lib.id %}">
										<img src="{% if lib.cover_file %}
										{{ lib.cover_file }}
										{% else %}
										/media/noimg.jpg {% endif %}" alt="book" class="img-fluid" style="height: 200px; width: 200px;">
									</a>
								</div>
								<div class="card-body">
									<h5>{{ lib.title }}</h5>
									<span>{% if local_tz == 'Asia/Calcutta' %}&#8377; {{ lib.price_in_inr}} {% else %}$ {{ lib.price_by_currency}}{% endif %}</span>
								</div>
								<div class="card-footer">
									<a class="view-detail gradient" href="{% url 'frontend:book_detail' pk=lib.id %}">View Details</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
                </div>                
                {% endif %}
                {% if book_list_he %}
                <div class="custom-book-detail pb-4">
					<div class="heading-box">
						<h3>Higher Education</h3>
					</div>
					<div class="book-slider">
                        {% for lib in book_list_he|filter_by_timezone:local_tz|sort_by:'id' %}
                        <div class="book-item">
                            <div class="card product-card">
                                <div class="card-header">
                                    <a href="{% url 'frontend:book_detail' pk=lib.id %}">
                                        <img src="{% if lib.cover_file %}
                                        {{ lib.cover_file }}
                                        {% else %}
                                        /media/noimg.jpg {% endif %}" alt="book" class="img-fluid" style="height: 200px; width: 200px;">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5>{{ lib.title }}</h5>
                                    <span>{% if local_tz == 'Asia/Calcutta' %}&#8377; {{ lib.price_in_inr}} {% else %}$ {{ lib.price_by_currency}}{% endif %}</span>
                                </div>
                                <div class="card-footer">
                                    <a class="view-detail gradient" href="{% url 'frontend:book_detail' pk=lib.id %}">View Details</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
				    </div>
                </div>
                {% endif %}
                {% if book_list_schools %}
				<div class="custom-book-detail pb-4">
					<div class="heading-box">
						<h3>Schools</h3>
					</div>
					<div class="book-slider">
                        {% for lib in book_list_schools|filter_by_timezone:local_tz|sort_by:'id' %}
                        <div class="book-item">
                            <div class="card product-card">
                                <div class="card-header">
                                    <a href="{% url 'frontend:book_detail' pk=lib.id %}">
                                        <img src="{% if lib.cover_file %}
                                        {{ lib.cover_file }}
                                        {% else %}
                                        /media/noimg.jpg {% endif %}" alt="book" class="img-fluid" style="height: 200px; width: 200px;">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5>{{ lib.title }}</h5>
                                    <span>{% if local_tz == 'Asia/Calcutta' %}&#8377; {{ lib.price_in_inr}} {% else %}$ {{ lib.price_by_currency}}{% endif %}</span>
                                </div>
                                <div class="card-footer">
                                    <a class="view-detail gradient" href="{% url 'frontend:book_detail' pk=lib.id %}">View Details</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
				</div>
                {% endif %}
			</div>
		</div>
		<!--
		<div class="latest-update-wrapper">
			<div class="container">
				<div class="update-heading text-center mb-5">
					<h2>Latest Update</h2>
				</div>
				<div class="latest-update-slider">
					<div class="latest-update-item">
						<div class="row">
							<div class="col-lg-6 col-md-5">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-lg-6 col-md-7">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="latest-update-item">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-md-6">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="latest-update-item">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-md-6">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->

	</section>



{% endblock %}