{% extends 'main/frontend_base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

<div class="contact-form-wrapper">
    <div class="container">
        <div class="related-book-heading">
            <h3>Forget Password</h3>
        </div>
        <div class="contact-form-detail">
                
                <div class="row">
                    <div class="col-md-5 m-auto">
                        
                    {% if messages %}
                        {% for message in messages %}
                       <div class="alert {{ message.tags }} alert-dismissible fade show">
                             {{ message }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
        </div>


    </div>
</div>
 {% endblock %}