{% extends 'main/frontend_base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}
	<section class="body-wrapper">
		<div class="latest-news-wrapper">
            <div class="container">
                <div class="latest-news-heading">
                    <h3>Latest News</h3>
                </div>
                <div class="latest-news-slider">
                    <div class="slick-slider" id="latest-news-slider-wrapper">
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="latest-news-sliders">
                                        <div class="slider-img">
                                            <img class="sl1" src="{% static 'images/latest-news-slider.png' %}" alt="slider 1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="latest-news-slider-content">
                                        <h5>Lorem ipsm is the simmply text</h5>
                                        <h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
                                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to monstrate the visual form of a document text commonly used to monstrate the visual form of a document text commonly used to monstrate
                                            the visual form of a document text commonly used</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="latest-news-sliders">
                                        <div class="slider-img">
                                            <img class="sl1" src="{% static 'images/latest-news-slider.png' %}" alt="slider 1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="latest-news-slider-content">
                                        <h5>Lorem ipsm is the simmply text</h5>
                                        <h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
                                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to monstrate the visual form of a document text commonly used to monstrate the visual form of a document text commonly used to monstrate
                                            the visual form of a document text commonly used</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="latest-news">
			<div class="container">
				<div class="latest-news-card">
					<div class="row">
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="news-list-box">
								<img class="card-img-top" src="{% static 'images/news-list.png' %}" alt="Card image cap">
								<div class="news-list-detail">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<a href="{% url 'frontend:news_detail' pk=1 %}" style="color: black">
									<h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
									</a>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard</p>

								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="news-list-box">
								<img class="card-img-top" src="{% static 'images/news-list.png' %}" alt="Card image cap">
								<div class="news-list-detail">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="news-list-box">
								<img class="card-img-top" src="{% static 'images/news-list.png' %}" alt="Card image cap">
								<div class="news-list-detail">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="news-list-box">
								<img class="card-img-top" src="{% static 'images/news-list.png' %}" alt="Card image cap">
								<div class="news-list-detail">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="news-list-box">
								<img class="card-img-top" src="{% static 'images/news-list.png' %}" alt="Card image cap">
								<div class="news-list-detail">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-5">
							<div class="news-list-box">
								<img class="card-img-top" src="{% static 'images/news-list.png' %}" alt="Card image cap">
								<div class="news-list-detail">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard</p>
								</div>
							</div>
						</div>
						<!--<div class="col-lg-4 col-md-6">
							<img class="card-img-top" src="{% static 'images/news-list.png' %}" alt="Card image cap">
							<div class="card-body">
								<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
								<h5 class="card-title">Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard</p>
							</div>
						</div>
						<div class=" col-lg-4 col-md-6">
							<img class="card-img-top" src="{% static 'images/news-list.png' %}" alt="Card image cap">
							<div class="card-body">
								<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
								<h5 class="card-title">Lorem Ipsum is simply dummy text of the printing and typesetting</h5>
								<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard</p>
							</div>
						</div>-->
					</div>
				</div>
			</div>
		</div>
		<div class="latet-news-list">
			<div class="container">
				<nav class="pagination-wrapper my-4 d-flex justify-content-end">
					<ul class="pagination">
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left mr-2" aria-hidden="true"></i> Previous</a>
						</li>
						<li class="page-item active" aria-current="page"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">6</a></li>
						<li class="page-item next">
							<a class="page-link" href="#"> Next <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

	</section>
{% endblock %}

    
