{% extends 'main/frontend_base.html' %}
{% block title %} NewsDetails {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}
	<section class="body-wrapper">
		<div class="news-detail-wrapper">
			<div class="container">
				<div class="single-news-detail">
					<h3>Lorem ipsum is the simmply dummy text for the printing factory</h3>
					<div class="single-news-date">
						<span class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</span>
						<ul>
							<li>
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
					<img src="{% static 'images/news-detail.png' %}" alt="news detail" class="img-fluid">
					<div class="news-detail-content">
						<div class="row">
							<div class="col-md-8">
								<div class="news-detail-content-list">
									<h3>Lorem ipsum dymmy text</h3>
									<p style="font-weight: 600;">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful. of a document or a ypeface without relying on meaningful.</p>
									<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful. of a document or a ypeface without relying on meaningful. demonstrate the visual form of a document or a typeface without relying on meaningful. of a document .</p>
									<img src="{% static 'images/news-list-big.png' %}" alt="news detail" class="img-fluid news-list-image">
								</div>
								<div class="news-detail-content-list">
									<h4>Lorem ipsum dymmy text</h4>
									<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful. of a document or a ypeface without relying on meaningful. demonstrate the visual form of a document or a typeface without relying on meaningful. of a document or a typeface without</p>
									<div class="quotes d-flex">
										<img src="{% static 'images/quotes.png' %}" alt="" class="quotes-pic">
										<blockquote><i>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to lorem demonstrate the visual form of a document or a typeface</i></blockquote>
									</div>
								</div>
								<div class="news-detail-content-list">
									<h6>Lorem ipsum dymmy text</h6>
									<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful. of a document or a ypeface without relying on meaningful. demonstrate the visual form of a document or a typeface without relying on meaningful. of a document or a typeface without</p>
								</div>
								<div class="share-post-area">
									<ul>
										<li>Share</li>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								<div class="post-btn-area d-flex align-itens-center justify-content-between">
									<div class=" post-btn prev-post text-left">
										<a href="#">Previous Post</a>
										<p>In publishing and graphic design, <br> Lorem ipsum</p>
									</div>
									<div class="post-btn next-post text-right">
										<a href="#">Next Post</a>
										<p>In publishing and graphic <br> design, Lorem ipsum</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 offset-md-1">
								<div class="news-sidebar">
									<h4>Categories</h4>
									<ul>
										<li><a href="#">Category 1</a></li>
										<li><a href="#">Category 2</a></li>
										<li><a href="#">Category 3</a></li>
										<li><a href="#">Category 4</a></li>
										<li><a href="#">Category 5</a></li>
									</ul>
								</div>
								<div class="news-sidebar">
									<h4>Categories</h4>
									<ul>
										<li><a href="#">Category 1</a></li>
										<li><a href="#">Category 2</a></li>
										<li><a href="#">Category 3</a></li>
										<li><a href="#">Category 4</a></li>
										<li><a href="#">Category 5</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		\
	</section>
	
	
{% endblock %}