{% extends 'main/frontend_base.html' %}
{% block title %} Order Place {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}
<style type="text/css">
	.related-book-wrapper {
  min-height: 400px;
}
</style>

	<section class="body-wrapper">
			<section class="body-wrapper">
		<div class="related-book-wrapper">
			<div class="container">
				<div class="heading-box">
					<h3>Please click proceed button to make payment.</h3>
					<div class="card border-0 p-4 mt-3">
					<a href="javascript:void(0)" id="payment_now" class="place-order text-center">Proceed</a>
						</div>
				</div>
				<div class="row">
					{% for lib in library %}
					<div class="col-lg-2dot4 col-md-3 col-sm-4 col-6 mb-3">
						<div class="card product-card m-0">
							<div class="card-header">
								<a href="{% url 'frontend:login_book_detail' pk=lib.book.id %}">
									<img src="{% if lib.book.cover_file %}
									{{ lib.book.cover_file.url }}
									{% else %}
									/media/noimg.jpg {% endif %}" alt="book" class="img-fluid" style="height: 200px; width: 200px;">
								</a>
							</div>
							<div class="card-body">
								<h5>{{ lib.book.title }}</h5>
								<span>${{ lib.book.price_by_currency}}</span>
							</div>
							<div class="card-footer">
								<a class="view-detail gradient" href="{% url 'frontend:login_book_detail' pk=lib.book.id %}">View Details</a>
							</div>
						</div>
					</div>
					{% endfor %}
<!--					-->
				</div>
			</div>
		</div>

	</section>


<!-- Razorpay's Javascript code. -->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    var options = {

      // Enter the Key ID generated from the Dashboard
      key: "{{ razorpay_merchant_key }}",

      amount: "{{razorpay_amount}}",
      currency: "{{currency}}",

      // Your/store name.
      name: "SCS Learning",

      // Pass the `id` obtained in the response of Step 1
      order_id: "{{ razorpay_order_id }}",
      callback_url: "{{ callback_url }}",
    };

    // initialise razorpay with the options.
    var rzp1 = new Razorpay(options);
    document.getElementById("payment_now").onclick = function (e) {
      rzp1.open();
      e.preventDefault();
    };


  </script>
{% endblock %}