{% extends 'main/frontend_base.html' %}
{% block title %} Payment Checkout Page {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}
<style type="text/css">
	.related-book-wrapper {
  min-height: 500px;
}

* {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
      }
      .card {
        background-color: white;
        padding: 25px;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 25%);
      }
      .title {
        text-align: center;
        letter-spacing: 1px;
      }
      .muted {
        color: #8e7f7f;
        display: block;
        margin-bottom: 10px;
        text-align: center;
      }
      .btn_container {
        padding: 20px;
        text-align: center;
      }
      .btn1 {
        border-radius: 4px;
        cursor: pointer;
        padding: 4px 8px;
        background-color: #ffaaa7;
        color: white;
<!--        font-size: 1.2em;-->
<!--        font-weight: 600;-->
        letter-spacing: 1px;
      }
</style>
	<section class="body-wrapper">
		<div class="related-book-wrapper">
			<div class="container">
				<div class="heading-box">
<!--					<h3>Student's Library</h3>-->
				</div>
				<div class="row1">
                  <div class="card">
                    <h1 class="title">Total Payment Payable: 200</h1>
                    <small class="muted">Please proceed by clicking on to Pay Now button below</small
                    >
                    <div class="btn_container">
                      <!-- Payment Button -->
                      <button class="btn1" id="pay-btn">Pay Now</button>
                    </div>
                  </div>
				</div>
			</div>
		</div>

	</section>
<!-- Razorpay's Javascript code. -->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    var options = {

      // Enter the Key ID generated from the Dashboard
      key: "{{ razorpay_merchant_key }}",

      // Amount is in currency subunits.
      // Default currency is INR. Hence,
      // 50000 refers to 50000 paise
      amount: "{{ razorpay_amount }}",
      currency: "{{ currency }}",

      // Your/store name.
      name: "Dj Razorpay",

      // Pass the `id` obtained in the response of Step 1
      order_id: "{{ razorpay_order_id }}",
      callback_url: "{{ callback_url }}",
    };

    // initialise razorpay with the options.
    var rzp1 = new Razorpay(options);

    // add event listener to the payment button.
    document.getElementById("pay-btn").onclick = function (e) {
      rzp1.open();
      e.preventDefault();
    };
  </script>
{% endblock %}