{% extends 'main/frontend_base.html' %}
{% block title %} Payment Fail {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}
<style type="text/css">
	.related-book-wrapper {
  min-height: 500px;
}

* {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
      }
      .card {
        background-color: white;
        padding: 25px;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 25%);
      }
      .title {
        text-align: center;
        letter-spacing: 1px;
      }
      .muted {
        color: #8e7f7f;
        display: block;
        margin-bottom: 10px;
        text-align: center;
      }
      .btn_container {
        padding: 20px;
        text-align: center;
      }
      .btn1 {
        border-radius: 4px;
        cursor: pointer;
        padding: 4px 8px;
        background-color: #ffaaa7;
        color: white;
<!--        font-size: 1.2em;-->
<!--        font-weight: 600;-->
        letter-spacing: 1px;
      }
</style>
	<section class="body-wrapper">
		<div class="related-book-wrapper">
			<div class="container">
				<div class="heading-box">
<!--					<h3>Student's Library</h3>-->
				</div>
				<h2>Your payment got failed. Please try again later</h2>
                <h6>Note: If your amount has been debited from your account then admin will reverse you.</h6>
                <a href="">go to</a>
			</div>
		</div>

	</section>
{% endblock %}