{% extends 'main/frontend_base.html' %}
{% block title %} Reset Password {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

<div class="contact-form-wrapper">
    <div class="container">
        <div class="related-book-heading">
            <h3>Forget Password</h3>
        </div>
        <div class="contact-form-detail">
            <form id="needValidation" novalidate method="post" action="{% url 'frontend:reset_password_complete' %}">
                <div class="row">
                    <div class="col-md-5 m-auto">
                {% if messages %}
                    {% for message in messages %}
                   <div class="alert {{ message.tags }} alert-dismissible fade show">
                         {{ message }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    {% endfor %}
                {% endif %}
                </div>
                </div>
                <div class="row">
                    {% csrf_token %}
                    

                    <input type="hidden" name="uidb" value="{{uidb64}}"/>
                    <input type="hidden" name="token" value="{{token}}"/>
                    <div class="col-md-5 m-auto">
                        <div class="form-group">
                            <label for="new_pass">New Password</label>
                            <input type="password" required="required" class="form-control" name="new_pass" id="new_pass" required>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    {% csrf_token %}
                    <div class="col-md-5 m-auto">
                        <div class="form-group">
                            <label for="re_pass">Retype Password</label>
                            <input type="password" required="required" class="form-control" name="re_pass" id="re_pass" required>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-5 m-auto">
                        <div class="form-group">
                            <button type="submit" class="view-detail gradient border-0">Reset Password</button>
                        </div>
                    
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>
 {% endblock %}