{% extends 'main/frontend_base.html' %}
{% block title %} Return Policy {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

	<section class="contact-banner">
		<img src="{% static 'images/about-banner.png' %}" alt="Banners" class="img-fluid">
		<div class="container">
            <div class="contact-banner-caption">
				<h5>Refund and Cancellation Policy</h5>
                <h3>Welcome to <br/> SCS Learning</h3>
                <p>An initiative by Sultan Chand & Sons (P) Ltd, India’s Leading Educational Publishers </p>
            </div>
        </div>
    </section>
	<section class="body-wrapper">
		<div class="about-content-wrapper">
			<div class="container">
				<div class="related-book-heading">
					<h3>Refund and Cancellation Policy</h3>
				</div>
				<div class="row">
					<div class="col-lg-6 order-lg-1 order-2">
						<div class="about-content">

							<p><strong>Shipping & Returns</p></strong>
<p><strong><u>Disclaimer:</u></p></strong> Please read and edit the Refund & Cancellation Policy given below as per your /website’s requirement. Don’t use or apply these as is basis on your website.

							<p><strong><u>
Refund and Cancellation Policy
								</p></strong></u>

<p>
Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase.
</p>
							<p>
In case of dissatisfaction from our services, clients have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:
</p>
							<p><strong>
 Cancellation Policy
							</strong></p>

							<p>
For Cancellations please contact the us via contact us link.
								</p>
							<p>
Requests received later than 7 business days prior to the end of the current service period will be treated as cancellation of services for the next service period.
</p>
							<p><strong>
Refund Policy
							</strong></p>
							<p>
We will try our best to create the suitable design concepts for our clients.
</p>

							<p>
In case any client is not completely satisfied with our products we can provide a refund.
</p>
							<p>
If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of payment gateway name payments refund will be made to the same account.
							</p>



								</div>
					</div>
					<div class="col-lg-6 order-lg-2 order-1 mb-4 mb-lg-0">
						<div class="about-content-image">
							<img src="{% static 'images/login-image.png' %}" alt="Banners" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--
		<div class="latest-update-wrapper">
			<div class="container">
				<div class="update-heading text-center mb-5">
					<h2>Latest Update</h2>
				</div>
				<div class="latest-update-slider">
					<div class="latest-update-item">
						<div class="row">
							<div class="col-lg-6 col-md-5">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-lg-6 col-md-7">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="latest-update-item">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-md-6">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="latest-update-item">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-md-6">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->

	</section>

	<!-- Modal -->
	<div class="login-modal modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
		  <div class="row no-gutters">
			<div class="col-md-6 d-none d-md-block">
			<img src="{% static 'images/login-image.png' %}" alt="login" class="img-fluid">
			</div>
			<div class="col-md-6 bg-white">
				<div class="modal-header border-0 pb-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			  	</div>
				<div class="form-style-box p-3">
					<h3 class="mb-4">Login as a student</h3>
					<form>
					  <div class="form-group mb-0">
						<label>Email Address</label>
						<input type="email" placeholder="Enter Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					  </div>
					  <div class="form-group pb-3">
					  	<label>Password</label>
						<input type="password" placeholder="********" class="form-control" id="exampleInputPassword1">
					  </div>
						<div class="forgot-password text-right">
							<a href="#">Forget Password?</a>
						</div>
					   <div class="login-btn-box py-2">
					  	<button type="submit" class="btn btn-login w-100 font-weight-bold">Submit</button>
					   </div>
					</form>
				  <div class="sideline text-center">OR</div>
				  <div class="social-login">
				  	<ul>
						<li>
							<a href="#"><img src="{% static 'images/facebook.png' %}" alt="fb" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/twitter.png' %}" alt="tw" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/google.png' %}" alt="google" class="img-fluid"></a>
						</li>
				  	</ul>
				  </div>
				  <div class="sign-up-box pt-4 text-center">
				  Don't have an account? <a href="#">Sign Up</a>
				  </div>
				</div>

			</div>
			</div>
		</div>
	  </div>
	</div>

 {% endblock %}