{% extends 'main/frontend_base.html' %}
{% block title %} My Library {% endblock %}
{% load static %}
{% load custom_tags %}
{% block style %}
{% endblock %}
{% block content %}
<style type="text/css">
	.related-book-wrapper {
  min-height: 400px;
}
</style>
	<section class="body-wrapper">
		<div class="related-book-wrapper">
			<div class="container">
				<div class="heading-box">
					<h3>My Library</h3>
				</div>
				<div class="row">
                   {% if library %}
					{% for lib in library|check_assign_time:request %}
					<div class="col-lg-2dot4 col-md-3 col-sm-4 col-6 mb-3">
						<div class="card product-card m-0">
							<div class="card-header">
								<a href="{% url 'frontend:login_book_detail' pk=lib.book_id %}">
									<img src="{% if lib.cover_file %}
									{{ lib.cover_file_url }}
									{% else %}
									/media/noimg.jpg {% endif %}" alt="book" class="img-fluid" style="height: 200px; width: 200px;">
								</a>
							</div>
							<div class="card-body">

								<h5>{{ lib.title }}</h5>
								<span>{% if local_tz == 'Asia/Calcutta' %}&#8377; {{ lib.price_in_inr}} {% else %}$ {{ lib.price_by_currency}}{% endif %}</span>
							</div>
							<div class="card-footer">
								<a class="view-detail gradient" href="{% url 'frontend:purchased_epub_reader' lib.book_id %}" target="_blank">Start Reading</a>
<!--								<a class="view-detail gradient" href="{% url 'frontend:login_book_detail' pk=lib.book_id %}">View Details</a>-->
							</div>
						</div>
					</div>
					{% empty %}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<p>&nbsp;</p>
								<p>You have not purchased any book. Please start adding books by purchasing into Library by clicking below button
								</p>
					<div class="library-btn form-froup py-4">
								<a class="view-detail gradient" href="/">Start Searching for Books</a>

								</div>
					{% endfor %}
					{% endif %}
<!--					-->
				</div>
			</div>
		</div>

	</section>

{% endblock %}