{% extends 'main/frontend_base.html' %}
{% block title %} Terms and Conditions {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

	<section class="contact-banner">
		<img src="{% static 'images/about-banner.png' %}" alt="Banners" class="img-fluid">
		<div class="container">
            <div class="contact-banner-caption">
				<h5>Terms and Condition</h5>
                <h3>Welcome to <br/> SCS Learning</h3>
                <p>An initiative by Sultan Chand & Sons (P) Ltd, India’s Leading Educational Publishers </p>
            </div>
        </div>
    </section>
	<section class="body-wrapper">
		<div class="about-content-wrapper">
			<div class="container">
				<div class="related-book-heading">
					<h3>Conditions of Use</h3>
				</div>
				<div class="row">
					<div class="col-lg-6 order-lg-1 order-2">
						<div class="about-content">
							<p><u><strong>Disclaimer:</strong></u> Please read and edit the TERMS AND CONDITIONS Policy given below as per your /website’s requirement. Don’t use or apply these as is basis on your website.</p>

							<p><u><strong>TERMS AND CONDITIONS</strong></u></p>

							<p><strong>Your website may use the Terms and Conditions given below.</strong>

                                <p>
The terms "We" / "Us" / "Our"/”Company” individually and collectively refer to SCS Learning and the terms "Visitor” ”User” refer to the users.
</p>

                            <p>
This page states the Terms and Conditions under which you (Visitor) may visit this website (“Website”). Please read this page carefully. If you do not accept the Terms and Conditions stated here, we would request you to exit this site. The business, any of its business divisions and / or its subsidiaries, associate companies or subsidiaries to subsidiaries or such other investment companies (in India or abroad) reserve their respective rights to revise these Terms and Conditions at any time by updating this posting. You should visit this page periodically to re-appraise yourself of the Terms and Conditions, because they are binding on all users of this Website.</p>
</p>

                            <p><strong>
USE OF CONTENT
 </strong>
                            </p>
                            <p>
All logos, brands, marks headings, labels, names, signatures, numerals, shapes or any combinations thereof, appearing in this site, except as otherwise noted, are properties either owned, or used under licence, by the business and / or its associate entities who feature on this Website. The use of these properties or any other content on this site, except as provided in these terms and conditions or in the site content, is strictly prohibited.
</p>
                            <p>
You may not sell or modify the content of this Website  or reproduce, display, publicly perform, distribute, or otherwise use the materials in any way for any public or commercial purpose without the respective organisation’s or entity’s written permission.
</p>
                            <p><strong>
ACCEPTABLE WEBSITE USE
                                </strong>
                            </p>
<p><strong>
(A) Security Rules
</strong></p>
Visitors are prohibited from violating or attempting to violate the security of the Web site, including, without limitation, (1) accessing data not intended for such user or logging into a server or account which the user is not authorised to access, (2) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorisation, (3) attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus or "Trojan horse" to the Website, overloading, "flooding", "mail bombing" or "crashing", or (4) sending unsolicited electronic mail, including promotions and/or advertising of products or services. Violations of system or network security may result in civil or criminal liability. The business and / or its associate entities will have the right to investigate occurrences that they suspect as involving such violations and will have the right to involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.

<p><strong>
(B) General Rules
</strong></p>
                            <p>
Visitors may not use the Web Site in order to transmit, distribute, store or destroy material (a) that could constitute or encourage conduct that would be considered a criminal offence or violate any applicable law or regulation, (b) in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy or publicity of other personal rights of others, or (c) that is libellous, defamatory, pornographic, profane, obscene, threatening, abusive or hateful.
</p>
                            <p><strong>
INDEMNITY
                            </strong></p>

                            <p>

The User unilaterally agree to indemnify and hold harmless, without objection, the Company, its officers, directors, employees and agents from and against any claims, actions and/or demands and/or liabilities and/or losses and/or damages whatsoever arising from or resulting from their use of sultan-chand.com or their breach of the terms .
</p>

<p><strong>
LIABILITY
</strong></p>

                            <p>
User agrees that neither Company nor its group companies, directors, officers or employee shall be liable for any direct or/and indirect or/and incidental or/and special or/and consequential or/and exemplary damages, resulting from the use or/and the inability to use the service or/and for cost of procurement of substitute goods or/and services or resulting from any goods or/and data or/and information or/and services purchased or/and obtained or/and messages received or/and transactions entered into through or/and from the service or/and resulting from unauthorized access to or/and alteration of user's transmissions or/and data or/and arising from any other matter relating to the service, including but not limited to, damages for loss of profits or/and use or/and data or other intangible, even if Company has been advised of the possibility of such damages.
</p>
                            <p>
User further agrees that Company shall not be liable for any damages arising from interruption, suspension or termination of service, including but not limited to direct or/and indirect or/and incidental or/and special consequential or/and exemplary damages, whether such interruption or/and suspension or/and termination was justified or not, negligent or intentional, inadvertent or advertent.
</p>
                            <p>
User agrees that Company shall not be responsible or liable to user, or anyone, for the statements or conduct of any third party of the service. In sum, in no event shall Company's total liability to the User for all damages or/and losses or/and causes of action exceed the amount paid by the User to Company, if any, that is related to the cause of action.
</p>
<p><strong>
DISCLAIMER OF CONSEQUENTIAL DAMAGES
</strong></p>
<p>
In no event shall Company or any parties, organizations or entities associated with the corporate brand name us or otherwise, mentioned at this Website be liable for any damages whatsoever (including, without limitations, incidental and consequential damages, lost profits, or damage to computer hardware or loss of data information or business interruption) resulting from the use or inability to use the Website and the Website material, whether based on warranty, contract, tort, or any other legal theory, and whether or not, such organization or entities were advised of the possibility of such damages.
</p>















                        </div>
					</div>
					<div class="col-lg-6 order-lg-2 order-1 mb-4 mb-lg-0">
						<div class="about-content-image">
							<img src="{% static 'images/login-image.png' %}" alt="Banners" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--
		<div class="latest-update-wrapper">
			<div class="container">
				<div class="update-heading text-center mb-5">
					<h2>Latest Update</h2>
				</div>
				<div class="latest-update-slider">
					<div class="latest-update-item">
						<div class="row">
							<div class="col-lg-6 col-md-5">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-lg-6 col-md-7">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="latest-update-item">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-md-6">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="latest-update-item">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/student-home.png' %}" alt="book" class="img-fluid">
							</div>
							<div class="col-md-6">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<a class="read-more d-inline-block" href="#">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->

	</section>

	<!-- Modal -->
	<div class="login-modal modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
		  <div class="row no-gutters">
			<div class="col-md-6 d-none d-md-block">
			<img src="{% static 'images/login-image.png' %}" alt="login" class="img-fluid">
			</div>
			<div class="col-md-6 bg-white">
				<div class="modal-header border-0 pb-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			  	</div>
				<div class="form-style-box p-3">
					<h3 class="mb-4">Login as a student</h3>
					<form>
					  <div class="form-group mb-0">
						<label>Email Address</label>
						<input type="email" placeholder="Enter Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					  </div>
					  <div class="form-group pb-3">
					  	<label>Password</label>
						<input type="password" placeholder="********" class="form-control" id="exampleInputPassword1">
					  </div>
						<div class="forgot-password text-right">
							<a href="#">Forget Password?</a>
						</div>
					   <div class="login-btn-box py-2">
					  	<button type="submit" class="btn btn-login w-100 font-weight-bold">Submit</button>
					   </div>
					</form>
				  <div class="sideline text-center">OR</div>
				  <div class="social-login">
				  	<ul>
						<li>
							<a href="#"><img src="{% static 'images/facebook.png' %}" alt="fb" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/twitter.png' %}" alt="tw" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'images/google.png' %}" alt="google" class="img-fluid"></a>
						</li>
				  	</ul>
				  </div>
				  <div class="sign-up-box pt-4 text-center">
				  Don't have an account? <a href="#">Sign Up</a>
				  </div>
				</div>

			</div>
			</div>
		</div>
	  </div>
	</div>

 {% endblock %}