{% extends 'main/frontend_base.html' %}
{% block title %} Read Books {% endblock %}
{% load static %}
{% block style %}
{% endblock %}
{% block content %}

	<div class="book-control-wrapper">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-3 col-sm-5">
					<div class="library-btn-box">
						<a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Library</a>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-5 col-sm-7">
					<div class="book-control-box d-flex align-items-center">
						<div class="search-page">
							<span class="search-dropdown dropdown show">
							  <a class="btn" href="#" role="button" id="bookMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-search" aria-hidden="true"></i>
							  </a>
							  <div class="dropdown-menu" aria-labelledby="bookMenuButton">
								  <from>
									<div class="input-group">
									  <input type="text" class="form-control" placeholder="Search Book" aria-label="Recipient's username" aria-describedby="button-addon2">
									  <div class="input-group-append">
										<button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
									  </div>
									</div>
								  </from>
							  </div>
							</span>
						</div>
						<div class="book-control-list">
							<ul>
								<li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-book" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="body-wrapper">
		<div class="book-pages-wrapper">
			<div class="container">
				<div class="view-book-slider">
					<div class="view-book-item">
						<div class="row">
							<div class="col-lg-6 col-md-5">
								<div class="index-table">
									<div class="index-row">
									  <div class="index-title">Big text here</div>
									  <div class="index-dots"></div>
									  <div class="index-value">57 MB</div>
									</div>
									<div class="index-row">
									  <div class="index-title">Small title text</div>
									  <div class="index-dots"></div>
									  <div class="index-value">104 MB</div>
									</div>
									<div class="index-row">
									  <div class="index-title">One more for good luck</div>
									  <div class="index-dots"></div>
									  <div class="index-value">4.8 MB</div>
									</div>
							  	</div>
							</div>
							<div class="col-lg-6 col-md-7">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<img src="images/text-image.png" alt="login" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
					<div class="view-book-item">
						<div class="row">
							<div class="col-lg-6 col-md-5">
								<div class="index-table">
									<div class="index-row">
									  <div class="index-title">Big text here</div>
									  <div class="index-dots"></div>
									  <div class="index-value">57 MB</div>
									</div>
									<div class="index-row">
									  <div class="index-title">Small title text</div>
									  <div class="index-dots"></div>
									  <div class="index-value">104 MB</div>
									</div>
									<div class="index-row">
									  <div class="index-title">One more for good luck</div>
									  <div class="index-dots"></div>
									  <div class="index-value">4.8 MB</div>
									</div>
							  	</div>
							</div>
							<div class="col-lg-6 col-md-7">
								<div class="latest-content">
									<h6><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday, 19 March - 2021</h6>
									<h5>Lorem ipsum is the simmply dummy text factory</h5>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
									<img src="images/text-image.png" alt="login" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<footer class="footer-wrapper">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="footer-box footer-links">
							<h5>Useful Links</h5>
							<ul>
								<li><a href="about.html">About Us</a></li>
								<li><a href="#">News</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 offset-md-2">
						<div class="footer-box footer-links">
							<h5>Help & Support</h5>
							<ul>
								<li><a href="#">Support Home</a></li>
								<li><a href="#">Frequently Asked Questions</a></li>
								<li><a href="#">Orders & Purchases</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 offset-md-1">
						<div class="footer-box social-links">
							<h5>Social</h5>
							<ul>
								<li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a class="instagram" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="container">
				<p class="text-center">© 2021 Agnitio. All rights reserved.</p>
			</div>
		</div>
	</footer>
	
	<!-- Modal -->
	<div class="login-modal modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
		  <div class="row no-gutters">
			<div class="col-md-6 d-none d-md-block">
			<img src="images/login-image.png" alt="login" class="img-fluid">
			</div>
			<div class="col-md-6 bg-white">
				<div class="modal-header border-0 pb-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			  	</div>
				<div class="form-style-box p-3">
					<h3 class="mb-4">Login as a student</h3>
					<form>
					  <div class="form-group mb-0"> 
						<label>Email Address</label>
						<input type="email" placeholder="Enter Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">   
					  </div>
					  <div class="form-group pb-3"> 
					  	<label>Password</label>
						<input type="password" placeholder="********" class="form-control" id="exampleInputPassword1">
					  </div>
						<div class="forgot-password text-right">
							<a href="#">Forget Password?</a>
						</div>
					   <div class="login-btn-box py-2">
					  	<button type="submit" class="btn btn-login w-100 font-weight-bold">Submit</button>
					   </div>
					</form>
				  <div class="sideline text-center">OR</div>
				  <div class="social-login">
				  	<ul>
						<li>
							<a href="#"><img src="images/facebook.png" alt="fb" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="images/twitter.png" alt="tw" class="img-fluid"></a>
						</li>
						<li>
							<a href="#"><img src="images/google.png" alt="google" class="img-fluid"></a>
						</li>
				  	</ul>
				  </div>
				  <div class="sign-up-box pt-4 text-center">
				  Don't have an account? <a href="#">Sign Up</a>
				  </div>
				</div>

			</div>
			</div>
		</div>
	  </div>
	</div>
    
{% endblock %}