{% extends 'main/base.html' %}
{% load static %}
{% block title %}Signup{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Banner Management</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item">Banner Management</li>
                             <li class="breadcrumb-item">New Banner</li>
                        </ol>
                    </div>
<!--                    <div class="page_title_right">-->
<!--                        <div class="page_date_button d-flex align-items-center">-->
<!--                            <img src="{% static 'img/icon/calender_icon.svg' %}" alt=""> August 1, 2020 - August 31, 2020-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
               <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
<!--                            <div class="main-title">-->
<!--                                <h3 class="m-0">Basic Form</h3>-->
<!--                            </div>-->

                        </div>
                    </div>
                    <div class="white_card_body">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show">
                                <strong>Success!</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                            {% endfor %}
                         {% endif %}
                        <form action="{% url 'banner:banner_add' %}" method="post" enctype="multipart/form-data">
                             {% csrf_token %}

                            <div class="form-group">
                            <label for="title">Banner Title <span class="text-danger">*</span></label>
                                <input type="hidden" name="banner_id" value="{{ obj.id }}">
                                <input type="text" id="title" title="Enter Banner Title in Text" name="title" class="form-control" placeholder="Enter Banner title" maxlength="50" required="" id="" value="{{ obj.title }}" autocomplete="off">


                            </div>

                            <div class="form-group">

                            <label for="image">Banner Image  {% if not obj.id %} <span class="text-danger">*</span>{% endif %} {% if obj.image %}
                                    <a href="/media/{{banner.image}}" target="_blank" title="Click Here to Download - You can download clicking on this Image"><!--<img width="30" height="30" src='/media/{{banner.image}}'/>-->{{obj.image}}</a></label>
                                    {% endif %}

                                <input type="file" name="image" accept=".jpg, .jpeg, .png" id="image" class="form-control" title="Upload Image only in Jpg/Jpeg/gif"  {% if not obj.id %} required {% endif %}>

                            </div>

                            <div class="form-group">
                            <label for="desc">Banner Description<span class="text-danger">*</span></label>
                               <textarea name="desc" id="desc" class="form-control" rows="5">{{ obj.short_description}}</textarea>

                            </div>


                            <input type="submit" class="btn btn-primary" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}