{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #f8f8f8;
      }
      .error{
        display:none;
        color:red
      }
    </style>

    <div class="container-sm" style="padding: 1em">
      <div class="card">
        <div class="card-header text-center"><h4>Add Book</h4></div>
        <div class="card-body">
          <form id="productForm">
            <div class="mb-3">
              <label for="title" class="form-label">Cover File<span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="cover_file"
                     id="title" required/>
              <input type="hidden" value="{{logo_obj.id}}" id="id">
                <label id="logo_title" class="error" for="logo_title">Please enter logo title</label>
            </div>
              <div class="mb-3">
                    <label for="menu_content">Description <span class="text-danger">*</span></label>
                    <textarea name="description" id="menu_content">{{logo_obj.description}}</textarea>
                     <label id="logo_desc" class="error" for="logo_desc">Please enter description</label>
                </div>

            <div class="mb-3">
                {% if logo_obj.logo %}
                Logo: Currently: <a href="{{logo_obj.logo.url}}" class="mb-2" target="_blank">{{logo_obj.logo}}</a><br>
                <label for="main_logo" class="form-label">Change:</label>
                {% else %}
                <label for="main_logo" class="form-label">Logo<span class="text-danger">*</span></label>
                {% endif %}
              <input class="form-control" type="file" id="main_logo" accept=".png, .jpg, jpeg" required/>

                <label id="logo_image" class="error" for="logo_image">Please select logo</label>
            </div>
            <button class="btn btn-primary" id="submit_btn_form">Submit</button>
            <a href="{% url 'admin_logo' %}" class="btn btn-primary" id="back_btn">Back</a>
          </form>
        </div>
      </div>
    </div>

    <!-- Submitting the Form to api -->
    <script>

    </script>
    <!-- End -->
{% endblock %}


{% block script %}
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script type="text/javascript" src="{% static 'js/footer.js' %}"></script>
{% endblock script %}