﻿{% extends 'main/base.html' %}
{% load static %}
{% block title %}Book Manager{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Book Manager</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Create Book</li>
                        </ol>
                    </div>
<!--                    <div class="page_title_right">-->
<!--                        <div class="page_date_button d-flex align-items-center">-->
<!--                            <img src="{% static 'img/icon/calender_icon.svg' %}" alt=""> August 1, 2020 - August 31, 2020-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
<!--                            <div class="main-title">-->
<!--                                <h3 class="m-0">Basic Form</h3>-->
<!--                            </div>-->
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                                {% endfor %}
                             {% endif %}
                        </div>
                    </div>
                    <div class="white_card_body">
                        <form action="{% url 'ebook:book_manager' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="category">Category <span class="text-danger">*</span></label>
                                <select name="category[]" id="category" class="form-control category" data-box-id="0" multiple required>
                                    <!-- <option value="">---- Select Category ----</option> -->
                                    {% for i in cat_list %}
                                        <option value="{{i.id}}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="subcategory_section">

                            </div>


                            <div class="form-group">
                                <label for="">Meta Data</label>
                                <textarea name="meta_data" id="meta_data" class="form-control" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Popular
                                 <input type="checkbox" name="popular" class="form-control1"></label>
                            </div>
                            <div class="form-group">
                                <label for="">Active
                                 <input type="checkbox" name="active" class="form-control1" checked></label>
                            </div>

                            <div class="form-group">
                                <label for="">Epub File <span class="text-danger">*</span></label>
                                <input type="file" name="epub_file" class="form-control-file" accept=".epub" required>
                            </div>
                            <div class="form-group">
                                <label for="">Epub Sample File <span class="text-danger">*</span></label>
                                <input type="file" name="epub_sample_file" required class="form-control-file" accept=".epub">
                            </div>
                            <div class="form-group">
                                <label for="">Cover File <span class="text-danger">*</span></label>
                                <input type="file" name="cover_file" class="form-control-file" required accept=".jpg, .png, .jpeg">
                                <input type="hidden" name="form_type" value="3">
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3">Title</label>
                                <div class="">
                                    <input type="text" class="form-control" id="inputEmail3" name="title" placeholder="Title">
                                </div>
                            </div>

                          <div class="form-group">
                              <label for="">Price by currency</label>
                              <input type="number" min="1" name="currency" class="form-control">
                          </div>

                              <div class="form-group">
                                  <label for="">Taxes in percent</label>
                                  <input type="number" min="1" name="tax"  class="form-control">
                              </div>

                            <div class="form-group">
                                <label for="inputEmail3">Sub Title</label>
                                <div class="">
                                    <input type="text" class="form-control" id="inputEmail3" name="sub_title" placeholder="Sub Title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3">Version</label>
                                <div>
                                    <input type="text" name="version" class="form-control" id="inputPassword3" placeholder="Version">
                                </div>
                            </div>
                                  <div class="form-group">
                                        <label for="inputPassword3" class="">Author Name</label>
                                        <div class="">
                                            <input type="text" name="author_name" class="form-control" id="inputPassword4" placeholder="Author Name">
                                        </div>
                                    </div>
                                  <div class="form-group">
                                        <label for="inputPasswos=">Identifier Name</label>
                                        <div class="">
                                            <input type="text" name="identifier_name" class="form-control" id="inputPassword5">
                                        </div>
                                    </div>

                                  <div class="form-group">
                                        <label for="inputPasswos=">Publisher</label>
                                        <div class="">
                                            <input type="text" name="publisher" class="form-control">
                                        </div>
                                    </div>
                                  <!--<div class="form-group">
                                        <label for="inputPasswos=">Subject</label>
                                        <div class="">
                                            <input type="text" name="subject" class="form-control">
                                        </div>
                                    </div>-->

                                  <div class="form-group">
                                        <label for="inputPasswos=">Reference ID</label>
                                        <div class="">
                                            <input type="text" name="reference_id" class="form-control">
                                        </div>
                                    </div>

                                  <div class="form-group">
                                        <label for="inputPasswos=">Contributors</label>
                                        <div class="">
                                            <input type="text" name="contributors" class="form-control">
                                        </div>
                                    </div>

                                  <div class="form-group">
                                        <label for="inputPasswos=">Pre-Order Release Date</label>
                                        <div class="">
                                            <input type="date" name="pre_order" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="publication_ds=">Publication Date</label>
                                        <div class="">
                                            <input type="date" class="form-control" name="publication_date" id="publication_date">
                                        </div>
                                    </div>

                                  <div class="form-group">
                                        <div class="">
                                          <label for="">Add a comment for the change history (optional)</label>
                                          <textarea name="change_history" id="comment" class="form-control" placeholder="Enter changes being made"></textarea>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                        <div class="">
                                              <label for="">Book Language</label>
                                              <select name="language" id="lang" class="form-control">
                                                  <option value="en">English</option>
                                                  <option value="hi">Hindi</option>
                                              </select>
                                          </div>
                                      </div>

                                  <div class="form-group">
                                      <label for="publication_ds=">Availability</label>
                                        <div class="">
                                              <label for="">Do you want to activate this title in the Amazon Store?</label><br>
                                              <input type="radio" name="availability" value="1"> Yes
                                              <input type="radio" name="availability" value="0" checked> No
                                          </div>
                                      </div>

                                  <div class="form-group">
                                        <div class="">
                                              <label for="">ASIN</label>
                                              <input type="text" name="asin" class="form-control" onkeypress="return isNumber(event)" >
                                          </div>
                                      </div>
                                  <div class="form-group">
                                        <div class="">
                                              <label for="eISBN">Add eISBN</label>
                                              <input type="text" name="eISBN" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group">
                                        <div class="">
                                              <label for="related_print_ISBN">Add related print ISBN</label>
                                              <input type="text" name="related_print_ISBN" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group">
                                       <label for="volume" class="">Volume</label>
                                        <div class="">
                                              <input type="text" name="volume" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group">
                                       <label for="volume" class="">Edition</label>
                                        <div class="">
                                              <input type="text" name="edition" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group">
                                       <label for="volume" class="">Edited By</label>
                                        <div class="">
                                              <input type="text" name="edited_by" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group">
                                       <label for="volume" class="">Imprint</label>
                                        <div class="">
                                              <input type="text" name="imprint" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group">
                                       <label for="volume" class="">Description</label>
                                        <div class="">
                                            <textarea rows="5" name="description" class="form-control"></textarea>
                                          </div>
                                      </div>
                                  <div class="form-group">
                                       <label for="volume" class="">Keywords</label>
                                        <div class="">
                                            <textarea rows="5" name="keywords" class="form-control"></textarea>
                                          </div>
                                      </div>
                           <div class="form-group">
                                       <label for="volume" class="">Rating(Max 5)</label>
                                        <div class="">
                                            <input type="text" name="no_of_reviews" class="form-control"  max="5">
                                          </div>
                                      </div>

                             <div class="form-group">
                                       <label for="volume" class="">Rating Description</label>
                                        <div class="">
                                           <textarea rows="5" name="review_description" class="form-control"></textarea>
                                          </div>
                                      </div>

                                  <div class="form-group">
                                       <label for="volume" class="">Rating Given By User</label>
                                        <div class="">
                                            <input type="text" name="review_user" class="form-control"  value="" max="5">
                                          </div>
                                      </div>
                             <div class="form-group">
                                       <label for="" class="">Rating Given Date</label>
                                        <div class="">
                                            <input type="date" name="review_date" class="form-control"  value="" max="5">
                                          </div>
                                      </div>



                            <input type="submit" class="btn btn-primary" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
    $(document).ready(function() {
        $('.category').select2();

        $(document).on('change', '.category', function(){
            // debugger
            var category_id_array = $(this).val();
            if(category_id_array.length == 0){
                return
            }
            category_id_str = category_id_array +"";


            var level_id = $(this).data('box-id');

            $.ajax({
                url: "/superadmin/category/get-subcategory/",
                data: { 
                    "category_ids": category_id_str
                },
                cache: false,
                type: "get",
                success: function(response) {
                    response = $.parseJSON( response );
                    next_level_id = parseInt(level_id) + 1;

                    _html = `<div class="form-group">
                        <select name="category[]" class="form-control category" data-box-id="${next_level_id}" multiple required>`
                    
                    $( response).each(function( index, value ) {
                        _html += `<option value="${value.id}">${value.name}</option>`;
                    });
                    _html += `</select></div></div>`;

                    var count = next_level_id;
                    for ( count; count < 10; count++) {
                        $('.subcategory_section').find('div.subcategory_box[data-level-id="'+count+'"]').remove();
                    }

                    if(response.length > 0){
                        if( $('div.subcategory_box[data-level-id="'+next_level_id+'"]').length >0 ){
                            $('div.subcategory_box[data-level-id="'+next_level_id+'"]').html(_html);
                        }else{
                            _html = `<div class="subcategory_box" data-level-id="${next_level_id}">${_html}</div>`;
                            $('.subcategory_section').append(_html);
                        }
                        $('.category').select2();
                    }
            
                    
                },
                error: function(xhr) {

                }
            });
        });
    });

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
{% endblock footer %}
