{% extends 'main/base.html' %}
{% load static %}
{% block title %}Catalogue Manager{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Catalogue Manager</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Book Listing</li>
                        </ol>
                    </div>
<!--                    <div class="page_title_right">-->
<!--                        <div class="page_date_button d-flex align-items-center">-->
<!--                            <img src="{% static 'img/icon/calender_icon.svg' %}" alt=""> August 1, 2020 - August 31, 2020-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="white_box_tittle list_header">
                            <div class="col-xl-12">
                                <h4>Bulk Import Books records by Excel </h4>
                            </div>                    
                      </div>
                      <div class="QA_section" style="margin-left: 15px;">
                      <form action="{% url 'ebook:bulk_import_book' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="importData" required>
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30 pt-4">
                    <div class="white_card_body">
                        <div class="QA_section">
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                                {% endfor %}
                             {% endif %}
                             
                            <div class="white_box_tittle list_header">
                                <div class="col-xl-4">
                                    <h4>Catalogue List </h4>
                                </div>
                                
                                <div class="box_right d-flex lms_block col-xl-4">
                                    
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text"  id="search_table" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ml-10">
                                        <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
                                    </div>
                                </div>
<!--                                <div class="1col-xl-2">-->
<!--                                    <button class="btn btn_1" data-toggle="modal" data-target="#exampleModalCenter">Add New User</button>-->
<!--                                </div>-->
                            </div>

                            <div class="QA_table mb_30">
                                <!-- table-responsive -->
                                <table class="table lms_table_active " id="myTable">
                                    <thead>
                                        <tr>
                                            <th scope="col">S.no</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Meta Data</th>
                                            <th scope="col">Author Name</th>
                                            <!--<th scope="col">Subject</th>-->
                                            <th scope="col">Language</th>
                                            <th scope="col">Version</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for book in book_list %}
                                          <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <th scope="row">{{book.title|default_if_none:'-'}}</th>
                                                <th scope="row">{% for i in book.category.all %} {{i.name}} {% if not forloop.last %}, {% endif %} {% endfor %}</th>
                                                <th scope="row">{{book.meta_data}}</th>
                                                <th scope="row">{{book.author_name|default_if_none:'-'}}</th>
                                                <!--<th scope="row">{{book.subject|default_if_none:'-'}}</th>-->
                                                <th scope="row">{{book.language|default_if_none:'-'}}</th>
                                                <th scope="row">{{book.version|default_if_none:'-'}}</th>
                                                <th scope="row">
                                                    <div class="action_btns d-flex">
                                                        <a href="{% url 'ebook:edit_catalogue_manager' pk=book.id %}" class="action_btn mr_10"><i class="far fa-edit"></i></a>
                                                        <a href="{% url 'ebook:book_delete' pk=book.id %}" class="action_btn"
                                                                onclick="return confirm('Are you sure you want to delete this item?');">
                                                              <i class="fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </th>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}