{% extends 'main/base.html' %}
{% load static %}
{% block title %}Book Manager{% endblock title %}

{% block content %}
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left d-flex align-items-center">
                        <h3 class="f_s_25 f_w_700 dark_text mr_30">Book Manager</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Edit Book</li>
                        </ol>
                    </div>
<!--                    <div class="page_title_right">-->
<!--                        <div class="page_date_button d-flex align-items-center">-->
<!--                            <img src="{% static 'img/icon/calender_icon.svg' %}" alt=""> August 1, 2020 - August 31, 2020-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0">
<!--                            <div class="main-title">-->
<!--                                <h3 class="m-0">Basic Form</h3>-->
<!--                            </div>-->
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                                {% endfor %}
                             {% endif %}
                        </div>
                    </div>
                    <div class="white_card_body">
                        <ul class="nav nav-tabs">
                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#book_detail">Book Details</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#right_and_pricing">Rights and pricing</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#cover_file">Cover and content files</a>
                          </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <br>
                          <div class="tab-pane container active" id="book_detail">
                              <form action="{% url 'ebook:book_manager' %}" method="post">
                                  {% csrf_token %}
                                  <div class="form-group">
                                    <label for="category">Category <span class="text-danger">*</span></label>
                                    <select name="category[]" id="category" class="form-control category" data-box-id="0" multiple>
                                        <!-- <option value="">---- Select Category ----</option> -->
                                        {% for i in cat_list %}
                                            <option value="{{i.id}}" {% if i in book_obj.category.all %} selected {% endif %}>{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                  <div class="form-group">
                                    <select name="category[]" id="category1" class="form-control category" data-box-id="0" multiple>
                                        <!-- <option value="">---- Select Category ----</option> -->
                                        {% for i in cat_list2 %}
                                            <option value="{{i.id}}" {% if i in book_obj.category.all %} selected {% endif %}>{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                  <div class="form-group">
                                    <select name="category[]" id="category2" class="form-control category" data-box-id="0" multiple>
                                        <!-- <option value="">---- Select Category ----</option> -->
                                        {% for i in cat_list3 %}
                                            <option value="{{i.id}}" {% if i in book_obj.category.all %} selected {% endif %}>{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="subcategory_section1">

                                </div>

                                  <div class="form-group row">
                                          <label for="" class="col-sm-2 col-form-label">Active</label>
                                          <div class="col-sm-10">
                                            <input type="checkbox" name="active" class="form-control1" {% if book_obj.is_active %}checked {% endif %}>
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                          <label for="" class="col-sm-2 col-form-label">Popular</label>
                                          <div class="col-sm-10">
                                            <input type="checkbox" name="popular" class="form-control1" {% if book_obj.popular %}checked {% endif %}>
                                          </div>
                                      </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputEmail3" name="title" placeholder="Title" value="{{book_obj.title}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Sub Title</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputEmail3" name="sub_title" placeholder="Sub Title" value="{{book_obj.sub_title|default_if_none:''}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Version</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="version" value="{{book_obj.version|default:''}}" class="form-control" id="inputPassword3" placeholder="Version">
                                        </div>
                                    </div>
                                  <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Author Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="author_name" value="{{book_obj.author_name}}" class="form-control" id="inputPassword4" placeholder="Author Name">
                                        </div>
                                    </div>
                                  <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Identifier Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="identifier_name" value="{{book_obj.identifier_name}}" class="form-control" id="inputPassword5">
                                        </div>
                                    </div>

                                  <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Publisher</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="publisher" value="{{book_obj.publisher}}" class="form-control">
                                        </div>
                                    </div>
                                  <!--<div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Subject</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="subject" value="{{book_obj.subject}}" class="form-control">
                                        </div>
                                    </div>-->

                                  <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Reference ID</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="reference_id" value="{{book_obj.reference_id|default:''}}" class="form-control">
                                        </div>
                                    </div>

                                  <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Contributors</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="contributors" value="{{book_obj.contributors|default:''}}" class="form-control">
                                        </div>
                                    </div>

                                  <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Pre-Order Release Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" name="pre_order" value="{{book_obj.pre_order}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="publication_date" class="col-sm-2 col-form-label">Publication Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="publication_date" id="publication_date" value="{{book_obj.publication_date}}">
                                        </div>
                                    </div>

                                  <div class="form-group row">
                                      <label for="publication_date" class="col-sm-2 col-form-label">Change history</label>
                                        <div class="col-sm-10">
                                          <label for="">Add a comment for the change history (optional)</label>
                                          <textarea name="change_history" id="comment" class="form-control" placeholder="Enter changes being made">{{book_obj.change_history|default_if_none:''}}</textarea>
                                          <input type="hidden" name="book_id" value="{{ book_obj.id }}">
                                          <input type="hidden" name="form_type" value="1">
                                      </div>
                                  </div>

                                  <div class="form-group row">
                                      <label for="publication_date" class="col-sm-2 col-form-label">Language</label>
                                        <div class="col-sm-10">
                                              <label for="">Book Language</label>
                                              <select name="language" id="lang" class="form-control">
                                                  <option value="en">English</option>
                                                  <option value="hi">Hindi</option>
                                              </select>
                                          </div>
                                      </div>

                                  <div class="form-group row">
                                      <label for="publication_date" class="col-sm-2 col-form-label">Availability</label>
                                        <div class="col-sm-10">
                                              <label for="">Do you want to activate this title in the Amazon Store?</label><br>
                                              <input type="radio" name="availability" value="1"> Yes
                                              <input type="radio" name="availability" value="0" checked> No
                                          </div>
                                      </div>

                                  <div class="form-group row">
                                       <label for="publication_date" class="col-sm-2 col-form-label">Title Identifier</label>
                                        <div class="col-sm-10">
                                              <label for="">ASIN</label>
                                              <input type="text" value="{{ book_obj.asin|default_if_none:'' }}" name="asin" class="form-control" onkeypress="return isNumber(event)" >
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                       <label for="eISBN" class="col-sm-2 col-form-label">eISBN</label>
                                        <div class="col-sm-10">
                                              <label for="eISBN">Add eISBN</label>
                                              <input type="text" value="{{ book_obj.eISBN|default_if_none:'' }}" name="eISBN" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                       <label for="related_print_ISBN" class="col-sm-2 col-form-label">Related Print ISBN</label>
                                        <div class="col-sm-10">
                                              <label for="related_print_ISBN">Add related print ISBN</label>
                                              <input type="text" value="{{ book_obj.related_print_ISBN|default_if_none:'' }}" name="related_print_ISBN" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Volume</label>
                                        <div class="col-sm-10">
                                              <input type="text" value="{{ book_obj.volume|default_if_none:'' }}" name="volume" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Edition</label>
                                        <div class="col-sm-10">
                                              <input type="text" value="{{ book_obj.edition|default_if_none:'' }}" name="edition" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Edited By</label>
                                        <div class="col-sm-10">
                                              <input type="text" value="{{ book_obj.edited_by|default_if_none:'' }}" name="edited_by" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Imprint</label>
                                        <div class="col-sm-10">
                                              <input type="text" value="{{ book_obj.imprint|default_if_none:'' }}" name="imprint" class="form-control">
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea rows="5" name="description" class="form-control">{{ book_obj.description|default_if_none:'' }}</textarea>
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Keywords</label>
                                        <div class="col-sm-10">
                                            <textarea rows="5" name="keywords" class="form-control">{{ book_obj.keywords|default_if_none:'' }}</textarea>
                                          </div>
                                      </div>
                                  <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Rating(Max 5)</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="no_of_reviews" class="form-control"  value="{{ book_obj.no_of_reviews|default_if_none:'' }}" max="5">
                                          </div>
                                      </div>

                             <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Rating Description</label>
                                        <div class="col-sm-10">
                                           <textarea rows="5" name="review_description" class="form-control">{{ book_obj.review_description|default_if_none:'' }}</textarea>
                                          </div>
                                      </div>

                                  <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Rating Given By</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="review_user" class="form-control"  value="{{ book_obj.review_user|default_if_none:'' }}" max="5">
                                          </div>
                                      </div>

                                  <div class="form-group row">
                                       <label for="volume" class="col-sm-2 col-form-label">Rating Given Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" name="review_date" class="form-control"  value="{{ book_obj.review_date }}">
                                          </div>
                                  </div>
                                      
                                  <input type="submit" value="Save" class="btn btn-primary">
                              </form>
                          </div>

                          <div class="tab-pane container fade" id="right_and_pricing">
                              <form action="{% url 'ebook:book_manager' %}" method="post">
                                  {% csrf_token %}
                                  <input type="hidden" name="book_id" value="{{ book_obj.id }}">
                                  <input type="hidden" name="form_type" value="2">
                                  <div class="form-group row" style="display: none">
                                          <label for="" class="col-sm-2 col-form-label">Active</label>
                                          <div class="col-sm-10">
                                            <input type="checkbox" name="active" class="form-control1" {% if book_obj.is_active %}checked {% endif %}>
                                          </div>
                                      </div>
                                  <div class="form-group row" style="display: none">
                                          <label for="" class="col-sm-2 col-form-label">Popular</label>
                                          <div class="col-sm-10">
                                            <input type="checkbox" name="popular" class="form-control1" {% if book_obj.popular %}checked {% endif %}>
                                          </div>
                                      </div>

                                    <div class="row">
                                      <div class="col-md-2">
                                          <p>Publishing Territories</p>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <input type="radio" name="rd_territory" value="ind" {% if not book_obj.territory_out %} checked {% endif %}/> All India
                                              <input type="radio" name="rd_territory" value="oind" {% if book_obj.territory_out %} checked {% endif %}/> Rest Of the World
                                            
                                              <select name="territories" id="territories_ind" class="form-control">
                                                    {% for ter in territory_ind %}
                                                        <option value="{{ ter.name }}" {% if book_obj.territories == ter.name  %} selected {% endif %}>{{ ter.name }}</option>
                                                    {% endfor %}
                                              </select>
<!--                                              <select name="territories" id="territories_oind" class="form-control" style="display: none;" {% if not book_obj.territory_out %} disabled="disabled" {% endif %}>-->
<!--                                                {% for ter in territory_oind %}-->
<!--                                                <option value="{{ ter.name }}" {% if book_obj.territories == ter.name  %} selected {% endif %}>{{ ter.name }}</option>-->
<!--                                                {% endfor %}-->
<!--                                          </select>-->
                                          <input type="hidden" name="territory_out" id="territory_out" value="0"/>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-2">
                                          <p>Digital Price by Currency</p>
                                      </div>
                                      <div class="col-md-6">

                                          <div class="form-group" id="price_by_currency" style="display: {% if book_obj.territory_out %} block {% else %} none {% endif %}">
<!--                                              <label for="">Price by currency (<span id="currency_symbol"></span>)</label>-->
                                              <label for="">Price by currency ($)</label>
                                              <input type="number" min="0" name="price_by_currency" required class="form-control" value="{{book_obj.price_by_currency|floatformat:0}}">
                                          </div>

                                          <div class="form-group" id="price_in_inr" style="display: {% if not book_obj.territory_out %} block {% else %} none {% endif %}">
                                              <label for="">Price by currency (&#8377;)</label>
                                              <input type="number" min="0" name="price_in_inr" required class="form-control" value="{{book_obj.price_in_inr|floatformat:0}}">
                                          </div>

                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-md-2">
                                          <p>Taxes</p>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="">Taxes in percent</label>
                                              <input type="number" min="0" name="tax" required class="form-control" value="{{book_obj.tax}}">
                                          </div>
                                      </div>
                                  </div>
                                  <input type="submit" value="Save" class="btn btn-primary">
                              </form>
                          </div>

                          <div class="tab-pane container fade" id="cover_file">
                              <form action="{% url 'ebook:book_manager' %}" method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <input type="hidden" name="book_id" value="{{ book_obj.id }}">
                                  <input type="hidden" name="form_type" value="3">

                                  <div class="form-group row" style="display: none">
                                          <label for="" class="col-sm-2 col-form-label">Active</label>
                                          <div class="col-sm-10">
                                            <input type="checkbox" name="active" class="form-control1" {% if book_obj.is_active %}checked {% endif %}>
                                          </div>
                                      </div>
                                  <div class="form-group row" style="display: none">
                                          <label for="" class="col-sm-2 col-form-label">Popular</label>
                                          <div class="col-sm-10">
                                            <input type="checkbox" name="popular" class="form-control1" {% if book_obj.popular %}checked {% endif %}>
                                          </div>
                                      </div>

                                  <div class="row">
                                      <div class="col-md-2">
                                          <p>Content file</p>
                                      </div>
                                      <div class="col-md-8">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6>Content file</h6>
                                                  <h6>{{book_obj.epub_file}}</h6>
                                                  <a href="{% if book_obj.epub_file %}{{book_obj.epub_file.url}}{% endif %}" download>Download uploaded file</a>
                                              </div>
                                              <div class="col-md-6">
                                                  <h6>Status</h6>
                                                  <h6>This file was processed successfully.</h6>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6>Updated date</h6>
                                                  <h6>{{book_obj.updated_at|date:"M d, Y"}}</h6>
                                              </div>
                                              <div class="col-md-4">
                                                  <h6>Updated by</h6>
                                                  <h6>{% if book_obj.updated_by %}{{ book_obj.updated_by}}{% else %} {{book_obj.created_by}}{% endif %}</h6>
                                              </div>
                                              <div class="col-md-4">
                                                  <h6>Converted by</h6>
                                                  <h6>Publisher</h6>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <input type="file" class="form-control-file" name="epub_file" accept=".epub, .pdf">
                                          </div>
<!--                                          <button class="btn btn-sm btn-info">Upload</button>-->
                                      </div>
                                      <br>
                                  </div>

                                  <div class="row">
                                      <div class="col-md-2">
                                          <p>Content Sample file</p>
                                      </div>
                                      <div class="col-md-8">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6>Content sample file</h6>
                                                  <h6>{{book_obj.epub_sample_file}}</h6>
                                                  <a href="{% if book_obj.epub_sample_file %}{{book_obj.epub_sample_file.url}}{% endif %}" download>Download uploaded file</a>
                                              </div>
                                              <div class="col-md-6">
                                                  <h6>Status</h6>
                                                  <h6>This file was processed successfully.</h6>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6>Updated date</h6>
                                                  <h6>{{book_obj.updated_at|date:"M d, Y"}}</h6>
                                              </div>
                                              <div class="col-md-4">
                                                  <h6>Updated by</h6>
                                                  <h6>{% if book_obj.updated_by %}{{ book_obj.updated_by}}{% else %} {{book_obj.created_by}}{% endif %}</h6>
                                              </div>
                                              <div class="col-md-4">
                                                  <h6>Converted by</h6>
                                                  <h6>Publisher</h6>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <input type="file" class="form-control-file" name="epub_sample_file" accept=".epub, .pdf">
                                          </div>
<!--                                          <button class="btn btn-sm btn-info">Upload</button>-->
                                      </div>
                                      <br>
                                  </div>

                                  <div class="row">
                                      <div class="col-md-2">
                                          <p>Cover file</p>
                                      </div>
                                      <div class="col-md-8">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <h6>Cover file</h6>
                                                  <h6>{{ book_obj.cover_file}}</h6>
                                                  <a href="{% if book_obj.cover_file %}{{ book_obj.cover_file.url}}{% endif %}" download>Download uploaded file</a>
                                              </div>
                                              <div class="col-md-4">
                                                  <h6>Upload date</h6>
                                                  <h6>12/6/21</h6>
                                              </div>
                                              <div class="col-md-4">
                                                  <h6>Uploaded by</h6>
                                                  <h6>raghu</h6>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <input type="file" class="form-control-file" name="cover_file" accept=".jpg, .png, .jpeg">
                                          </div>
<!--                                          <button class="btn btn-sm btn-info">Upload</button>-->
                                      </div>
                                  </div>
                                  <input type="submit" value="Save" class="btn btn-primary">
                              </form>
                          </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}
<script>
    $(document).ready(function() {
        $('.category').select2();

        $(document).on('change', '.category', function(){
            // debugger
            var category_id_array = $(this).val();
            if(category_id_array.length == 0){
                return
            }
            category_id_str = category_id_array +"";


            var level_id = $(this).data('box-id');

            $.ajax({
                url: "/superadmin/category/get-subcategory/",
                data: {
                    "category_ids": category_id_str
                },
                cache: false,
                type: "get",
                success: function(response) {
                    response = $.parseJSON( response );
                    next_level_id = parseInt(level_id) + 1;

                    _html = `<div class="form-group">
                        <select name="category[]" class="form-control category" data-box-id="${next_level_id}" multiple required>`

                    $( response).each(function( index, value ) {
                        _html += `<option value="${value.id}">${value.name}</option>`;
                    });
                    _html += `</select></div></div>`;

                    var count = next_level_id;
                    for ( count; count < 10; count++) {
                        $('.subcategory_section').find('div.subcategory_box[data-level-id="'+count+'"]').remove();
                    }

                    if(response.length > 0){
                        if( $('div.subcategory_box[data-level-id="'+next_level_id+'"]').length >0 ){
                            $('div.subcategory_box[data-level-id="'+next_level_id+'"]').html(_html);
                        }else{
                            _html = `<div class="subcategory_box" data-level-id="${next_level_id}">${_html}</div>`;
                            $('.subcategory_section').append(_html);
                        }
                        $('.category').select2();
                    }


                },
                error: function(xhr) {

                }
            });
        });
    });
</script>
    <script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
{% endblock footer %}
