/* variables */

:root {
    --dark-background: #1e1e2d;
    --super-dark-background: #000015;
    --red-text: #F65365;
    --dark-purple: #3e2473;
    --dark-green: #008830;
    --dark-orange: #d24804;
    --dark-red: #d00505;
    --white-text:#ffffff;
    --dark-gray:#81879F;
}


/* Theme Toggle button */

.theme_toggle {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 99999999;
    background: #fff;
    border-radius: 35px 0 0 35px;
    box-shadow: inset 0px 0px 15px rgb(0 0 0 / 18%);
    width: 70px;
    transform: translateX(20px);
    transition: all 0.5s ease;
}

.theme_toggle img {
    height: 25px;
}

.theme_toggle:hover {
    transform: translateX(0px);
    transition: all 0.5s ease;
}

.theme_toggle #light-mode {
    display: none;
}

.theme_toggle.active-mode #light-mode {
    display: block;
}

.theme_toggle.active-mode #dark-mode {
    display: none;
}


/*  ======================================================Dark Theme Css===================================================*/

.dark_theme .sidebar,
.dark_theme .sidebar .logo,
.dark_theme .header_iner,
.dark_theme .white_box,
.dark_theme .white_card,
.dark_theme .QA_section .QA_table .table,
.dark_theme table.dataTable tbody tr,
.dark_theme .dataTables_paginate a,
.dark_theme .row.vertical-scroll.scroll-demo.ps-container.ps-theme-default.ps-active-y,
.dark_theme .cs_modal .modal-body,
.dark_theme .cs_modal .modal-body p a,
.dark_theme .custom-card.card,
.dark_theme .custom-card .card-footer {
    background: var(--dark-background) !important;
}
.dark_theme .cs_modal .modal-body{
    border: 1px solid var(--white-text) !important;
}
.dark_theme .custom-card .card-footer{
    border-top: 1px solid var(--dark-gray);
}
.dark_theme .custom-card .card-footer>div+div{
    border-left: 1px solid var(--dark-gray);
}
.dark_theme .accordion_custom .card .card-header h2 a.collapsed,
.dark_theme .accordion_custom2 .card .card-header h2 a.collapsed
{
    background: var(--dark-gray)!important;
}
.dark_theme .cs_modal .modal-body input, .cs_modal .modal-body .nice_Select{
    border: 0px;
}
.dark_theme .sidebar #sidebar_menu>li a.active {
    background: var(--super-dark-background);
    color: var(--red-text);
    border-radius: 0;
}
.dark_theme,
.dark_theme .scroll-demo,
.dark_theme .QA_section .QA_table .table,
.dark_theme .main_content .main_content_iner,
.dark_theme .QA_section .QA_table .table thead th:first-child,
.dark_theme .QA_section .QA_table .table thead th,
.dark_theme .QA_section .QA_table .table thead th:last-child,
.dark_theme .QA_section .QA_table tbody tr,
.dark_theme .sidebar #sidebar_menu>li ul,
.dark_theme .single_user_pil,
.dark_theme .serach_field-area .search_inner input,
.dark_theme .nice_Select2,
.dark_theme .nice-select .option,
.dark_theme .nice-select .option:hover,
.dark_theme .nice-select .option.focus,
.dark_theme .nice-select .option.selected.focus,
.dark_theme .nice-select .list:hover .option:not(:hover),
.dark_theme .header_more_tool .dropdown span,
.dark_theme .common_input input,
.dark_theme .dropdown-item,
.dark_theme .profile_info .profile_info_iner,
.dark_theme .profile_info .profile_info_iner::before,
.dark_theme .serach_field_2 .search_inner input,
.dark_theme .custom-card .card-profile img,
.dark_theme .form-control {
    background: var(--super-dark-background) !important;
}

.dark_theme .sidebar #sidebar_menu>li a {
    background: transparent;
}

.dark_theme .sidebar #sidebar_menu>li>a,
.dark_theme .sidebar #sidebar_menu>li ul li a,
.dark_theme .QA_section .QA_table .table thead th,
.dark_theme .QA_section .QA_table .question_content,
.dark_theme .main-title h3,
.dark_theme .color_text_1,
.dark_theme .color_text_2,
.dark_theme .color_text_3,
.dark_theme .color_text_4,
.dark_theme .color_text_5,
.dark_theme .color_text_6,
.dark_theme .color_text_7,
.dark_theme .color_text_8,
.dark_theme table.dataTable tbody th,
.dark_theme table.dataTable tbody td,
.dark_theme .nice_Select2,
.dark_theme .nice-select .option,
.dark_theme .nice-select .option:hover,
.dark_theme .nice-select .option.focus,
.dark_theme .nice-select .option.selected.focus,
.dark_theme .dropdown .dropdown-menu .dropdown-item,
.dark_theme .text_color_11,
.dark_theme ::placeholder,
.dark_theme .dataTables_wrapper .dataTables_length,
.dark_theme .dataTables_wrapper .dataTables_filter,
.dark_theme .dataTables_wrapper .dataTables_info,
.dark_theme .dataTables_wrapper .dataTables_processing,
.dark_theme .dataTables_wrapper .dataTables_paginate,
.dark_theme .dataTables_paginate a i,
.dark_theme .dataTables_wrapper .dataTables_paginate .paginate_button,
.dark_theme .single_user_pil .user_info,
.dark_theme .profile_info h5,
.dark_theme .profile_info .profile_info_details a {
    color: #fff !important;
}

.dark_theme .QA_section .QA_table .table thead th:first-child,
.dark_theme .QA_section .QA_table .table thead th,
.dark_theme .QA_section .QA_table .table thead th:last-child,
.dark_theme .scroll-demo,
.dark_theme .common_input input,
.dark_theme .serach_field_2 .search_inner input,
.dark_theme .nice_Select2.nice_Select_line{
    border-color: var(--dark-background) !important;
}
.dark_theme .header_more_tool .dropdown .dropdown-menu {
    box-shadow: 0px 0px 11px 1px rgb(64 64 88 / 44%);
}
.dark_theme .serach_field_2 .search_inner input,
.dark_theme .serach_field-area .search_inner input,
.dark_theme .custom-card .card-footer>div h6,
.dark_theme .custom-card .profile-details h6,
.dark_theme h1, h2, h3, h4, h5, h6{
    color: var(--dark-gray);
}

.dark_theme .accordion_custom .card .card-body p,
.dark_theme .accordion_custom2 .card .card-body p{
    color: var(--white-text);
}
.dark_theme .btn_1,
.dark_theme .btn-primary,
.dark_theme .cs_modal .modal-header,
.dark_theme #back-top a,
.dark_theme .accordion_custom .card .card-header h2 a,
.dark_theme .accordion_custom2 .card .card-header h2 a {
    background: var(--dark-purple) !important;
    border-color: var(--dark-purple) !important;
}
.dark_theme .action_btn:hover{
    background: var(--dark-purple) !important;
    border-color: var(--dark-purple) !important;
    color: var(--dark-gray) !important;
}
.dark_theme .accordion_custom .card,
.dark_theme .accordion_custom2 .card .card-body
{
    background: var(--dark-background) !important;;
}
.dark_theme .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dark_theme .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background-color:var(--dark-purple) !important;
}
.dark_theme .status_btn {
    background: var(--dark-green) !important;
}

.dark_theme .serach_field-area .search_inner button,
.dark_theme .lms_checkbox_1 .slider-check::before {
    background: var(--dark-orange) !important;
}
.dark_theme .custom-card .card-social li a {
    color: var(--dark-purple) !important;
}
.dark_theme .lms_checkbox_1 input:checked+.slider-check:before{
    background: var(--dark-purple) !important;
}
.dark_theme .action_btn,
.dark_theme .role--link {
    color: var(--dark-purple) !important;
}
.dark_theme .text_color_5 {
    color: var(--dark-green) !important;
}

.dark_theme .sidebar #sidebar_menu>li a:hover,
.dark_theme .text_color_1 {
    color: var(--dark-red) !important;
}

.dark_theme .form-control {
    border-color: var(--super-dark-background);
}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}

.dark_theme {}